@charset "Shift-JIS";
<?php header("Content-type: text/css");?>
/* common */
* {
	margin:0;
	padding:0;
}
* {
	margin:0;
	padding:0;
}
body {
	position:relative;
	font:12px/1.4 normal Meiryo, メイリオ, sans-serif;
	color:#fff;
	background:#000 url(http://image.mgame.jp/new_rpg/op7new/bg/bg_index5.jpg) center top no-repeat;
	overflow-x:hidden;

}
input, textarea {
	font:12px/1.4 normal Meiryo, メイリオ, sans-serif;
	background:none;
	border:none;
	color:#fff;
}
img {
	border:0;
}
form {
	display:block;
	float:left;
	overflow:hidden;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
a {
	color:#fff;
	text-decoration:none;
}
a:hover {
	color:#678;
}
ul li {
	list-style:none;
}
.menu li {
	list-style:none;
	float:left;
}
h2,.aid {
	text-align:left;
	text-indent:-99999em;
	overflow:hidden;
}
/* gnb */
.header {
	position:absolute;
	top:0;
	left:50%;
	width:1100px;
	height:73px;
	margin:0 0 0 -550px !important;
	margin:0 0 0 -548px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) center top no-repeat;
}
.all {
	position:relative;
	width:900px;
	margin:0 auto;
}
.nav {
	position:relative;
	width:900px;
	height:67px;
	margin:0 auto;
}
.nav a {
	position:absolute;
	display:block;
	top:0;
	height:49px;
}
.nav .policy {
	left:2px;
	width:118px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -100px -73px no-repeat;
}
.nav .about {
	left:120px;
	width:95px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -218px -73px no-repeat;
}
.nav .clan {
	left:215px;
	width:132px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -313px -73px no-repeat;
}
.nav .guide {
	left:553px;
	width:132px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -651px -73px no-repeat;
}
.nav .download {
	left:685px;
	width:95px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -783px -73px no-repeat;
}
.nav .faq {
	left:780px;
	width:117px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -878px -73px no-repeat;
}
.nav a:hover {
	background:none;
}
.nav .home {
	left:345px;
	width:206px;
	height:75px;
}
.inner {
	position:absolute;
	top:-170px;
	left:50%;
	width:920px;
	height:200px;
	margin:0 0 0 -460px !important;
	padding:0;
}
.inner_bg {
	position:absolute;
	width:920px;
	height:250px;
	margin:0;
	padding:0;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_innermenu.png) 0 0 no-repeat;
}
.close {
	position:absolute;
	display:block;
	top:205px;
	left:400px;
	width:40px;
	height:20px;
	z-index:100;
}
.inner_text {
	position:relative;
	width:840px;
	height:160px;
	margin:20px 40px 0;
}
.inner ul {
	position:relative;
	float:left;
	text-align:center;
	width:90px;
	height:215px;
	overflow:hidden;
	background:url(http://image.mgame.jp/new_rpg/op7new/altpng.gif);
}
.inner .policy,.inner .about,.inner .clan {
	float:left;
	margin:0 10px 0 0;
	opacity:0.5;
}
.inner .guide,.inner .download,.inner .faq {
	float:right;
	margin:0 0 0 10px;
	opacity:0.5;
}
.inner ul li {
	width:90px;
	margin:5px 0;
}
.inner ul li:hover {
	width:100%;
	background: url(http://image.mgame.jp/new_rpg/op7new/bg_navli.png) left top no-repeat;
}
.inner ul li a.long {
	letter-spacing:-2px;
}
/* layout */
#index .contents {
	position:relative;
	float:left;
	width:900px;
	margin:250px 0 20px;
}
#index .contents .common {
	position:relative;
	float:left;
	width:230px;
	margin:0 0 10px;
}
#index .contents .common .gamestart{
	position:relative;
	float:left;
	margin:0 0 10px;
}
#index .contents .common .gamestart a {
	display:block;
	width:230px;
	height:90px;
	background: url(http://image.mgame.jp/new_rpg/op7new/bg_start.png) 0 0 no-repeat;
}
#index .contents .common .gamestart a:hover {
	background: url(http://image.mgame.jp/new_rpg/op7new/bg_start.png) 0 -90px no-repeat;
}
#index .contents .common .log {
	position:relative;
	float:left;
	width:230px;
	height:105px;
	margin:0 0 10px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_login.gif) 0 0 no-repeat;
}
#index .contents .common .logged {
	position:relative;
	float:left;
	width:230px;
	height:105px;
	margin:0 0 10px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_login.png) 0 -105px no-repeat;
}
#index .contents .common .input_frame {
	position:absolute;
	top:15px;
	left:10px;
	width:155px;
	height:55px;
	overflow:hidden;
}
#index .contents .common .log .id,
#index .contents .common .log .pw {
	position:absolute;
	left:165px;
	width:120px;
	height:18px;
	padding:5px 0 2px 35px;
}
#index .contents .common .log .id {
	top:0;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_id.png) top left no-repeat;
}
#index .contents .common .log .pw {
	top:30px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_pw.png) top left no-repeat;
}
#index .contents .common .log .progress {
	position:absolute;
	display:none;
	top:0;
	left:15px;
	width:55px;
	height:55px;
	padding:5px 0 2px 35px;
	background:url(http://image.mgame.jp/new_rpg/op7new/img_pr.gif) top left no-repeat;
}
#index .contents .common .logged .progress {
	position:absolute;
	top:10px;
	left:15px;
	width:130px;
	height:35px;
	padding:5px 0 2px 35px;
	background:url(http://image.mgame.jp/new_rpg/op7new/img_pre.gif) top left no-repeat;
}
#index .contents .common .log .enc {
	position:absolute;
	top:78px;
	left:18px;
}
#index .contents .common .log .login,
#index .contents .common .logged .logout {
	position:absolute;
	top:15px;
	right:10px;
	width:55px;
	height:55px;
}
#index .contents .common .log .find {
	position:absolute;
	bottom:10px;
	right:15px;
	width:100px;
	height:20px;
}
#index .contents .common .banners {
	position:relative;
	float:left;
	width:230px;
	height:240px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_leftbanners.jpg) no-repeat;
}
#index .contents .common .banners a {
	display:block;
	position:relative;
	float:left;
	width:220px;
	height:50px;
	margin:5px 0 0 5px;
}
#index .contents .common .logged .gotoclan {
	position:absolute;
	display:block;
	top:75px;
	left:10px;
	width:210px;
	height:20px;
}
#index .contents .common .logged .welcome {
	position:absolute;
	top:0;
	left:165px;
	width:145px;
	height:70px;
	padding:5px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_logged.png) left top no-repeat;
}
#index .contents .common .logged .welcome p {
	text-align:center;
	font-size:10px;
}
#index .contents .common .logged .welcome p span {
	color:#f80;
	font-weight:bold;
	font-size:12px;
}
#index .contents .common .logged .welcome p a {
	display:block;
	width:78px;
	height:15px;
	margin:2px 0 0 35px;
}
#index .contents .common .maintenance {
	display:block;
	position:relative;
	float:left;
	width:230px;
	height:225px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_index_maintenance.jpg) left top no-repeat;
}
#index .footer {
	position:relative;
	float:left;
	left:50%;
	width:1100px;
	height:90px;
	margin:0 0 20px -550px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_footer.jpg) center 0 no-repeat;
}
#index .footer .submenu_footer,
#index .footer .copyright {
	margin:15px 0 0;
	text-align:center;
}
#index .footer .copyright {
	margin:10px 0 0;
	text-align:center;
}
.ellipsis {
	position:relative;
	display:block;
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	text-overflow:ellipsis;
}
.ellipsis .ellipsis-phantom {
	position:absolute;
}
.ellipsis .ellipsis-phantom,
.ellipsis .ellipsis-phantom * {
	color:transparent !important;
}
.ellipsis window {
	width:100%;
	-moz-user-focus:normal;
	-moz-user-select:text;
}
.ellipsis description {
	-moz-user-focus:normal;
	-moz-user-select:text;
}