@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap");
* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: "Gaegu", sans-serif; */
  line-height: 1.6;
  color: #444;
  font-size: 20px;
  /* -webkit-appearance: none; */
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1 a {
  float: left;
  color: #444;
  font-size: 24px;
  font-weight: 700;
}
a {
  text-decoration: none;
}
a:hover,
label:hover {
  /* border-bottom: 1px solid #888; */
  /* margin-bottom: -1px; */
}
#logo {
  width: 40px;
  vertical-align: text-top;
}
#contact {
  width: 20px;
}
img {
  border: none;
}
.head-icon {
  padding: 6px 10px;
  margin: 0 0 0 8px;
  background: #444;
  color: #fff !important;
}
.head-icon:hover {
  background: #000;
}
.site-wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 24px 0;
}
.site-wrap:after {
  content: "";
  display: block;
}
.footer {
  height: 100px;
}
.post.wrap {
  margin-bottom: 120px;
}
body {
  font-size: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
address * {
  font-size: 12px !important;
}
.site-header a {
  color: #333;
  font-weight: 400;
}
.site-header nav a {
  font-size: 16px;
  color: #444;
}
.site-header nav a:hover {
  color: #000;
  opacity: 1;
  /*border-bottom: 2px solid #444;*/
}
/* .site-nav a + a {
  margin-left: 16px;
} */
.site-nav {
  float: right;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.post.wrap {
  width: 100%;
  overflow: hidden;
}
.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}
.posts {
  margin: 0;
}
.posts .post {
  margin-bottom: 16px;
  padding-bottom: 8px;
}
.posts .post:last-child {
  border-bottom: none;
  margin-bottom: 8px;
  padding-bottom: 0;
}
.post-link .post-title {
  margin-top: 0;
  font-weight: 700;
  color: #444;
}
.pagination,
.button {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.pagination a,
.pagination .disabled {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #fafafa;
  border-radius: 0.1875em;
  border: 1px solid #f3f3f3;
  color: #444;
  padding: 16px 24px;
}
.pagination .disabled {
  opacity: 0.5;
}
.pagination a:hover,
.pagination a:focus {
  background: #f3f3f3;
  color: #444;
}
.pagination a:active {
  background: #f3f3f3;
}
.wrap .measure {
  margin: 0 auto;
}
.meta,
.post-meta {
  width: auto;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 4px 0;
  color: #444;
  font-style: italic;
}
.pagination .button {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}
.button-disabled {
  opacity: 0.55;
  background-color: #999;
}
.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  cursor: not-allowed;
  background-color: #fafafa;
}
form {
  font-weight: 400;
  font-size: 16px;
}
textarea.input {
  height: 32px;
}
p {
  float: left;
  font-size: 20px;
  font-weight: 400;
  color: #444;
}
pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  color: #444;
}
pre {
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  overflow-x: scroll;
  margin-bottom: 16px;
}
.highlight .p {
  font-size: 14px;
}
blockquote {
  padding: 16px;
  font-style: italic;
  border-left: 5px solid #aaa;
}
/*
blockquote footer {
	font-size: 8px;
	font-style: normal;
	background-color: #fff;
	color: #7a7a7a;
	border-color: transparent;
}
*/
ul li {
  float: left;
  width: 100%;
}
h1 {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  line-height: 0;
}
h2,
h3 {
  float: left;
  width: 100%;
  font-weight: 700;
}
h4,
h5,
h6 {
  float: left;
  width: 100%;
  font-weight: 700;
  margin-top: 16px;
}
/* line */
/* #line {
  float: left;
  margin-bottom: 32px;
}
#line section {
  position: relative;
  min-height: 60px;
  clear: both;
}
#line article span {
  color: #aaa;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
}
#line article p {
  font-size: 12px;
  padding-left: 16px;
  text-indent: -8px;
}
#line article em,
#line article em br {
  font-size: 12px;
  line-height: 1px;
  color: #aaa;
}
#line div {
  float: left;
  width: auto;
  margin-bottom: 20px;
}
#line div em {
  line-height: 1;
  display: inline-block;
  padding: 2px 5px;
  margin-left: 8px;
  background-color: #aaa;
  border-radius: 6px;
  color: #fff;
} */
article,
section {
  width: 100%;
  overflow: hidden;
  margin: 24px 0;
}
/* tbb */
input[name="tabs"] {
  display: none;
}
label {
  display: block;
  padding: 12px 0 18px;
  text-align: center;
  float: left;
  margin: 15px 0;
  width: 25%;
  font-size: 20px;
  color: #888;
  cursor: pointer;
}
/* a,
label:hover {
  border-bottom: 1px dashed #888;
} */
a,
input + label {
  border-bottom: 1px #aaa dashed;
}
input:checked + label {
  /* font-size: 24px;
  padding: 0 0 15px;
  width: 50%;
  border-bottom: 2px #aaa solid;
	color: #444; */
  font-weight: 700;
  border-bottom: 2px #aaa solid;
}
/* input:checked + label:hover {
  border-bottom: 2px #aaa solid;
} */
.content > div {
  display: none;
}
.home label {
  height: 52px;
}
#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3 {
  display: block;
}

input#search {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  box-shadow: none;
}
#selectedlink,
#selectedtitle,
#selecteddescription {
  padding: 12px;
}
@media screen and (max-width: 48em) {
  .site-header {
    text-align: center;
  }
  .site-header .site-nav {
    width: auto;
    float: right;
    text-align: center;
  }
}
@media screen and (min-width: 48em) {
  .meta,
  .post-meta {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .h1,
  h1 {
    /* font-size: 36px;
    line-height: 48px; */
  }
  .h2,
  h2 {
    /* font-size: 28px;
    line-height: 28px; */
  }
  .h3,
  h3 {
    /* font-size: 24px;
    line-height: 24px; */
  }
  .p,
  p,
  li {
    /* font-size: 20px; */
  }
  .small {
    font-size: 6px;
  }
  .posts .post {
    margin-bottom: 24px;
    padding-bottom: 16px;
  }
  .posts .post:last-child {
    border-bottom: none;
    margin-bottom: 8px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 64em) {
  .h1,
  h1 {
    font-size: 20px;
    line-height: 36px;
  }
  .h2,
  h2 {
    font-size: 20px;
    line-height: 36px;
  }
  .posts .post {
    margin-bottom: 48px;
    padding-bottom: 24px;
  }
  .posts .post:last-child {
    border-bottom: none;
    margin-bottom: 16px;
    padding-bottom: 0;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: thin solid #f3f3f3;
}
footer,
footer .wrap {
  color: #444;
  background-color: #fafafa;
  font-weight: 300;
  align-items: center;
  clear: both;
}
footer .wrap small {
  line-height: 100px;
}
footer:after {
  content: "";
  display: block;
}
