#grCounter {
	border: #eee 2px solid;
	font-size: 11px;
	background-color: #f9f9f9;
	font-family: tahoma, sans-serif;
}

#grCounter ul {
	margin: 5px;
	padding: 5px;
}

#grCounter li {
	color: #999;
	list-style: none;
}