/* 
 * COMMON TAG ELEMENTS 
 */
* {
	color: #555;
	font-size: 10pt;
	font-family: "Malgun Gothic", 맑은고딕, sans-serif;
}
a {
	text-decoration: none;
	color: #2074bb;
}
a:hover {
	text-decoration: none;
	color: #5dad3e;
}
img {
	border: 0 none;
}
form {
	margin: 0;
	padding: 0;
}
body {
	margin:0; 
	padding:0;
	width:auto; 
	height:auto;
	background:#23292f url(images/background.gif) repeat-x top center fixed;
	font:normal 10pt Georgia, "Times New Roman", Times, serif; 
	color: #6c6159;
	line-height:160%;
}
code {
	display: block;
	font-family: "Lucida Console", sans-serif;
	color: #bbb;
	background-color: #000;
	margin: 10px;
	padding: 5px;
	line-height: 160%;
	font-size: 12px;
	border: #aaa 2px solid;
	height: 250px;
	overflow: auto;
}
h3 {
	margin:0; padding: 0 0 10px 0;
	font: bold 2.50em Arial, Helvetica, sans-serif; color:#23292f;
}
h3.page-title {
	margin:0; padding:0 0 20px 0;
	font-size: 18pt;
	line-height: 160%;
	font-family: Malgun Gothic, sans-serif;
	font-weight: normal;
	color: #fff;
}
h3 a:hover {
	color: #ddd;
}
h4 {
	margin:0; padding: 3px 0 15px 0;
	font: bold 14pt Arial, Helvetica, sans-serif; color:#23292f;
}
h5 {
	margin:0 0 10px 0; padding:0;
	font: 12pt "Malgun Gothic", sans-serif; color:#aead99;
	font-weight: bold;
}
a:link, a:active, a:visited {
	color:#23292f;
}
h3 a, h4 a {
	font-size: 14pt;
	font-family: Malgun Gothic, sans-serif;
}
#navigation a {
	font:normal 12pt "Malgun Gothic", 맑은고딕, serif; color:#c4c4c3;
	font-weight: bold;
}
#right-content li ul li, #right-content li ul li a { margin:0; padding:0 5px 0 5px; font:normal 11px Dotum, 돋움, sans-serif; color:#797a67; }
#right-col .content a:hover { color:#4b463d; }
#right-content li ul li a:hover { color:#424334; text-decoration:none; }
.inline { display:inline; }
.block { display:block; }

/* Misc */
#featured p { font-size: 10pt; font-family: Gulim, verdana, sans-serif; }

/* Buttons */
.btn, a.btn:link, a.btn:active, a.btn:visited, .submit {
	text-align:center;
	font:normal 10pt Arial, Helvetica, sans-serif; color:#fff;
	line-height:24px; 
	cursor: pointer;
}
.btn:hover { background-color: #566675; color: #23292f; }
.box { font-size:0.75em;	}
.btn-footer, a.btn-footer:link, a.btn-footer:active, a.btn-footer:visited { font-weight: bold; font-size:1.10em; }
.post-meta, .post-meta-single { font: 11px Verdana, sans-serif; color:#ccc; }
.tags { margin: 10px 0 10px 0; font: 11px Arial, Helvetica, sans-serif; color:#827c78; display:block; }
.tags a { font: 11px Dotum, 돋움, sans-serif; color:#827c78; font-size:1em;}
#right-col { font: 1em Arial, Helvetica, sans-serif; color:#797a67; line-height:130%; }

/* STRUCTURE */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
.left, .alignleft { float:left; }
.right, .alignright { float:right; }
#main {
	margin:0; padding:0;
	width:100%; height:100%;
	position:relative;
}

#main-top { margin:0; padding:0; width:100%; height:100%; position:relative; }
#container { margin:0 auto; padding:0; width:990px; height:auto; }
#content-back { margin:40px 0 0 0; padding:0; width:990px; height:auto; overflow:visible; }
#content-bottom { margin:0; width:990px; height:auto; float:left; }
#left-col { margin:0; padding:0; width:745px; height:auto; float:left; }		
#right-col { margin: 0 0 0 15px; padding:0; width:230px; height:auto; float:right; position:relative; }
#navigationed { margin:0 auto; padding:0; width:955px; height:87px; }

/* HEADER */
#navigation {
	margin: 40px 0 0 7px; padding: 7px 0;
	list-style:none; display:inline-block !important; display:inline;
	background:url(images/top.menu.back.png) repeat-x;
}
#navigation li { padding: 0 12px; float:left; vertical-align: middle; }

/* LEFT COLUMN */
.left-content { margin: -35px 0 0 13px; position: relative; background-color: #fff; border: #343e47 5px solid; }
.post {
	margin: 0 15px 0 15px; padding: 10px 0 10px 0;
	font-size: 10pt;
	font-family: Gulim, verdana, sans-serif;
	border-bottom: #ddd 1px solid;
}
.post-meta { margin:10px 0 0 0; padding:0; }
.post-meta span { color: #343e47; }
.post-meta-single { margin:5px 0 0 0; padding:0;}
.post img { margin: 5px 10px 0 0; border: 0 none; float: left; border: #ddd 3px solid; }
			
.pagination {
	margin: 0 0 20px 0; padding:0 0 10px 0;
	width:auto; height:auto;
	text-align:center;
	color: #616e7c;
}

.pagination a {
	font:normal 1em Verdana, Arial, Helvetica, sans-serif;
	padding: 0 3px 0 8px;
	border-left: #363E47 1px solid;
	line-height: 32px;
	color: #616e7c;
}

.pagination strong {
	padding: 0 3px 0 8px;
	border-left: #363E47 1px solid;
}

/* Calendar */
#topCalendar { width: 200px; text-align: center; color: #797a67; }
#topCalendar a { color: #797a67; }
#topCalendar .nowMonth { font-size: 18px; color: #797a67; }
li.calendar { width: 200px; }
li.calendar table { margin-top: 10px; width: 100%; text-align: center; }
li.calendar td.sat { color: #436586; }
li.calendar td.sun { color: #8c3c3e; }
li.calendar td.n a { color: #827f4c; font-weight: bold; }
li.calendar td a { color: #797757; }

/* RIGHT COLUMN */
#logo { margin: -35px 0 0 0; padding: 10px; width:auto; background:url(images/side.back.png); }
#logo img { margin: 5px; display:block; }
#right-content { margin:0; padding:0; list-style:none;  background: url(images/side.back.png); }
#right-content li { margin:0; padding: 15px 10px 20px 10px; width:auto; height:auto; color:#797a67; font-size: 11px; font-family: Dotum, 돋움, sans-serif; }
#right-content li ul { margin:0; padding:0; width:auto; height:auto; list-style:none; }
#right-content li ul li { margin: 0; padding:5px 0; width: auto;}
#logo h1 { font: 14pt "Malgun Gothic", 맑은고딕, sans-serif; color: #e0dfcb; text-align: center; font-weight: bold; }
	
/* BUTTONS */
.btn {
	margin: 0 6px 0 0; padding: 0;
	width: 86px; height: 24px;
	display: inline-block;
	background-color: #343e47;
}
.pink, .pink a { color:#cd5761; font-size: 11px; }
.btn a { font-weight: bold; }
span.bn { cursor: pointer; }
.trackbackURL { font-size: 11px; padding-top: 15px; font-family: tahoma; color: #999; }
	
/* FORMS */
#searchForm select { background-color: transparent; color: #948e72; border: 0 none; }
.text {
	margin:0; padding:4px;
	border:1px solid #38434e;
	font:8pt Arial, Helvetica, sans-serif; color:#989271;
	background-color: transparent;
}
.text:focus { border:1px solid #948e72; color:#62574c; }
p .text { border: #ddd 1px solid; vertical-align: middle; }
label { font:0.83em Verdana, Arial, Helvetica, sans-serif; color:#909084; }
.submit { border:0; }
#searchBtnBox input { vertical-align: middle; }

/* 
 * SIDEBAR or ETC TAG / Style 
 */
a.readAll { background-color: #f5f5f5; letter-spacing: -1px; }
span.findMe { background-color: yellow; color: red; }
div.clr { clear: both; }
div.alert { text-align: center; font-family: Dotum, 돋움, sans-serif; font-size: 12pt; font-weight: bold; padding-top: 100px; }
img.preview { margin: 0 8px 8px 0; border: #eee 4px solid; }
#tagList { text-align: center; }
#tagList a.lv0 { color: #505050; font-size: 11px; letter-spacing: -1px; }
#tagList a.lv1 { color: #666;  font-size: 11px; }
#tagList a.lv2 { color: #777; }
#tagList a.lv3 { color: #999; font-size: 12px; }
#tagList a.lvMax { color: #aaa; font-size: 14px; }
#tagList a:hover { color: #71d749; }

/*
  * 태그 구름 보기
  */
#tagCloud { padding: 20px; line-height: 165%;}
#tagCloud a.lv0 { font-size: 11px; letter-spacing: -1px; color: #ccc; }
#tagCloud a.lv1 { font-size: 11px; letter-spacing: -1px; color: #aaa; }
#tagCloud a.lv2 { font-size: 12px; letter-spacing: -1px; color: #888; background-color: #f7f7f7; }
#tagCloud a.lv2 { font-size: 14px; color: #666; }
#tagCloud a.lv3 { font-size: 18px; color: #555; background-color: #f7f7f7; }
#tagCloud a.lv4 { font-size: 22px; color: #555; font-weight: bold; }
#tagCloud a.lv5 { font-size: 26px; background-color: #eee; color: #333; padding: 2px; line-height: 170%; }
#tagCloud a.lv6 { font-size: 30px; background-color: #666; color: #fff; padding: 4px; line-height: 190%; }
#tagCloud a.lvMax { font-size: 34px; background-color: #000; color: #fff; font-weight: bold; padding: 6px; margin: 5px; line-height: 210%; }
#tagCloud a:hover {
	color: #71d749;
	background-color: #000;
}

/*
  * 썸네일 목록 보기
  */
#thumbnailList {
	margin: 10px -5px 5px 10px;
	line-height: 170%;
	text-align: left;
}
#thumbnailList .preview {
	float: left;
	margin: 0 10px 10px 0;
	padding: 10px;
	border: #ddd 1px solid;
	background-color: #f3f3f3;
	text-align: center;
	overflow: hidden;
}
#thumbnailList .preview:hover {
	border: #aaa 1px solid;
}
#thumbnailList .preview div {
	line-height: 120%;
}
#thumbnailList .preview div a {
	font-size: 11px;
	letter-spacing: -1px;
	color: #999;
}

/*
  * 로그인 부분
  */
#login {
	margin: auto;
	text-align: left;
	width: 320px;
	padding: 10px;
	background-color: #7c7c7c;
	color: #fff;
}
#login strong {
	display: block;
	font-size: 18px;
	color: #fff;
	padding-bottom: 5px;
	border-bottom: #999 2px solid;
}
#login ul {
	margin: 15px 5px 5px 5px;
	padding: 5px;
}
#login li {
	list-style: none;
	padding-bottom: 3px;
}
#login li input {
	border: #ddd 1px solid;
	font-size: 12px;
	padding: 3px;
	width: 180px;
}
#login div {
	text-align: right;
}
#login div input {
	border: 0 none;
	background-color: #4e4e4e;
	padding: 5px;
	color: #f0f0f0;
	font-size: 12px;
}

/*
  * 블로그 목록보기 부분
  */
#blogList {
	table-layout: fixed;
	width: 100%;
	color: #5e5e5e;
	text-align: center;
}
#blogList th {
	font-weight: normal;
	background: url(image/title.back.gif) repeat-x bottom;
	height: 30px;
	font-size: 11px;
}
#blogList tr:hover {
	background-color: #f7f7f7;
}
#blogList td {
	font-size: 11px;
	color: #999;
	padding: 7px 0 7px 0;
	border-bottom: #eee 1px solid;
}
#blogList td.help {
	cursor: help;
}
#blogList td.num {
	font-family: tahoma, sans-serif;
	font-size: 10px;
	color: #aaa;
}
#blogList a {
	color: #555;
}
#blogList a:hover {
	color: #71d749;
}
#blogList td.paging {
	background-color: #eee;
	height: 32px;
}
#blogList td.paging a {
	padding: 3px;
	text-decoration: none;
	color: #888;
}

/*
  * 기타 스타일 정의
  */
div.hidden { display: none; }
div.clear { clear: both; }
span.unknown { color: #aaa; cursor: help; }