/*-  SELF-CLEARING FLOATS
----------------------------------------------------------------------*/
.mod {zoom: 1;}

/*-  TELL IE7+ TO SCALE IMAGES USING A MORE ATTRACTIVE METHOD
----------------------------------------------------------------------*/
img {
	-ms-interpolation-mode: bicubic;
}
/* slidedeck */
#basecamp_slidedeck.slidedeck dt { background-image: url('../images/basecamp/spines.ie.png'); }
#content_container #tweak_tip_1 {top:-128px;left:490px;}
#content_container #tweak_tip_2 {top:-25px;left:685px;}
#content_container #tweak_tip_3 {top:-15px;left:465px;}
#content_container #tweak_tip_4 {top:10px;left:550px;}

.slidedeck-home-page dl.slidedeck ul.verticalSlideNav {
    left: 40px;
    top: 6px;
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.slidedeck-home-page dl.slidedeck dt.active ul.verticalSlideNav { top: 9px; }
.slidedeck-home-page dl.slidedeck ul.verticalSlideNav li a {
    background-color: #f6f6f6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#f6f6f6')";
    filter: progid:DXImageTransform.Microsoft.Chroma(color='#f6f6f6');
}
.slidedeck-home-page dl.slidedeck dt.spine.active ul.verticalSlideNav li a {
    background-color: #181818;
    -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='#181818')";
    filter: progid:DXImageTransform.Microsoft.Chroma(color='#181818');
}

#feature-tooltip {
    border: 13px solid #000000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color='#999',direction='120',strength='10')";
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#999',direction='120',strength='10');
}