/**
 * GR Forum Install Page CSS
 * @author sirini
 * @update 2009-07-29
 * @comment 설치화면 CSS 디자인
 */

body, form, p, input {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 165%;
}

body {
	background: #2e3d4e url(images/back.top.gif) repeat-x top;
	text-align: center;
}

h3 {
	font-family: "Malgun Gothic", sans-serif;
	border-bottom: #465668 1px solid;
	padding: 5px;
	font-size: 18px;
	margin: 10px 0 15px 0;
}

img {
	border: 0 none;
}

a {
	text-decoration: none;
	color: #2e3d4e;
}

a:hover {
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom: #ddd 2px solid;
}

/* --- ID Style --- */

#logo {
	font-family: "Malgun Gothic", sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	padding: 50px;
}

#layout {
	margin-top: 130px;
	width: 900px;
	margin: auto;
	text-align: left;
}

#info {
	border: #465668 5px solid;
	background-color: #fff;
	padding: 15px;
	color: #000;
}

/* --- Class Style --- */

.i {
	border-top: #aaa 1px solid;
	border-left: #aaa 1px solid;
	border-right: #ddd 1px solid;
	border-bottom: #ddd 1px solid;
	padding: 3px;
	vertical-align: middle;
}

.s {
	border: #aaa 3px double;
	background-color: #f0f0f0;
	vertical-align: middle;
}