@charset "utf-8";

body {
	margin:0;
	padding:0;
}
body {
	font:12px/16px "Segoe UI", sans-script;
	height:100%;
	margin:0;
	padding:0;
	overflow:auto;
	color:#fff;
	background:#000;
}
hr {
	display:none;
	height:0;
	border:none;
}
h1 {
	position:absolute;
	text-align:left;
	text-indent:-9999px;
}
h2 {
	margin:0 0 5px;
	padding:10px 0;
}
ul {
	font-weight:bold;
	list-style:none;
}
li,a {
	font-size:12px;
	font-weight:normal;
}
ul li {
	font-size:14px;
	font-weight:bold;
}
a {
	display:block;
	width:300px;
	height:20px;
	text-indent:2em;
}
ul li ul li ul li a {
	display:block;
	width:260px;
	height:20px;
	text-indent:2em;
}
a {
	color:#fff;
	text-decoration:none;
}
a:hover {
	color:#f80;
	text-decoration:none;
	background:#111 url(images/linkon.gif) left no-repeat;
}
#wrap {
	margin:0 0 0 300px;
}
.title {
	position:fixed !important;
	position:absolute;
	width:300px;
	height:300px;
	top:0;
	left:0;
	background:url(images/title.gif) top left no-repeat;
}
.menu {
	position:fixed !important;
	position:absolute;
	width:300px;
	height:300px;
	top:200px;
	left:0;
}
.menu ul li a {
	float:left;
	width:200px;
	height:auto;
	padding:0 0 5px;
	margin:5px 0 0;
	border-bottom:1px #222 solid;
	vertical-align:middle;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	text-indent:0em;
}
.menu ul li a:hover {
	background:none;
}
.anchor {
	display:block;
	float:left;
	width:1px;
	height:1px;
	margin:-5px 0 0;
	padding:0;
	font-size:1px;
	line-height:1px;
}
.topin {
	width:400px;
}
a.top {
	float:right;
	width:120px;
	padding:0 0 5px;
	margin:0 0 5px;
	text-align:right;
	text-indent:0em;
	background:none;
	border-bottom:1px #222 solid;
	font-weight:bold;
}
a.tops {
	float:left;
	width:280px;
	padding:0 0 5px;
	margin:0 0 5px;
	text-align:left;
	text-indent:0em;
	background:none;
	border-bottom:1px #222 solid;
	font-weight:bold;
}