/* Common Element */
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #606060;
	text-align: center;
}

img {
	vertical-align: middle;
	border: 0 none;
}

a {
	color: #195d89;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

#mypageField h2 {
	font-size: 16pt;
	font-family: Malgun Gothic, sans-serif;
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	font-weight: normal;
	border-bottom: #ddd 1px solid;
	color: #666;
	text-align: left;
}

#mypageField table {
	width: 100%;
	table-layout: fixed;
}

#mypageField th {
	text-align: center;
	height: 36px;
	background: url(mv_top.gif) repeat-x;
}

#mypageField tr:hover {
	background-color: #fafafa;
}

#mypageField td {
	border-bottom: #eee 1px solid;
	padding: 5px;
	line-height: 165%;
	text-align: center;
}

#mypageField td.top {
	vertical-align: top;
	text-align: left;
}

#mypageField td span {
	font-size: 11px;
	font-family: Dotum, µ¸¿ò, sans-serif;
	color: #999;
}

/* Order Skin Class Style */
#mypageField .infoBox {
	border: #ccc 1px dotted;
	background-color: #f7f7f7;
	line-height: 165%;
	padding: 10px;
	text-align: left;
	margin: 0 0 15px 0;
	display: none;
}

#mypageField td .subject {
	font-weight: bold;
}

#mypageField td .content {
	padding-top: 5px;
	color: #999;
}

#mypageField a.cash {
	color: #2e83ff;
}

#mypageField td.paging {
	background-color: #fcfcfc;
	padding: 20px;
}

#mypageField td.paging a {
	border: #eee 1px solid;
	padding: 5px 7px 5px 7px;
	background-color: #fff;
}

#mypageField td.paging a:hover {
	border: #aaa 1px solid;
}

#mypageField td.paging strong {
	padding: 5px 7px 5px 7px
}

#mypageField td.opt { 
	border: #ddd 1px solid; 
	background-color: #f9f6ec; 
	text-align: center; 
	border-bottom: 0 none; 
}

#mypageField td.var { 
	border: #ddd 1px solid; 
	border-left: 0 none; 
	border-bottom: 0 none; 
	padding-left: 5px; 
	text-align: left;
}

#mypageField .space {
	height: 20px;
}

#mypageField td input {
	border: #ddd 1px solid;
	font-size: 12px;
}

#mypageField td input:hover {
	border: #aaa 1px solid;
}

#mypageField td input:focus {
	border: #aaa 2px solid;
}

#mypageField td input.lock {
	background-color: #f0f0f0;
}