a {
	cursor: pointer;
}
img {
	vertical-align: middle;
	border: 0 none;
}
#all td input.t:focus {
	background-color: #f0f0f0;
	border: #aaa 1px solid;
}
#all #linkList table {
	table-layout: fixed;
	width: 100%;
}
#all #linkList td {
	border-top: #ddd 1px dotted;
	padding: 5px;
}
#all #linkList td.tip {
	background-color: #fcf7f3;
	padding: 10px;
}
#all #linkList td span {
	color: #999;
	font-size: 11px;
}
#all #linkList a {
	text-decoration: none;
	color: #666;
}
div.option {
	border-top: #ddd 1px dotted;
	padding: 5px;
	color: #666;
}
div.value {
	padding: 5px;
}
div.value input {
	border: #aaa 1px solid;
	width: 95%;
	background: url(../image/input_back.gif) no-repeat top left;
	height: 28px;
	font-size: 18px;
	padding-left: 5px;
}
div.btn {
	padding: 10px;
	text-align: center;
}

/* for rss reader */
#addNewRSS, #selectRSS {
	float: left;
	width: 375px;
	height: 200px;
	margin-right: 5px;
}
#selectRSS {
	border: #ddd 2px solid;
	padding: 5px;
	margin-bottom: 10px;
	overflow: auto;
}
#selectRSS ol {
	margin: 10px 10px 10px 30px;
}
#selectRSS li {
	cursor: pointer;
}
#addNewRSS input.i {
	height: 20px;
	width: 250px;
}
#addNewRSS input.s {
	border: #666 2px solid;
	background-color: #fff;
	color: #666;
	padding: 5px;
	margin-top: 10px;
}
#loadBox {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	border: #aaa 5px solid;
	background-color: #fff;
	text-align: center;
	font-weight: bold;
}
#blogTitle {
	padding: 10px;
	background: url(../image/rss_title_back.gif) repeat-x bottom;
}
#blogTitle a {
	color: #666;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
}
#blogTitle a:hover {
	text-decoration: underline;
}
#blogInfo {
	margin: 10px;
	padding: 10px;
	border: #ccc 1px dotted;
	background-color: #f9f9f9;
}
#blogRSS .title {
	background: url(../image/rss_sub_title_back.gif) repeat-x bottom;
	padding: 7px;
}
#blogRSS .title a {
	color: #666;
	text-decoration: none;
	font-weight: bold;
}
#blogRSS .content {
	padding: 7px;
	line-height: 170%;
}
#blogRSS .tag {
	margin: 10px;
	padding: 5px;
	background-color: #f7f7f7;
}