#all {
	text-align: left;
}
#all #option {
	background-color: #f4f4f4;
	padding: 5px 0px 5px 10px;
}
div.option {
	border-top: #ddd 1px dotted;
	padding: 5px;
	color: #666;
}
div.value {
	padding: 5px;
}
#adminControl div.value input {
	border: #ccc 1px solid;
	width: 99%;
	background-color: #f7f7f7;
	height: 28px;
	font-size: 18px;
}
#searchBox {
	padding-bottom: 20px;
}
#searchBox select {
	font-size: 14px;
	height: 26px;
	width: 100px;
	vertical-align: middle;
}
#searchBox input.i {
	border: #ccc 1px solid;
	width: 300px;
	background-color: #f7f7f7;
	height: 26px;
	font-size: 18px;
	vertical-align: middle;
}
#searchBox input.s {
	height: 28px;
	background-color: #5e5e5e;
	border: 0 none;
	color: #fff;
	width: 70px;
	vertical-align: middle;
}
#all th {
	height: 40px;
	text-align: center;
	color: #666;
	font-weight: bold;
	border-top: #ccc 1px solid;
}
#all th a {
	color: #666;
}
#all tr.r {
	vertical-align: top;
}
#all td {
	height: 28px;
}
#postList table {
	table-layout: fixed;
	width: 100%;
}
#postList td {
	border-top: #ddd 1px dotted;
	text-align: center;
}
#postList td.s {
	border-top: #ddd 1px dotted;
	text-align: left;
}
#postList td span {
	color: #999;
	font-size: 11px;
}
#postList td a span.o {
	color: #265897;
	font-size: 11px;
}
#postList td a span.s {
	color: #be2929;
	font-size: 11px;
}
#postList td.bottomBtn {
	background-color: #edf3fa;
	padding: 10px;
}
#postList td.bottomBtn a {
	color: #666;
}
#postList a {
	text-decoration: none;
}