body {
  margin: 0;
  font-family: Helvetica;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}

body.loading > *:not(.chrome),
body:not(.ready) > *:not(.chrome) {
  display: none;
}

body > *:not(.chrome) {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  overflow-x: hidden;
  margin: 0;
  padding: 0 0 26px 0;
  left: 0;
  top: 65px;
  width: 100%;
  min-height: 354px;
  background-color: #FFFFFF;
}

body[orient="landscape"] > *:not(.chrome) {
  min-height: 215px;
}

body > .panel {
  padding: 10px;
}

body > .clean {
  padding: 0 !important;
}

.showing {
  display: none;
}

#stretchy {
  display: block !important;
}

body.loading > #stretchy {
  z-index: 9999999;
  background: #FFFFFF url(images/loading2.gif) no-repeat 50% 50%;
}

body > .fullScreen {
  z-index: 1001;
  top: 0 !important;
  min-height: 419px;
  max-height: 419px;
  overflow: hidden;
}

body > .fullPage {
  top: 34px;
  min-height: 417px;
}

body > .formPage {
  z-index: 3;
  top: 64px;
  border-top: 1px solid #6d84b4;
}

body[orient="landscape"] .fullScreen {
  min-height: 270px;
  max-height: 270px;
}

a, u {
  cursor: pointer;
  display: inline;
  color: #005E96;
  text-decoration: inherit;
}

a[disabled="true"],
u[disabled="true"] {
  color: #c1cee2;
  text-shadow: none;
}

form {
  margin: 0;
}

.clear {
  clear: both;
}

.autoHide {
  display: none;
}

#preloader {
  display: none;
  background-image: url(images/bars.png),
      url(images/blank.gif), url(images/loading.gif), url(images/loading2.gif),
      url(images/tabSel.png), url(images/divider.png), url(images/listArrowSel.png),
      url(images/okButton.png), url(images/redButton.png), url(images/cancelButton.png),
      url(images/photoNav.png);
}

/************************************************************************************************/

.toolbar1 {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 7px 0;
  height: 34px;
  line-height: 38px;
  background-color: #3b5998;
  text-align: center;
  vertical-align: center;
}

.button {
  position: absolute;
  overflow: hidden;
  top: 3px;
  right: 3px;
  border: 5px solid transparent;
  padding: 1px 6px;
  line-height: 16px;
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  text-overflow: ellipsis;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  text-align: center;
  white-space: nowrap;
}

.leftButton {
  right: auto;
  left: 3px;
}

.clearButton {
  display: none;
  position: absolute;
  z-index: 1002;
  top: -1px;
  right: 0;
  width: 50px;
  height: 50px;
  background: url(images/cancel.png) no-repeat 14px 14px;
}

.footer {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #eaeaea url(images/bars.png) repeat-x 0 -674px;
  padding: 6px;
  font-size: 13px;
  color: #777777;
}

.footerButtons {
  position: absolute;
  overflow: hidden;
  top: 6px;
  right: 6px;
}

.header {
  margin: 0;
  border-bottom: 1px solid #CCCCCC;
  padding: 6px;
  background: #eeeeee;
  text-align: center;
  font-size: 15px;
  color: #555555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  clear: both;
}

/************************************************************************************************/
/* tabs */

.tab {
  position: absolute;
  font-weight: bold;
  text-align: center;
  color: #c1cee2;
  background: transparent;
  border: none;
}

.tab > u {
  position: relative;
  display: block;
}

.tab > u[selected="true"] {
  color: #444444;
}

.tab.set4 {
  width: 25%;
}

.tab.set4.t2 {
  left: 25%;
}

.tab.set4.t3 {
  left: 50%;
}

.tab.set4.t4 {
  left: 75%;
}

.tab.set3 {
  width: 33%;
}

.tab.set3.t2 {
  left: 33%;
}

.tab.set3.t3 {
  left: 67%;
}

.tab.set3b {
  width: 35%;
}

.tab.set3b.t3 {
  left: 65%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.tabbar1 {
  z-index: 2;
  height: 30px;
  border-bottom: 1px solid #dedede;
  background: #f7f7f7;
  font-size: 14px;
}

.tabbar1 > .tab > u {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: -4px;
  left: 1px;
  margin-right: 1px;
  padding-top: 6px;
  line-height: 29px;
}

.tabbar1 > .tab > u[selected="true"] {
  background: #FFFFFF url(images/bars.png) repeat-x 0 -1100px !important;
}

.tabbar1 > .tab {
  background: url(images/divider.png) no-repeat left center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.tabbar2 {
  height: 31px;
  border-bottom: 1px solid #b7b7b7;
  background: #f2f6fb url(images/bars.png) repeat-x 0 -631px;
  font-size: 18px;
  font-weight: bold;
  line-height: 31px;
  text-shadow: rgba(255, 255, 255, 1) 0 -1px 0;
  color: #444444;
  text-align: center;
  white-space: nowrap;
}

.tabbar2 > .tab {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 3px 12px 2px 12px;
  line-height: 25px;
}

.tabbar2 > .tab > u {
  border-width: 0 5px;
  font-size: 13px;
}

.tabbar2 > .tab > u[selected="true"] {
  -webkit-border-image: url(images/tabSel.png) 0 5;
  text-shadow: none;
}

.tabbar2 > .tab > u[depressed="true"] {
  -webkit-border-image: url(images/okButton.png) 0 5;
  color: #FFFFFF;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.tabbar3 {
  z-index: 2;
  top: 32px;
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #c1cee2;
  background: #f3f6fb url(images/bars.png) repeat-x 0 -1001px;
  font-size: 13px;
}

.tabbar3 > .tab {
  line-height: 26px;
  height: 26px;
  border-left: 1px solid #c1cee2;
}

.tabbar3 > .tab > u {
  padding-top: 1px;
  color: #6d84b4;
}

.tabbar3 > .tab > u[selected="true"] {
  top: -5px;
  padding-top: 5px;
  border-right: 1px solid #c1cee2;
  height: 26px;
  background: #ffffff url(images/bars.png) repeat-x 0 -900px;
  line-height: 25px;
  color: #444444;
}

/************************************************************************************************/
/* lists */

.navList, .gridList {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

.navList > li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #CCCCCC;
  padding: 14px 10px;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
}

.navList > li.group {
  position: relative;
  top: -1px;
  margin-bottom: -2px;
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  padding: 1px 10px;
  background: #d8dfea url(images/bars.png) repeat-x 0 -635px;
  font-size: 17px;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  color: #005E96;
}

.navList > li.group:first-child {
  top: 0;
  border-top: none;
}

.navList > li > a,
.navList > li > u {
  display: block;
  margin: -14px -10px;
  padding: 14px 32px 14px 10px;
  text-decoration: none;
  color: inherit;
  background: #FFFFFF url(images/listArrow.png) no-repeat right center;
}

.navList > li > .plainLink {
  background-image: none;
}

.navList > li > u[selected="true"],
.navList > li > u[progress],
.navList > li > u:active {
  background-color: #6d84b4 !important;
  background-image: url(images/listArrowSel.png), url(images/bars.png) !important;
  background-repeat: no-repeat, repeat-x;
  background-position: right center, left top;
}

.navList > li > u[selected="true"],
.navList > li > u[selected="true"] *,
.navList > li > u[progress],
.navList > li > u[progress] *,
.navList > li > u:active {
  color: #FFFFFF !important;
}

.navList > li > u[progress="loading"] {
  background-image: url(images/loading.gif), url(images/bars.png) !important;
}

.gridList > li > u[target="_replace"],
.navList > li > u[target="_replace"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  color: #6d84b4;
  background-color: #FFFFFF;
  background-image: none;
}

.navList > li[focused="true"] {
  background: #d8dfea;
  border-bottom: 1px solid #CCCCCC;
}

.navList > li.special > u {
  background: #eeeeee;
}

.imageList > li .img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  text-align: center;
}

.imageList > li:not(.noImage) {
  padding-left: 70px;
}

.imageList > li:not(.noImage) > u {
  margin-left: -70px;
  padding-left: 70px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.infoList > li {
  padding-top: 6px;
  padding-bottom: 6px;
}

.infoList > li > a,
.infoList > li > u {
  margin-top: -6px;
  margin-bottom: -6px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.evenList > li:not(.noImage) > a,
.evenList > li:not(.noImage) > u {
  min-height: 60px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.gridList > li:not(.clear) {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: 80px;
  height: 105px;
  margin: 5px 0;
  padding: 75px 0 0 0;
  border: none;
  color: #444444;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  line-height: 12px;
}

.gridList > li:not(.clear) > a,
.gridList > li:not(.clear) > u {
  display: inline;
  margin: 0;
  padding: 0;
  color: inherit !important;
  background: transparent !important;
}

.gridList > li .img {
  position: absolute;
  overflow: hidden;
  left: 5px;
  top: 0;
  width: 70px;
  height: 70px;
  border: 1px solid #CCCCCC;
}

.gridList > li .img > img {
  max-width: 100px;
}

.gridList > li {
  border-top: 1px solid #CCCCCC;
}

/************************************************************************************************/

.listCaption0 {
  font-size: 16px;
  color: #000000;
}

.listCaption1 {
  font-size: 13px;
  font-weight: normal;
  color: #333333;
  max-width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listCaption2 {
  padding-right: 10px;
  color: #888888;
  font-size: 12px;
}

.listCaption3 {
  color: #888888;
  font-size: 9px;
}

.listCount {
  margin-left: 2px;
  font-size: 16px;
  font-weight: normal;
  color: #555555;
}

.listTime {
  position: absolute;
  top: 8px;
  right: 24px;
  color: #3B5998;
  font-size: 14px;
  font-weight: normal;
}

.listText {
  margin: 6px 6px 14px 0;
  font-size: 14px;
  font-weight: normal;
  color: #555555;
}

.listText.emptyText {
  color: #777777;
}

/************************************************************************************************/

body > .listMenu,
body > .listMenuOverlay {
  display: none;
}

.listMenuOverlay {
  position: absolute;
  right: 6px;
  top: 25px;
  padding: 10px;
  background: #FFFFFF;
}

.listButton {
  position: relative;
  display: block;
  float: left;
  padding: 2px 6px;
  -webkit-border-image: url(images/okButton.png) 5;
  border-width: 5px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  white-space: nowrap;
}

.navList > li .listButtons,
.navList > li .listMenu {
  padding: 10px 0 5px 0;
}

.navList > li .listButton {
  display: inline;
  float: none;
  margin: 10px 2px 10px -4px;
}

.navList > li .deleteButton {
  -webkit-border-image: url(images/redButton.png) 4;
  border-width: 4px;
  padding: 6px 8px;
  font-size: 14px;
}

/************************************************************************************************/

.newIcon {
  z-index: 3;
  position: absolute;
  top: -5px;
  right: 1px;
  padding: 1px 5px;
  background: red;
  border: 1px solid salmon;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  -webkit-border-radius: 8px;
}

.newIcon[disabled="true"] {
  display: none;
}

.progress,
.alert {
  display: none;
}

.alert,
.messageBox {
  border-bottom: 1px solid #CCCCCC;
  padding: 6px;
  background: lightyellow;
  color: #000000;
  font-size: 14px;
}

.emptyMessage {
  padding: 10px;
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.progress {
  padding: 14px 35px;
  font-size: 16px;
  font-weight: bold;
  background: #FFFFFF url(images/loading2.gif) no-repeat 10px 50%;
}

/************************************************************************************************/

body > .dialogMask {
  z-index: 1999;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

body > .dialog {
  z-index: 2000;
  top: 0;
  min-height: 0 !important;
  padding: 0 !important;
  background-color: #FFFFFF;
  overflow: hidden;
}

.dialogButton {
  -webkit-border-image: url(images/cancelButton.png) 5;
}

.dialogButton.okButton {
  -webkit-border-image: url(images/okButton.png) 5;
}

.dialog > .toolbar1 {
  border-bottom: 1px solid #2f3c53;
}

/************************************************************************************************/

.bigTextForm {
  position: relative;
  margin: 0;
  padding: 5px 10px;
  border-top: 1px solid #acbcde;
  border-bottom: 1px solid #005E96;
  background: #6d84b4 url(images/bars.png) repeat-x 0 -401px;
}

.bigTextForm .label {
  display: block;
  margin: 2px 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.6) 0 1px 0;
}

.bigTextForm textarea,
.bigTextForm input[type="text"],
.bigTextForm input[type="password"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin: 3px 0;
  padding: 5px 3px;
  font-family: inherit;
  font-size: inherit;
}

.bigTextForm textarea {
  height: 80px;
}

.bigButton {
  margin: 7px 0 8px 0;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

/************************************************************************************************/
/* search */

#search[mode="search"] .clearButton {
  display: block;
}

#search[mode="search"] #phonebook {
  display: none;
}

#search[mode="phonebook"] #searchResults {
  display: none;
}

#phonebook {
  position: relative;
}

.alphabar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #555555;
  font-size: 10px;
  font-weight: bold;
  line-height: 11px;
}

/************************************************************************************************/
/* profile */

.profileBar {
  position: relative;
  min-height: 45px;
  padding: 5px 10px 10px 5px;
  background: #d3dcda url(images/bars.png) repeat-x 0 -194px;
  border-bottom: 1px solid #c1cee2;
}

.profileBar > h2 {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
}

.profileBar > h3 {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
}

.profileBar > h4 {
  margin: 0;
  color: #555555;
  font-size: 9px;
  line-height: 12px;
  font-weight: normal;
}

.profileImage {
  float: left;
  max-height: 75px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profileText {
  padding: 10px;
  font-size: 13px;
}

td.label, td > .datawrap {
  padding: 0 5px 6px 5px;
  font-size: 12px;
  vertical-align: top;
  overflow: hidden;
}

td.label {
  width: 100px;
  color: #555555;
}

td.data, td > .datawrap {
  font-size: 14px;
}

.profileTable {
  margin: 10px 0 5px 0;
  width: 100%;
  clear: both;
}

.box_head h2 {
  display: none;
}

h4.info_section {
  margin: 0 5px;
  font-size: 14px;
}

.header_app_icon {
  display: none;
}

/************************************************************************************************/
/* feed */

.feedStory {
  padding: 8px;
  border-bottom: 1px solid #CCCCCC;
}

.feedIcon {
  margin-right: 4px;
  width: 16px;
  min-height: 15px;
}

.feedTime {
  margin-left: 4px;
  font-size: 12px;
  color: #555555;
}

.quoted {
  background: url(images/start_quote.gif) no-repeat 6px 6px;
  padding: 8px 16px 8px 30px;
  margin-right: 10px;
  color: #555555;
  font-size: 13px;
}

.endQuote {
  position: relative;
  top: 6px;
  left: 6px;
  width: 18px;
  height: 12px;
  background: url(images/end_quote.gif) no-repeat;
}

.storyImage {
  margin: 6px;
  border: 0;
  max-width: 70px;
  float: right;
}

.storyTitle,
.storyText {
  font-size: 13px;
  margin: 6px 10px;
}

.storyTitle {
  font-weight: bold;
  margin-bottom: 0;
}

/************************************************************************************************/
/* mail */

li.unread,
li.unread > u {
  background-color: #edf2f9;
}

.msgStatus {
  position: absolute;
  z-index: 1000;
  left: 6px;
  top: 0;
  width: 27px;
  height: 100%;
  background: no-repeat 0 28px;
}

.unread .msgStatus {
  background-image: url(images/unread.png);
}

.replied .msgStatus {
  background-image: url(images/replied.png);
}

.editing .msgStatus {
  background-image: url(images/delete.png);
}

.editing li[focused="true"] .msgStatus {
  background-position: -27px 28px;
}

.editing li > u {
  background-image: none;
}

.editorRow {
  position: relative;
}

.editorRow .label,
.recipient .label {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #555555;
}

.editorRow > .editor {
  padding-left: 80px;
}

.editor,
.fullEditor {
  margin: 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #dddddd;
  -webkit-border-radius: 0;
  width: 100%;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
}

textarea.fullEditor {
  height: 320px;
}

textarea.fullEditor.short {
  height: 140px;
}

input[unedited="true"]:not(.plain) {
  color: #888888;
}

textarea[unedited="true"]:not(.plain) {
  color: #888888;
  text-align: center;
  padding-top: 50px;
}

.editor:disabled,
.fullEditor:disabled {
  color: #999999;
  background: #f7f7f7;
}

.mailSearch .navList {
  background: #eaeaea url(images/bars.png) repeat-x 0 -674px;
}

.mailSearch .progress {
  border-bottom: 1px solid #CCCCCC;
}

.mailSearch li {
  padding: 12px 0 12px 45px !important;
  font-weight: normal;
  border-bottom: 1px solid #dcdcdc;
}

.recipient {
  position: relative;
  padding: 10px 6px 8px 45px;
  border-bottom: 1px solid #dddddd;
  background: #f7f7f7 url(images/x.png) right 9px no-repeat;
}

.toRow > .editor {
  padding-left: 45px;
}

li[private="true"] #profileButton,
li[friends="true"] #addButton {
  display: none;
}

#cellButton:not([href]),
#phoneButton:not([href]) {
  display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.attached_item {
  overflow: hidden;
  margin: 10px 0 0 -60px;
  padding: 0 0 0 7px;
  border-left: 2px solid #D8DFEA;
  width: 367px;
  font-size: 13px;
}

.share_media .profile ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

.share_media .profile ul {
  margin: 0px;
  padding: 3px 0px 0px;
}

.share {
  display: none;
}

/************************************************************************************************/

.photoGrid {
  padding-top: 5px !important;
}

.photoStrip {
  margin-left: -8px;
  height: 72px;
  padding: 8px 0;
  width: 110%;
}

.photo {
  display: block;
  position: relative;
  float: left;
  border: none;
  margin: 0 0 5px 5px;
  border: 1px solid #BBBBBB;
  background: #6d84b4;
  width: 72px;
  height: 72px;
  overflow: hidden;
}

.photo > img {
  position: absolute;
  min-width: 100px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.photo.profile > img {
  width: 90px;
  height: auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#photoBox {
  background-color: #000000;
}

#photoImg {
  position: absolute;
}

#photoLoader {
  position: absolute;
  top: 0;
  left: 0;
  visibility: collapse;
}

#photoCaption,
#photoBack,
.photoNav {
  position: absolute;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 12px;
  text-shadow: rgba(0, 0, 0, 0.9) 2px 2px 2px;
  font-weight: bold;
  color: #FFFFFF;
}

#photoBack {
  left: 0;
  top: 0;
  padding: 10px 20px 10px 25px;
  max-width: 180px;
  background: url(images/photoNav.png) no-repeat -75px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  opacity: 0.8;
}

#photoCaption {
  left: 15%;
  bottom: 20px;
  width: 70%;
  text-align: center;
}

.photoNav {
  left: 5px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  background: url(images/photoNav.png) no-repeat;
}

.photoNav[disabled="true"] {
  display: none;
}

#photoNext {
  left: auto;
  right: 5px;
  background-position: -40px 0;
}
