@charset "Shift-JIS";
@import url("reset.css");
@import url("common.css");
/* common - news */
#content .news {
	position:relative;
	float:left;
	width:200px;
	background:url(../images/bg_common_news_bottom.gif) left bottom no-repeat;
}
#content .news h2 {
	height:30px;
	background:url(../images/bg_common_news_top.gif) left top no-repeat;
}
#content .news ul {
	border-left:3px #eee solid;
	border-right:3px #eee solid;
	margin:0 0 10px;
}
#content .news li {
	padding:3px 0 2px !important;
	padding:1px 0;
	border-top:1px #eee dashed;
}
#content .news li:first-child {
	border-top:none;
}
#content .news li span {
	display:block;
	width:180px;
	height:16px;
	padding:0 5px;

}
#content .news li span.title {
	font-weight:700;
}
#content .news .more {
	background:url(../images/bg_more_white.gif) right top;
}
/* common-category */
#content .category {
	position:relative;
	float:left;
	height:116px !important;
	height:110px;
	margin:10px 0 0;
	padding:0 0 10px !important;
	padding:0;
	background:url(../images/bg_category_bottom.gif) right bottom;
}
#content .category h2 {
	width:200px;
	height:40px;
	margin:0 0 -10px;
	background:url(../images/bg_category_top.gif) left top;
}
#content .category ul {
	position:relative;
	float:left;
	width:170px;
	margin:5px 5px -10px;
	padding:0 15px;
}
#content .category .flexcroll {
	width:185px;
	height:85px;
}
/* contents */
#content .contents {
	position:relative;
	width:500px;
}
#content .contents h2 {
	position:relative;
	width:500px;
	height:30px;
}
#content .contents .hall .more,
#content .contents .best .more {
	margin:-10px 0 0;
	background:url(../images/bg_more_green.gif) left top;
}
/* contents-hall */
#content .contents .hall {
	position:relative;
}
#content .contents .hall h2 {
	background:url(../images/bg_indexhall.jpg) left top;
}
#content .contents .hall .inner {
	position:relative;
	width:480px;
	height:150px;
	margin:10px 0 0;
	padding:10px;
	background:url(../images/bg_content_inner.gif) left top no-repeat;
}
/* contents-hall ---------------------------------- visual */
#content .contents .hall .frame {
	position:absolute;
	top:10px;
}
#content .contents .hall img {
	position:absolute;
}
#content .contents .hall .btn_eventhall {
	position:absolute;
	top:110px;
	left:325px;
}
#content .contents .hall .visual p {
	position:absolute;
	top:105px;
	left:10px;
	width:350px;
	height:40px;
	padding:5px;
	background:url(../images/bg_index_frame_p.png);
	font-size:14px;
	font-weight:700;
	color:#fff;
}
/* contents-hall ---------------------------------- control */
#content .contents .hall .control {
	position:absolute;
	top:10px;
	right:10px;
	width:110px;
	height:145px;
}
#content .contents .hall .control .buttons ul li a {
	position:relative;
	display:block;
	float:left;
	width:100px;
	height:15px;
	margin:0 0 5px;
	padding:5px;
	background:url(../images/bg_index.gif) 0 -25px no-repeat;
}
#content .contents .hall .control .buttons ul li a:hover,
#content .contents .hall .control .buttons ul li a.active {
	color:#fff;
	background:url(../images/bg_index.gif) 0 0;
}
#content .contents .hall .control .functions a {
	position:relative;
	display:block;
	width:25px;
	height:25px;
	margin:0 5px 5px 0;
}
#content .contents .hall .control .functions .refresh {
	background:url(../images/bg_index.gif) -110px 0;
}
#content .contents .hall .control .functions .refresh:hover,
#content .contents .hall .control .functions .refresh.active {
	background:url(../images/bg_index.gif) -110px -25px;
}
#content .contents .hall .control .functions .detail {
	background:url(../images/bg_index.gif) -135px 0;
}
#content .contents .hall .control .functions .detail:hover,
#content .contents .hall .control .functions .detail.active {
	background:url(../images/bg_index.gif) -135px -25px;
}
#content .contents .hall .control .functions .tobottom,
#content .contents .hall .control .functions .totop {
	float:left;
	margin:0;
}
#content .contents .hall .control .functions .tobottom {
	background:url(../images/bg_index.gif) -160px -25px;
}
#content .contents .hall .control .functions .tobottom:hover {
	background:url(../images/bg_index.gif) -160px 0;
}
#content .contents .hall .control .functions .totop {
	background:url(../images/bg_index.gif) -185px -25px;
}
#content .contents .hall .control .functions .totop:hover {
	background:url(../images/bg_index.gif) -185px 0;
}
/* contents-best */
#content .contents .best {
	position:relative;
}
#content .contents .best h2 {
	background:url(../images/bg_indexbest.jpg) left top;
}
#content .contents .best .refresh {
	position:absolute;
	display:block;
	top:35px;
	right:0;
	width:25px;
	height:25px;
	background:url(../images/bg_index.gif) -110px 0;
}
#content .contents .best .refresh:hover {
	background:url(../images/bg_index.gif) -110px -25px;
}
#content .contents .best .inner {
	position:relative;
	width:480px;
	height:120px;
	margin:35px 0 0;
	padding:10px;
	background:url(../images/bg_content_inner.gif) left top no-repeat;
}
/* contents-best ---------------------------------- menu */
#content .contents .best ul {
	position:relative;
	float:left;
	margin:5px 0;
}
#content .contents .best ul li a {
	position:relative;
	float:left;
	display:block;
	width:80px;
	height:25px;
	margin:0 10px 0 0 !important;
	margin:0 5px 0 0;
}
#content .contents .best li .profile {
	background:url(../images/bg_index.gif) -80px -125px;
}
#content .contents .best li .profile:hover {
	background:url(../images/bg_index.gif) -80px -100px;
}
#content .contents .best li .blog {
	background:url(../images/bg_index.gif) -160px -125px;
}
#content .contents .best li .blog:hover {
	background:url(../images/bg_index.gif) -160px -100px;
}
#content .contents .best li .board {
	background:url(../images/bg_index.gif) -240px -125px;
}
#content .contents .best li .board:hover {
	background:url(../images/bg_index.gif) -240px -100px;
}
#content .contents .best li .event {
	background:url(../images/bg_index.gif) 0 -125px;
}
#content .contents .best li .event:hover {
	background:url(../images/bg_index.gif) 0 -100px;
}
/* contents-best ---------------------------------- first */
#content .contents .best .event_inner .first img,
#content .contents .best .event_inner .first .frame {
	position:absolute;
	top:10px;
	left:10px;
}
#content .contents .best .event_inner .first .title,
#content .contents .best .event_inner .first .desc {
	position:absolute;
	left:130px;
	width:160px;
}
#content .contents .best .event_inner .first .title {
	top:10px;
	height:18px;
	font-weight:700;
	border-bottom:2px #4b3 solid;
}
#content .contents .best .event_inner .first .desc {
	top:35px;
	height:85px;
	overflow:hidden;
}
/* contents-best ---------------------------------- second,third */
#content .contents .best .event_inner img,
#content .contents .best .event_inner .frame {
	position:absolute;
	left:300px;
}
#content .contents .best .event_inner .second dd,
#content .contents .best .event_inner .third dd {
	position:absolute;
	left:360px;
	width:130px;
	height:50px;
	font-weight:700;
	overflow:hidden;
}
#content .contents .best .event_inner .second img,
#content .contents .best .event_inner .second .frame,
#content .contents .best .event_inner .second dd {
	top:10px;
}
#content .contents .best .event_inner .third img,
#content .contents .best .event_inner .third .frame,
#content .contents .best .event_inner .third dd {
	top:70px;
}
/* contents-best ---------------------------------- second,third */
#content .contents .best .profile_inner,
#content .contents .best .blog_inner,
#content .contents .best .board_inner {
	position:relative;
	float:left;
	width:490px;
	height:110px;
	margin:0 !important;
	margin:0 -20px 0 0;
}
#content .contents .best .profile_inner .item {
	position:relative;
	float:left;
	width:88px;
	height:110px;
	margin:0 10px 0 0;
}
#content .contents .best .profile_inner .item p {
	font-weight:700;
}
#content .contents .best .profile_inner .photo {
	position:absolute;
	bottom:0;
	width:88px;
	height:75px;
	background:#444;
	overflow:hidden;
}
#content .contents .best .profile_inner .photo img {
	position:absolute;
}
#content .contents .best .blog_inner {
	margin:-5px 0 10px !important;
	margin:-5px -10px -5px 0;
}
#content .contents .best .blog_inner li {
	width:480px;
	height:40px;
	margin:0 !important;
	margin:0 0 -5px;
}
#content .contents .best .blog_inner li .photo {
	position:relative;
	float:left;
	width:40px;
	height:30px;
	margin:0 10px 0 0;
	overflow:hidden;
}
#content .contents .best .blog_inner li .photo img {
	position:absolute;
}
#content .contents .best .blog_inner li .title {
	position:relative;
	float:left;
	margin:-1px 0 0;
	font-weight:700;
}
#content .contents .best .blog_inner li .desc {
	position:relative;
	float:left;
	width:420px;
	margin:-1px 0 0;
}
#content .contents .best .board_inner ul {
	position:relative;
	margin:0 !important;
	margin:0 0 -10px;
}
#content .contents .best .board_inner li {
	position:relative;
	width:300px;
	height:20px;
	margin:0 0 5px !important;
	margin:0 0 -10px;
}
#content .contents .best .board_inner .category {
	display:block;
	float:left;
	width:65px;
	height:12px !important;
	margin:0 5px 0 0;
	color:#fff;
	font-size:10px;
	line-height:18px;
	text-align:center;
	background:url(../images/bg_index_board_category.gif) top left no-repeat;
}
#content .contents .best .board_inner .desc {
	width:220px;
	margin:2px 0 -2px !important;
	margin:3px 0 0;
}
#content .contents .best .board_inner .photo img,
#content .contents .best .board_inner .photo a {
	position:absolute;
	top:0;
	right:10px;
	width:160px;
	height:120px;
	overflow:hidden;
}
/* contents-best ------------------ memory */
#content .contents .memory {
	position:relative;
	float:left;
	width:500px;
	height:110px;
	margin:0;
	background:url(../images/bg_indexmemory.jpg) left top;
}
#content .contents .memory h2 {
	display:none;
}
#content .contents .best .memory .more {
	top:90px;
	left:25px;
	width:40px;
	height:20px;
	background:none;
}
#content .contents .memory .contents {
	position:absolute;
	top:20px;
	right:10px !important;
	right:0;
	width:390px;
	height:70px;
}
#content .contents .memory .contents .item {
	position:relative;
	float:left;
	width:120px;
	height:70px;
	margin:0 10px 0 0;
	overflow:hidden;
}
#content .contents .memory .contents .item dt {
	font-weight:700;
	height:16px;
	margin:0 0 2px;
	padding:0;
	border-bottom:1px #eee solid;
}
#content .contents .memory .control {
	position:absolute;
	top:55px;
	left:20px;
	width:50px;
	height:25px;
}
#content .contents .memory .control .toleft,
#content .contents .memory .control .toright {
	position:relative;
	display:block;
	width:25px;
	height:25px;
}
#content .contents .memory .control .toleft {
	float:left;
	background:url(../images/bg_index.gif) -210px -25px;
}
#content .contents .memory .control .toleft:hover {
	background:url(../images/bg_index.gif) -210px 0;
}
#content .contents .memory .control .toright {
	float:right;
	background:url(../images/bg_index.gif) -235px -25px;
}
#content .contents .memory .control .toright:hover {
	background:url(../images/bg_index.gif) -235px 0;
}
/* aside - data */
#content .aside .data {
	position:relative;
	float:right;
	width:210px;
	height:280px;
	background:url(../images/bg_data.gif) right top no-repeat;
}
#content .aside .data ul {
	position:absolute;
	top:10px;
	left:10px;
	width:190px;
	height:35px;
	overflow:hidden;
}
#content .aside .data li a {
	position:relative;
	display:block;
	float:left;
	height:35px;
}
#content .aside .data li .map {
	width:63px;
	background:url(../images/bg_index.gif) 0 -50px no-repeat;
}
#content .aside .data li .map:hover {
	background:url(../images/bg_index.gif) -63px -50px no-repeat !important;
}
#content .aside .data li .calendar {
	width:64px;
	background:url(../images/bg_index.gif) -126px -50px no-repeat;
}
#content .aside .data li .calendar:hover {
	background:url(../images/bg_index.gif) -190px -50px no-repeat !important;
}
#content .aside .data li .tag {
	width:63px;
	background:url(../images/bg_index.gif) -254px -50px no-repeat;
}
#content .aside .data li .tag:hover {
	background:url(../images/bg_index.gif) -317px -50px no-repeat !important;
}
#content .aside .data .tab_inner,
#content .aside .data .inner,
#content .aside .data .map_inner,
#content .aside .data .calendar_inner,
#content .aside .data .tag_inner {
	position:absolute;
	top:35px;
	left:10px;
	overflow:hidden;
}
#content .aside .data .tab_inner {
	width:190px;
	height:235px;
	background:#fff;
}
#content .aside .data .map_inner,
#content .aside .data .calendar_inner,
#content .aside .data .tag_inner {
	position:absolute;
	top:45px;
	left:20px;
	width:170px;
	height:215px;
	overflow:hidden;
}
/* aside - data ------------------------ map */
#content .aside .data .map_inner {
	overflow:hidden;
}
/* aside - data ------------------------ calendar */
#content .aside .data .calendar_inner .top {
	position:relative;
	float:left;
	overflow:hidden;
	width:170px;
	height:25px;
	background:url(../images/bg_calendar.gif) 0 -25px;
}
#content .aside .data .calendar_inner .top p {
	margin:5px 0 0;
	text-align:center;
}
#content .aside .data .calendar_inner .top .controller {
	position:absolute;
	top:0;
	left:0;
	width:170px;
	height:25px;
}
#content .aside .data .calendar_inner .top .controller a {
	position:absolute;
	display:block;
	top:0;
	height:25px;
}
#content .aside .data .calendar_inner .top .controller .prevyear {	
	left:0;
	width:20px;
}
#content .aside .data .calendar_inner .top .controller .prevyear:hover {
	background:url(../images/bg_calendar.gif) 0 0;
}
#content .aside .data .calendar_inner .top .controller .prevmonth {
	left:25px;
	width:15px;
}
#content .aside .data .calendar_inner .top .controller .prevmonth:hover {
	background:url(../images/bg_calendar.gif) -25px 0;
}
#content .aside .data .calendar_inner .top .controller .nextyear {
	right:0px;
	width:20px;
}
#content .aside .data .calendar_inner .top .controller .nextyear:hover {
	background:url(../images/bg_calendar.gif) -150px 0;
}
#content .aside .data .calendar_inner .top .controller .nextmonth {
	right:20px;
	width:20px;
}
#content .aside .data .calendar_inner .top .controller .nextmonth:hover {
	background:url(../images/bg_calendar.gif) -130px 0;
}
#content .aside .data .calendar_inner .contents {
	position:relative;
	float:left;
	overflow:hidden;
	width:170px;
	height:150px;
	margin:5px 0;
}
#content .aside .data .calendar_inner table th,
#content .aside .data .calendar_inner table td {
	width:25px;
	height:20px;
	padding:2px 0 0;
	text-align:center;
}
#content .aside .data .calendar_inner table td a {
	color:#444;
}
#content .aside .data .calendar_inner table .weekend  {
	color:#d30;
}
#content .aside .data .calendar_inner table .saturday {
	color:#06f;
}
#content .aside .data .calendar_inner table .end {
	background:url(../images/bg_calendar.gif) -72px -84px;
}
#content .aside .data .calendar_inner table .with {
	background:url(../images/bg_calendar.gif) -24px -84px;
}
#content .aside .data .calendar_inner table .go {
	background:url(../images/bg_calendar.gif) 0 -84px;
}
#content .aside .data .calendar_inner table .today {
	font-weight:700;
	background:url(../images/bg_calendar.gif) -48px -84px;
}
#content .aside .data .calendar_inner table .today a {
	color:#fff;
}
#content .aside .data .calendar_inner .bottom {
	position:relative;
	float:left;
	overflow:hidden;
	width:170px;
	height:30px;
	background:url(../images/bg_calendar.gif) 0 -50px;
}
#content .aside .data .calendar_inner .bottom a {
	display:block;
	margin:8px 0 0;
	text-align:center;
}
/* aside - data ------------------------ tag */
#content .aside .data .tag_inner {
	overflow:hidden;
}
#content .aside .data .tag_inner a {
	margin:0 1em 0 0;
	padding:1px;
	line-height:22px;
}
#content .aside .data .tag_inner .no1 {
	color:#9d0;
}
#content .aside .data .tag_inner .no2 {
	color:#3b4;
	font-weight:700;
}
#content .aside .data .tag_inner .no3 {
	position:relative;
	color:#fff;
	padding:1px 0 1px 10px;
	background:url(../images/bg_tag_left.gif) left top no-repeat;
}
#content .aside .data .tag_inner .no3:after {
	content:attr(img);
	position:absolute;
	top:0;
	right:-10px;
	display:block;
	width:10px;
	height:20px;
	background:url("../images/bg_tag_right.gif") right top no-repeat;
}
/* aside - banner */
#content .aside .banner,
#content .aside .sponser {
	position:relative;
	float:left;
	width:210px;
	margin:10px 0 0;
	overflow:hidden;
}
#content .aside .banner .inner,
#content .aside .sponser .inner,
#content .aside .banner a,
#content .aside .sponser a {
	position:absolute;
	top:0;
	left:0;
}
#content .aside .banner a,
#content .aside .sponser a {
	display:block;
	width:210px;
	background:url(../images/altpng.gif);
}
#content .aside .banner,
#content .aside .banner a {
	height:115px;
}
/* aside - sponser */
#content .aside .sponser,
#content .aside .sponser a  {
	height:110px;
}
/* helps */
#helps,
#helps a {
	position:relative;
	float:left;
	height:80px;
}
#helps {
	width:950px;
	background:url(../images/bg_helps.jpg) no-repeat;
}
#helps a {
	display:block;
	width:190px;
}