/* Common Element */
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #606060;
	text-align: center;
}

img {
	vertical-align: middle;
	border: 0 none;
}

a {
	color: #195d89;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom: #ddd 2px solid;
}

h2 {
	font-size: 18pt;
	font-family: Malgun Gothic, sans-serif;
	padding: 10px 0 0 0;
	font-weight: normal;
	color: #6e9dc2;
	position: relative;
}

h2.line {
	padding-bottom: 10px;
	border-bottom: #ddd 1px solid;
}

h2 .addition {
	position: absolute;
	right: 0;
	font-size: 12px;
}

h2 .addition a {
	font-family: Gulim, ±¼¸², sans-serif;
	font-size: 12px;
}

table {
	width: 100%;
	table-layout: fixed;
}

th {
	text-align: center;
	background: url(../img/mv_top.gif) repeat-x;
	height: 36px;
}

td {
	border-bottom: #ddd 1px solid;
	padding: 5px;
	text-align: center;
}

/* Admin Main ID Style */
#main {
	margin: auto;
	width: 980px;
}

#logo {
	padding-top: 10px;
}

#topMenu {
	height: 50px;
}

#grshopPowered {
	margin: 50px 0 20px 0;
	border: #ccc 1px dotted;
	padding: 20px;
	background-color: #fcfcfc;
	font-size: 11px;
	color: #aaa;
}

#grshopPowered a {
	font-size: 11px;
}

#cardInfo {
	display: none;
	text-align: left;
	font-size: 12px;
}

#cardInfo ul {
	margin: 0;
	padding: 0 0 0 10px;
}

/* Admin Common Class */
.infoBox {
	border: #ccc 1px dotted;
	background-color: #f7f7f7;
	line-height: 165%;
	padding: 10px;
	text-align: left;
	margin: 10px 0 10px 0;
	display: none;
}

.noneStyle {
	list-style: none;
}

.noneStyle li {
	padding-bottom: 10px;
}

input.i {
	border: #ddd 1px solid;
	padding: 3px;
}

input.s {
	border: #ddd 3px double;
	background-color: #ffffe5;
	padding: 10px;
}

input.s:hover {
	border: #aaa 3px solid;
}

div.main {
	text-align: left;
	line-height: 165%;
}

td.done {
	background-color: #f3f7fd;
}

td.cancel {
	background-color: #fdf3f3;
}

td.card {
	background-color: #ffffef;
}

td.bg {
	background-color: #fbfbfb;
}

div.address {
	padding: 10px 0 5px 0;
}

td.paging {
	background-color: #fcfcfc;
	padding: 20px;
}

td.paging a {
	border: #eee 1px solid;
	padding: 5px 7px 5px 7px;
	background-color: #fff;
}

td.paging a:hover {
	border: #aaa 1px solid;
}

td.paging strong {
	padding: 5px 7px 5px 7px
}