@charset "Shift-JIS";
/*
----------------------------------------
M-game portal advanced
file name: game.css
author: H.Park
create: 2007.11.01.

=================contents===============
1 : style reset
2 : site (top)
	global
	category
	category hover
3 : about (left)
4 : original (right)
	game
	blog, circle
========================================
*/
/* 1 : style reset
---------------------------------------- */
html {
filter:expression(document.execCommand("BackgroundImageCache", false, true));
}
a,a:link {
color:#07a;
text-decoration:none;
}
a:hover {
color:#f80;
}
body {
background:#ffd2d2 url(../images/game/bgAll.gif) repeat-x top center;
}
/* 2 : site (top)
---------------------------------------- */
#site {
background:url(../images/game/bgTop.jpg);
}
/* global */
li.manage a {
width:64px;
background:url(../images/game/btnManage.gif) no-repeat;
}
li.mint a {
width:94px;
background:url(../images/game/btnMint.gif) no-repeat;
}
li.help a {
width:45px;
background:url(../images/game/btnHelp.gif) no-repeat;
}
li.contact a {
width:124px;
background:url(../images/game/btnContact.gif) no-repeat;
}
li.sitemap a {
width:68px;
background:url(../images/game/btnSitemap.gif) no-repeat;
}
li.logout a {
width:55px;
background:url(../images/game/btnLog.gif) no-repeat;
}
/* category */
li.top a {
width:67px;
background:url(../images/game/btnTop.gif);
}
li.game a {
width:71px;
background:url(../images/game/btnGame.gif);
}
li.auction a {
width:157px;
background:url(../images/game/btnAuction.gif);
}
li.blog a {
width:69px;
background:url(../images/game/btnBlog.gif);
}
li.circle a {
width:85px;
background:url(../images/game/btnCircle.gif);
}
li.guild {
width:70px;
}
li.mym a {
width:113px;
background:url(../images/game/btnMym.gif);
}
/* category hover */
li.top a:hover {
background:url(../images/game/btnTopOn.gif);
}
li.game a:hover {
background:url(../images/game/btnGame.gif);
}
li.auction a:hover {
background:url(../images/game/btnAuctionOn.gif);
}
li.blog a:hover {
background:url(../images/game/btnBlogOn.gif);
}
li.circle a:hover {
background:url(../images/game/btnCircleOn.gif);
}
li.mym a:hover {
background:url(../images/game/btnMymOn.gif);
}
/* 3 : about (left)
---------------------------------------- */
#page .master {
background:url(../images/game/bgLogin.gif) no-repeat;
}
#page .name {
background:url(../images/game/bgName.gif) no-repeat;
}
#page .panel {
background:url(../images/game/bgPanel.gif) no-repeat;
}
#page .photo {
background:url(../images/game/bgPhoto.gif) no-repeat;
}
#page .toProfile {
background:url(../images/game/btnToProfile.gif);
}
#page .toMail {
background:url(../images/game/btnToMail.gif);
}
#page .toMym {
background:url(../images/game/btnToMym.gif);
}
#page .confirmMint {
background:url(../images/game/bgMint.gif) no-repeat;
}
#page .buyMint {
background:url(../images/game/btnBuyMint.gif);
}
#page .toMyBlog {
background:url(../images/game/btnToMyBlog.gif);
}
#page .toOtherBlog {
background:url(../images/game/bgToOtherBlog.gif) no-repeat;
}
#page .beginner ul.contents {
background:url(../images/game/bgBeginner.gif) bottom;
}
#page .beginner ul.contents li a {
display:block;
width:192px;
height:32px;
padding:0 0 5px;
background:url(../images/game/btnBeginner.gif) no-repeat;
}
#page .beginner h2 {
background:url(../images/game/ttlBeginner.gif);
}
#page .news {
background:url(../images/game/bgNewsContents.gif) bottom;
}
#page .news h2 {
background:url(../images/game/ttlNews.gif);
}
#page .news .contents li {
margin:0 0 1px;
border-bottom:1px solid #07a;
}
#page .news .contents li.lastline {
border-bottom:none;
}
/* 4 : original (right)
---------------------------------------- */
#page .original {
float:right;
width:680px;
}
/* additional */
#page .additional {
width:680px;
height:130px;
margin:10px 0 0;
}
#page .additional .pickup {
float:left;
width:400px;
height:105px;
padding:25px 0 0;
background:url(../images/game/bgPickup.gif) no-repeat;
}
#page .additional .premium {
float:right;
width:270px;
height:105px;
margin:0 0 0 10px;
padding:25px 0 0;
background:url(../images/game/bgPremium.gif) no-repeat;
}
#page .additional img {
margin:0 0 0 10px;
}
/* game */
#page .original .gamePickup h2 {
width:680px;
height:50px;
background:url(../images/game/ttlGame.gif);
}
#page .original .gamePickup {
overflow:hidden;
margin:10px 0;
background:url(../images/game/bgGame.gif) bottom;
}
#page ul.mmorpg {
float:left;
width:210px;
margin:0 0 0 10px;
padding:0 0 5px;
}
*html div#page ul.mmorpg {
margin:0 0 0 5px;
}
#page ul.mmorpg h3 {
height:20px;
margin:0 0 10px;
background:url(../images/game/ttlMmorpg.gif);
}
#page ul.mmorpg li a {
display:block;
width:210px;
height:14px;
margin:0 0 5px;
padding:50px 0 0;
background:url(../images/game/toPlayMmorpg.jpg) no-repeat;
text-align:center;
}
#page ul.lightgame,#page ul.flashgame {
display:block;
float:right;
width:440px;
margin:0 10px 10px 0;
padding:0 0 5px;
background:url(../images/game/bgLightFlash.gif) bottom;
}
*html div#page ul.lightgame,*html div#page ul.flashgame {
margin:0 5px 10px 0;
}
#page ul.lightgame h3 {
height:30px;
margin:0;
background:url(../images/game/ttlLightgame.gif);
}
#page ul.lightgame li,#page ul.flashgame li {
float:left;
width:200px;
padding:0 10px;
}
#page ul.lightgame li dd,#page ul.flashgame li dd {
display:block;
float:left;
width:100px;
padding:0 0 5px;
}
#page ul.lightgame li dd a,#page ul.flashgame li dd a {
display:block;
height:80px;
background:url(../images/game/toPlayLight.jpg);
text-align:center;
}
#page ul.lightgame li dt,#page ul.flashgame li dt {
display:block;
float:right;
width:90px;
height:80px;
text-align:center;
}
#page ul.lightgame li dt a,#page ul.flashgame li dt a {
display:block;
width:80px;
border-bottom:2px solid #07a;
font-weight:700;
text-align:center;
}
#page ul.flashgame h3 {
height:30px;
background:url(../images/game/ttlFlashgame.gif);
}
#page .goto {
display:block;
float:right;
width:72px;
height:20px;
margin:0 10px 5px 0;
background:url(../images/game/btnGoto.gif);
}
#page .toGame {
display:block;
float:right;
width:152px;
height:22px;
margin:30px 10px 5px 0;
background:url(../images/game/btnToGame.gif);
}