@charset "Shift_JIS";
/*
----------------------------------------
M-game portal advanced
file name: login.css
author: H.Park
create: 2007.11.01.

=================contents===============
1 : style reset
2 : site (top)
3 : page (middle)
========================================
*/
/* 1 : style reset
---------------------------------------- */
html {
filter:expression(document.execCommand("BackgroundImageCache", false, true));
}
a, a:link {
color:#8b0;
text-decoration:none;
}
a:hover {
color:#f80;
}
#mgame {
background:url(../images/login/bgAll.jpg) repeat-x top center;
}
/* 2 : site (top)
---------------------------------------- */
#site .related {
float:right;
width:660px;
margin:10px 0 0;
}
#site .banner {
float:left;
width:470px;
height:60px;
margin:0 0 10px;
}
#site .event {
float:right;
width:180px;
height:60px;
background:url(../images/login/banner2.gif);
}
#site .oneLineNews {
float:left;
width:470px;
height:19px;
padding:1px 0 0 5px;
background:url(../images/login/bgNewsline.gif) no-repeat;
}
#site .help {
float:right;
width:80px;
height:20px;
background:url(../images/login/btnHelp.gif) no-repeat;
}
/* 2 : page (middle)
---------------------------------------- */
#page .enter {
float:left;
width:210px;
height:275px;
margin:0 0 10px;
padding:0 10px;
background:url(../images/login/bgLogin.gif) no-repeat;
}
#page .data {
float:left;
width:190px;
height:185px;
margin:10px 0;
padding:0 10px;
background:url(../images/login/bgEnter.gif) no-repeat;
}
#page .enter dl {
width:150px;
height:50px;
margin:10px 0 0;
padding:8px 10px 10px;
background:url(../images/login/bgInput.gif) no-repeat;
}
#page .enter dt {
float:left;
width:20px;
height:20px;
}
#page .enter .id {
background:url(../images/login/bgId.gif) no-repeat;
}
#page .enter .pw {
background:url(../images/login/bgPw.gif) no-repeat;
}
#page .enter dd {
margin:0 0 1px;
text-align:right;
}
#page .enter dd input {
width:120px;
height:14px;
padding:1px;
}
#page .enter .login {
display:block;
width:172px;
height:32px;
background:url(../images/login/btnLogin.gif) no-repeat;
}
#page .enter ul {
height:45px;
margin:0 2px;
}
#page .enter .find {
display:block;
width:172px;
height:22px;
background:url(../images/login/btnFind.gif) no-repeat;
}
#page .enter .join {
display:block;
float:left;
width:190px;
height:60px;
background:url(../images/login/btnJoin.gif) no-repeat;
}
#page .event {
display:block;
float:left;
clear:left;
width:210px;
height:50px;
margin:0 0 10px;
background:url(../images/login/btnEvent.jpg) no-repeat;
}
#page .introduce {
clear:both;
width:900px;
}
#page .flashGame,#page .mmorpg,#page .community {
float:left;
width:293px;
margin:0 10px 0 0;
}
#page .community {
margin:0;
}
#page .flashGame .title,#page .mmorpg .title,#page .community .title {
display:block;
width:293px;
height:30px;
}
#page .flashGame .title {
background:url(../images/login/ttlFlash.gif);
}
#page .mmorpg .title {
background:url(../images/login/ttlMmorpg.gif);
}
#page .community .title {
background:url(../images/login/ttlCommunity.gif);
}
#page .contents {
width:273px;
height:150px;
padding:10px;
background:url(../images/login/bgIntroduce.gif) bottom;
}
#page .toFlash,#page .toMmorpg {
display:block;
width:272px;
height:32px;
margin:23px 0 5px;
}
#page .toFlash {
background:url(../images/login/btnFlash.gif);
}
#page .toMmorpg {
background:url(../images/login/btnMmorpg.gif);
}
#page .toBlog,#page .toCircle {
display:block;
width:272px;
height:32px;
margin:5px 0;
}
#page .toBlog {
background:url(../images/login/btnBlog.gif);
}
#page .toCircle {
background:url(../images/login/btnCircle.gif);
}