<?header("Content-type: text/css");?>
@charset "utf-8";
/*
----------------------------------------
M-game portal advanced
file name:main.css
author:H.Park
create:2007.11.01.

=================contents===============
1 : style reset
2 : site (top)
	global
	category
	category hover
3 : about (left)
4 : original (right)
	game
	blog, circle
========================================
*/
/* 1 : style reset
---------------------------------------- */
html {
filter:expression(document.execCommand("BackgroundImageCache", false, true));
}
a,a:link {
color:#07a;
text-decoration:none;
}
a:hover {
color:#f80;
}
body {
background:#cee7eb url(../images/main/bgAll.gif) repeat-x top center;
}
/* 2 : site (top)
---------------------------------------- */
#site {
background:url(../images/main/bgTop.jpg);
}
/* global */
li.manage a {
width:64px;
background:url(../images/main/btnManage.gif) no-repeat;
}
li.mint a {
width:94px;
background:url(../images/main/btnMint.gif) no-repeat;
}
li.help a {
width:45px;
background:url(../images/main/btnHelp.gif) no-repeat;
}
li.contact a {
width:124px;
background:url(../images/main/btnContact.gif) no-repeat;
}
li.sitemap a {
width:68px;
background:url(../images/main/btnSitemap.gif) no-repeat;
}
li.logout a {
width:55px;
background:url(../images/main/btnLog.gif) no-repeat;
}
/* category */
li.top a {
width:67px;
background:url(../images/main/btnTop.gif);
}
li.game a {
width:71px;
background:url(../images/main/btnGame.gif);
}
li.auction a {
width:157px;
background:url(../images/main/btnAuction.gif);
}
li.blog a {
width:69px;
background:url(../images/main/btnBlog.gif);
}
li.circle a {
width:85px;
background:url(../images/main/btnCircle.gif);
}
li.guild {
width:70px;
}
li.mym a {
width:113px;
background:url(../images/main/btnMym.gif);
}
/* category hover */
li.top a:hover {
background:url(../images/main/btnTop.gif);
}
li.game a:hover {
background:url(../images/main/btnGameOn.gif);
}
li.auction a:hover {
background:url(../images/main/btnAuctionOn.gif);
}
li.blog a:hover {
background:url(../images/main/btnBlogOn.gif);
}
li.circle a:hover {
background:url(../images/main/btnCircleOn.gif);
}
li.mym a:hover {
background:url(../images/main/btnMymOn.gif);
}
/* 3 : about (left)
---------------------------------------- */
#page .master {
background:url(../images/main/bgLogin.gif) no-repeat;
}
#page .name {
background:url(../images/main/bgName.gif) no-repeat;
}
#page .panel {
background:url(../images/main/bgPanel.gif) no-repeat;
}
#page .photo {
background:url(../images/main/bgPhoto.gif) no-repeat;
}
#page .toProfile {
background:url(../images/main/btnToProfile.gif);
}
#page .toMail {
background:url(../images/main/btnToMail.gif);
}
#page .toMym {
background:url(../images/main/btnToMym.gif);
}
#page .confirmMint {
background:url(../images/main/bgMint.gif) no-repeat;
}
#page .buyMint {
background:url(../images/main/btnBuyMint.gif);
}
#page .toMyBlog {
background:url(../images/main/btnToMyBlog.gif);
}
#page .toOtherBlog {
background:url(../images/main/bgToOtherBlog.gif) no-repeat;
}
#page .beginner ul.contents {
background:url(../images/main/bgBeginner.gif) bottom;
}
#page .beginner ul.contents li a {
display:block;
width:192px;
height:32px;
padding:0 0 5px;
background:url(../images/main/btnBeginner.gif) no-repeat;
}
#page .beginner h2 {
background:url(../images/main/ttlBeginner.gif);
}
#page .news {
background:url(../images/main/bgNewsContents.gif) bottom;
}
#page .news h2 {
background:url(../images/main/ttlNews.gif);
}
#page .news .contents li {
margin:0 0 1px;
border-bottom:1px solid #07a;
}
#page .news .contents li.lastline {
border-bottom:none;
}
/* 4 : original (right)
---------------------------------------- */
#page .original {
float:right;
width:680px;
}
/* game */
#page .original .gamePickup h2 {
width:680px;
height:50px;
background:url(../images/main/ttlGamePickup.gif);
}
#page .original .gamePickup {
overflow:hidden;
margin:10px 0;
background:url(../images/main/bgGamePickup.gif) bottom;
}
#page ul.mmorpg {
float:left;
width:210px;
margin:0 0 0 10px;
padding:0 0 5px;
}
*html div#page ul.mmorpg {
margin:0 0 0 5px;
}
#page ul.mmorpg h3 {
height:20px;
margin:0 0 10px;
background:url(../images/main/ttlMmorpg.gif);
}
#page ul.mmorpg li a {
display:block;
width:210px;
height:14px;
margin:0 0 5px;
padding:50px 0 0;
background:url(../images/main/toPlayMmorpg.jpg) no-repeat;
text-align:center;
}
#page ul.lightgame,#page ul.flashgame {
display:block;
float:right;
width:440px;
margin:0 10px 10px 0;
padding:0 0 5px;
background:url(../images/main/bgLightFlash.gif) bottom;
}
*html div#page ul.lightgame,*html div#page ul.flashgame {
margin:0 5px 10px 0;
}
#page ul.lightgame h3 {
height:30px;
margin:0;
background:url(../images/main/ttlLightgame.gif);
}
#page ul.lightgame li,#page ul.flashgame li {
float:left;
width:200px;
padding:0 10px;
}
#page ul.lightgame li dd,#page ul.flashgame li dd {
display:block;
float:left;
width:100px;
padding:0 0 5px;
}
#page ul.lightgame li dd a,#page ul.flashgame li dd a {
display:block;
height:80px;
background:url(../images/main/toPlayLight.jpg);
text-align:center;
}
#page ul.lightgame li dt,#page ul.flashgame li dt {
display:block;
float:right;
width:90px;
height:80px;
text-align:center;
}
#page ul.lightgame li dt a,#page ul.flashgame li dt a {
display:block;
width:80px;
border-bottom:2px solid #07a;
font-weight:700;
text-align:center;
}
#page ul.flashgame h3 {
height:30px;
background:url(../images/main/ttlFlashgame.gif);
}
#page .goto {
display:block;
float:right;
width:72px;
height:20px;
margin:0 10px 5px 0;
background:url(../images/main/btnGoto.gif);
}
#page .toGame {
display:block;
float:right;
width:152px;
height:22px;
margin:30px 10px 5px 0;
background:url(../images/main/btnToGame.gif);
}
/* blog, circle */
#page .blogPickup {
float:left;
width:335px;
padding:0 0 5px;
background:url(../images/main/bgPickup.gif) bottom;
}
#page .circlePickup {
float:right;
width:335px;
padding:0 0 5px;
background:url(../images/main/bgPickup.gif) bottom;
}
#page .blogPickup h2,#page .circlePickup h2 {
display:block;
width:335px;
height:50px;
}
#page .blogPickup h2 {
background:url(../images/main/ttlBlogpickup.gif);
}
#page .circlePickup h2 {
background:url(../images/main/ttlCirclepickup.gif);
}
#page .blogPickup dl,#page .circlePickup dl {
width:300px;
height:90px;
padding:0 10px;
}
#page .blogPickup dd,#page .circlePickup dd {
float:left;
}
#page .blogPickup dt,#page .circlePickup dt {
display:block;
float:right;
width:140px;
text-align:center;
}
#page .blogPickup dt a,#page .circlePickup dt a {
display:block;
width:130px;
border-bottom:2px solid #07a;
font-weight:700;
text-align:center;
}
#page .blogPickup .togo,#page .circlePickup .togo {
display:block;
float:right;
width:152px;
height:22px;
margin:0 10px;
}
#page .blogPickup .togo {
background:url(../images/main/btnToBlog.gif);
}
#page .circlePickup .togo {
background:url(../images/main/btnToCircle.gif);
}