/* CSS Document */

a {
	color: #111111;
	background-color: #FFFFFF;
	background: none;
	text-decoration: none;
}

a:link {
	color: #222222;
	text-decoration: none;
	background-color: #FFFFFF;
	background: none;
}

a:hover {
	color: #ff5500;
	background-color: #FFFFFF;
	background: none;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0 0 0 2em;
}

li {
	margin:0;
	padding:0;
}

dt {
	margin-left: 0em;
	font-size: large;
	font-weight: bold;
	border-bottom: 2px solid #ff5500;
}

dd {
	margin-left: 1em;
	font-size: small;
	font-weight: normal;
}

#wrap {
	position: absolute;	padding: 0 20px;		/*Background Centering*/
	width: 720px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;		/*Vertical Repeating*/
}

body {
	top: 0;
	padding: 0;
	margin: 0 auto;		/*Page Centering*/
	text-align: left;
	vertical-align: top;
	font-family:"ƒƒCƒŠƒI", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "‚l‚r ‚oƒSƒVƒbƒN", Meiryo, serif;
/*	voice-family: "\"}\""; voice-family: inherit; font-size: x-small; font-weight: lighter; }	html>body { *//*Mac IE5 Hack*/
	font-size: small; /*Win IE*/	
	width: 760px;
}

#header {
	margin: 0;
	padding-right: 10px;
	text-align: right;
	width: 710px;
	font-size: small;
	clear: both;
}

#title {
	margin: 0;
	padding: 0;
	width: 720px;
	height: 360px;
	background-image: url(../images/title200601.jpg);
	clear: both;
}

#menu {
	width: 150px;
	margin: 0;
	float: left;
	padding: 200px 20px 0 10px;
	top: 100px;
	font-size:small;
	vertical-align: middle;
}

#menu li {
	margin: 0;
	padding-left: 10px;
	list-style-image: url(../images/dd.jpg);
}

#contents {
	width: 720px;
	clear: both;
}

#main1 {
	margin: 0;
	padding: 10px;
	width: 520px;
	float: left;
	right: 30px;
}

#main2 {
	margin: 0;
	padding: 10px;
	width: 520px;
	float: left;
	left: 30px;
}

.m1 {
	padding-top:  0.5em;
	margin: 0;
	font-weight: bold;
}

.m1d {
	padding-right: 10px;
	margin: 0;
	font-weight: lighter;
	color: #ff5500;
	background-color: #ffffff;
	text-align: right;
}

.m2 {
	padding-top: 0.5em;
	margin: 0;
	font-weight: bold;
}

.m2d {
	padding-right: 10px;
	margin: 0;
	font-weight: lighter;
	color: #ff5500;
	background-color: #ffffff;
	text-align: right;
}

#main-banner {
	margin: 0;
	padding: 10px;
	vertical-align: top;
	float: right;
	width: 160px;
}

#blog {
	padding: 5px 10px;
	margin: 0;
}

#ban1 {
	padding: 5px 10px;
	margin: 0;
}

#ban2 {
	padding: 5px 10px;
	margin: 0;
}

#ban3 {
	padding: 5px 10px;
	margin: 0;
}

#ban4 {
	padding: 5px 10px;
	margin: 0;
}

#footer {
	clear: both;
	font-size: x-small;
	padding: 10px;
	text-align: right;
}

hr {
	border-bottom-style: dotted;
	border-width: 1px;
}

#foot-logo {
	float: left;
	font-size: x-small;
	text-align: left;
	width: 300px;
}

#copy {
	float: right;
	font-size: x-small;
	text-align: right;
	width:400px;
}