
/***********************/
/* 특정 Tag별 스타일   */
/***********************/

BODY,td,table{
    font-family:DotumChe,GulimChe;
	font-size:9pt;
	color: #666666;				 
 	scrollbar-face-color: white; 
	scrollbar-shadow-color: #707070;
	scrollbar-highlight-color: #ffffff; 
	scrollbar-3dlight-color: #707070; 
	scrollbar-darkshadow-color: #ffffff; 
	scrollbar-track-color: #D7D7D7; 
	scrollbar-arrow-color: #707070;
	}
select{
    font-family:DotumChe,GulimChe;
	font-size:9pt;
	color: #000000;				 
    background-color:#ffffff;
	}

a img
{
	border-style:none;
}
/* 링크 */

a        {color: #666666 line-height:18px; text-decoration:none;}
a:link   {color: #666666; text-decoration: none;}
a:visited{color: #666666; text-decoration: none;}
a:active {color: #666666; text-decoration: none;}
a:hover  {color: #546AA7; text-decoration: none;}


/* 가운데 정렬폰트 */	
.font_center {text-align:center; }


/* 오른쪽 정렬폰트 */	
.font_right {text-align:right; }

/* 왼쪽정렬폰트 */	
.font_left {text-align:left; }

/* 11폰트 */
.font_stext {font-size: 11px; }

/* 11폰트하얀색 왼쪽여백 */
.font_swtext {font-size: 11px; color:#FFFFFF; padding-left:5;}


/* 12폰트강조 */
.font_btext {font-size: 12px; font-weight: bold; height: 18px;}

/*공지사항폰트*/
.font_notext{font-size: 12px; color:#FFFFFF; padding-top:3; background-color:#535B8D;}

/* 12폰트하얀색 */
.font_wtext {font-size: 12px; color:#FFFFFF;}

/* 12폰트하얀색강조 */
.font_bwtext {font-size: 12px; font-weight: bold; color:#FFFFFF; padding-top:3; }

/* 14폰트하얀색강조 */
.font_bsbwtext {font-size: 14px; font-weight: bold; color:#FFFFFF; padding-bottom:5; }

/* 18폰트하얀색강조 */
.font_bbwtext {font-size: 18px; font-weight: bold; color:#FFFFFF; text-align:center; padding-top:3;}

/* 18폰트붉은색강조 */
.font_bbrtext {font-size: 18px; font-weight: bold; color:#FFFF33; text-align:center; padding-top:3;}


/* 슬로건폰트 */
.font_stext {font-size: 12px; padding-top:10; color:#003366; }

/*back이미지*/
.back01{
 background-image: url("../images/bag_img01.gif"); 
 }
 
 .back02{
 background-image: url("../images/bag_img02.gif"); 
 }
 
 .back03{
 background-image: url("../images/bag_img03.gif"); 
 }

 .back04{
 background-image: url("../images/table_bagimg01.gif"); 
 }

 

 .back05{
 background-image: url("../images/table_bagimg02.gif"); 
 }

 .back06{
 background-image: url("../images/bag_img04.gif"); 
 }
 
 .back07{
 background-image: url("../images/pop_title_bag.gif"); 
 }

 .back08{
 background-image: url("../images/pop_bag01.gif"); 
 }

 .back09{
 background-image: url("../images/pop_bag02.gif"); 
 }

 .back10{
 background-image: url("../images/pop_bag03.gif"); 
 }

 .back11{
 background-image: url("../images/pop_img05.gif"); 
 }

.back12{
 background-image: url("../images/table_bagimg01_two.gif"); 
 }

 .back13{
 background-image: url("../images/table_bagimg01_three.gif"); 
 }
 /*이미지*/
 .img01{
 background-image: url("../images/icon_img01.gif"); 
 }

 .img02{
 background-image: url("../images/icon_img04.gif"); 
 }

 /*tep이미지*/
 .tepimg01{
 background-image: url("../images/tep_img01.gif"); 
 }

 .tepimg01_ov{
 background-image: url("../images/tep_img01_ov.gif"); 
 }

 .tepimg02{
 background-image: url("../images/tep_img02.gif"); 
 }

 .tepimg02_ov{
 background-image: url("../images/tep_img02_ov.gif"); 
 }

 .tepimg03{
 background-image: url("../images/tep_img03.gif"); 
 }

 .tepimg03_ov{
 background-image: url("../images/tep_img03_ov.gif"); 
 }

 .tepimg04{
 background-image: url("../images/tep_img04.gif"); 
 }

 .tepimg04_ov{
 background-image: url("../images/tep_img04_ov.gif"); 
 }


 .input {
	font-size: 12px;
	font-family: "돋움";
	border: 1px solid #D2D2D2;
	height: 19px;
	padding-left: 2px;
	padding-top: 3px;	
	vertical-align: text-middle;	
	background-color:#FFFFFF;
}

.input02 {
	font-size: 12px;
	font-family: "돋움";
	border: 1px solid #D2D2D2;
	height: 19px;
	padding-left: 2px;
	padding-top: 3px;	
	vertical-align: text-middle;	
	background-color:#FCFCF3;
}


/*테이블*/

.sTblTc  /*테이블색깔*/
{
	background-color:#F7F7F7;	
	text-align:center;	
    font-weight: bold;
	color:#535B8D ;
	padding:6 0 0 0;
	height:25px;
	font-size: 11px;
}

.TblTc  /*테이블색깔*/
{
	background-color:#F7F7F7;	
	text-align:center;	
    font-weight: bold;
	color:#666666 ;
	padding:6 0 0 0;
	height:21px;
	font-size: 11px;
}

.sTblTitA  /*테이블흰색*/
{	
	padding:6 0 0 5;}

.TblTitA  /*테이블흰색*/
{	
	padding:0 0 0 5;}


/*버튼2*/
 .mmtnL02c
    {
	font-size: 11px;
	font-family: "돋움";
	width: 55px ;
	height: 22px ;
	border-width: 0px ; 
	background-image:  url("../images/main_bt.gif");
	background-color:transparent;
	color:#ffffff;
	text-align:center;
	padding-left:10px;
	padding-top:3;
	vertical-align: text-bottom;
	font-weight: bold;
	cursor:hand;
   } 

 .mmtnL03c
    {
	font-size: 11px;
	font-family: "돋움";
	width: 68px ;
	height: 22px ;
	border-width: 0px ; 
	background-image:  url("../images/main_bt01.gif");
	background-color:transparent;
	color:#ffffff;
	text-align:center;
	padding-left:10px;
	padding-top:3;
	vertical-align: text-bottom;
	font-weight: bold;
	cursor:hand;
   } 

  