@charset "Shift-JIS";
<?php header("Content-type: text/css");?>
html {
	filter: expression(document.execCommand("BackgroundImageCache", false, true));
}
img, div {behavior: url(./js/iepngfix.htc);}
.menu  {
behavior: expression(
	this.onmouseover = new Function("this.className += ' menuOver';"),
	this.onmouseout = new Function("this.className = this.className.replace(' menuOver', '');"),
	this.style.behavior = null
);
}
input {
	overflow:hidden;
}
.header {
	position:absolute;
	top:0;
	left:50%;
	width:1100px;
	height:100px;
	margin:0 0 0 -555px;
	background:url(../images/bg_nav.png) center top no-repeat;
}
.nav {
	position:relative;
	width:900px;
	height:67px;
	margin:0 0 0 43px;
}
.nav a {
	position:absolute;
	display:block;
	top:0;
	height:49px;
	background:none;
}
.nav a:hover {
	background:none;
}
#index .contents {
	margin-left:20px;
	height:560px;
}
#index .contents .main {
	margin:0 0 10px 5px;
}
#index .contents .main .news {
	margin:5px 5px 0 2px;
}
#index .contents .aside {
	float:right;
}
#index .contents .aside .ranking,
#index .contents .aside .banners,
#index .contents .aside a.gmblog  {
	margin:5px 0 0 2px;
}
#index .contents .aside .ranking ul li a.crew:hover {
	background:url(../images/bg_ranking.gif) 0 0 no-repeat;
}
#index .contents .aside .ranking ul li a.clan:hover {
	background:url(../images/bg_ranking.gif) -95px 0 no-repeat;
}