/* 
 * COMMON TAG ELEMENTS 
 */
* {
	color: #555;
	font-size: 12px;
}
a {
	text-decoration: none;
	color: #2074bb;
}
a:hover {
	text-decoration: none;
	color: #5dad3e;
}
img {
	border: 0 none;
}
form {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, Gulim, sans-serif;
	text-align: center;
	background: #3e3e3e url(image/body.top.back.gif) top repeat-x;
}
code {
	display: block;
	font-family: "Lucida Console", sans-serif;
	color: #bbb;
	background-color: #000;
	margin: 20px;
	padding: 10px;
	line-height: 170%;
	font-size: 14px;
	border: #aaa 2px solid;
}

/* 
 * TOP HEAD STYLE 
 */
#topBack {
	padding: 20px 0 20px 0;
}
#viewTitleBack {
	position: absolute;
	margin: 2px 0 0 12px;
	z-index: 9;
	color: #3e3e3e;
	font-size: 22px;
	font-weight: bold;
	text-transform: lowercase;
	width: 600px;
	top: 10px;
}
#viewTitle {
	width: 600px;
	position: absolute;
	margin: 0 0 0 10px;
	z-index: 10;
	top: 10px;
}
#viewInfoBack {
	top: 38px;
	left: 10px;
	display: block;
	margin: 1px 0 0 1px;
	color: #3e3e3e;
	font-family: Dotum, 돋움, sans-serif;
	font-size: 11px;
	letter-spacing: -1px;
	font-weight: normal;
	position: absolute;
	z-index: 9;
}
#viewInfo {
	top: 38px;
	left: 10px;
	display: block;
	font-family: Dotum, 돋움, sans-serif;
	font-size: 11px;
	letter-spacing: -1px;
	position: absolute;
	margin: 0;
	color: #777;
	z-index: 10;
}
#viewTitle a {
	font-weight: bold;
	font-size: 22px;
	text-transform: lowercase;
	color: #f9f9f9;
}
#viewTitle a:hover {
	color: #71d749;
}
/* BLOG MENU */
#viewBtns {
	position: absolute;
	top: 60px;
	right: 225px;
}
#viewBtns ul {
	margin: 10px;
	padding: 10px;
	list-style: none;
}
#viewBtns li {
	display: inline;
	padding-left: 5px;
}
#viewBtns a {
	font-size: 12px;
	color: #999;
	padding: 5px;
	border-top: #87bd71 2px solid;
}
#viewBtns a:hover {
	color: #fff;
	background-color: #87bd71;
}
#head span {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, Gulim, sans-serif;
	color: #aaa;
}

/* 
 * SIDE BAR 
 */
#sidebar {
	position: absolute;
	top: 130px;
	right: 0;
}
#sidebar .sidebar {
	width: 215px;
	margin: 10px 0 0 0;
}
#sidebar .sidebar a,
#bottomPane .sidebar a {
	color: #999;
	font-size: 11px;
	font-family: Dotum, 돋움, sans-serif;
}
#sidebar .sidebar ul,
#photos ul {
	margin: 0;
	padding: 0;
}
#sidebar .sidebar li {
	list-style: none;
	background: url(image/sidebar.arrow.gif) no-repeat left;
	padding: 3px 0 3px 10px;
	border-bottom: #393939 1px solid;
}
#sidebar .sidebar li a:hover {
	color: #71d749;
}
#photos li {
	text-align: center;
	border-bottom: #3e3e3e 5px solid;
	list-style: none;
}
#photos li img {
	padding-top: 15px;
}
#sidebar .t {
	background-color: #353535;
	margin-top: 10px;
	color: #666;
	text-align: center;
	font-size: 12px;
	font-family: verdana, sans-serif;
	text-transform: lowercase;
	padding-top: 3px;
	height: 22px;
	width: 215px;
}
#searchForm {
	padding: 30px 220px 10px 0;
	text-align: center;
}
#searchForm input.i {
	width: 140px;
	background-color: transparent;
	border: 0 none;
	border-bottom: #373737 1px solid;
}
#searchForm input,
#searchForm select, 
#searchForm option {
	vertical-align: middle;
	background-color: #3e3e3e;
	color: #aaa;
	border: 0 none;
}
#categories, #links, #tags {
	text-align: left;
}

/* 
 * SIDE - calendar 
 */
#calendar {
	margin-top: 15px;
	width: 170px;
}
#topCalendar {
	text-align: center;
	font-size: 12px;
	height: 23px;
	padding-bottom: 2px;
	margin-top: 10px;
}
#topCalendar a.prevMonth { font-size: 10px; }
#topCalendar span.nowMonth {
	color: #888;
	font-weight: bold;
}
#topCalendar a.nextMonth { font-size: 10px; }
#calendar table {
	width: 100%;
}
#calendar th {
	text-align: center;
	height: 20px;
	color: #666;
}
#calendar td {
	font-size: 10px;
	text-align: center;
	height: 20px;
	color: #5e5e5e;
}
#calendar td a {
	font-size: 10px;
	color: #555;
}
#calendar td:hover {
	background-color: #4e4e4e;
}
#calendar td.n {
	background-color: #424242;
}
#calendar td.sun a,
#calendar td.sun {
	color: #844a4a;
}
#calendar td.sat a,
#calendar td.sat {
	color: #637093;
}

/* 
 * MAIN CONTENTS 
 */
#mainFrame {
	width: 990px;
	margin: auto;
	position: relative;
	text-align: left;
	background: url(image/content.top.back.gif) no-repeat top left;
}
#main {
	padding: 100px 0 0 0;
	margin: 0 0 0 1px;
}
#content {
	float: left;
	width: 768px;
	text-align: left;
	background: url(image/content.back.gif) repeat-y;
}
#content blockquote {
	background: #fffcd8 url(a5.gif) no-repeat top left;
	border: dotted 1px #dfd999;
	margin: 20px;
	padding: 10px;
}
#content .more {
	cursor: pointer;
	color: #ff7700;
}
#content a.down img {
	vertical-align: middle;
}
/* Content - view list - lists */
#articleListPage {
	padding: 10px 10px 10px 5px;
}
#articleListPage ul {
	margin: 0 10px 0 0;
	padding: 5px 0	 5px 15px;
}
#content .articleHead { 
	padding: 10px;
	margin: 5px 10px 0 10px;
	border-bottom: #eee 5px solid;
	font-family: Dotum, 돋움, sans-serif;
	font-size: 12pt;
}
#content .articleHead a {
	font-family: Dotum, 돋움, sans-serif;
	font-size: 12pt;
}
#content .articleList {
	list-style: none;
	background: url(list_arrow.gif) no-repeat left;
	padding: 5px 0px 5px 20px;
	vertical-align: middle;
	border-bottom: dotted 1px #ddd;
}
#content .articleList a:hover {
	font-weight: bold;
}
#content .articleList span {
	color: #999;
	font-size: 11px;
}
/* Content - post list - title(subject)s */
#content .list .title {
	vertical-align: middle;
	margin-top: 15px;
}
#content .list .title a {
	font-weight: bold;
	color: #5e5e5e;
	vertical-align: middle;
}
#content .list .title a:hover {
	color: #2074bb;
	text-decoration: none;
}
#content .list .title span {
	font-size: 11px;
	color: #aaa;
	font-family: Georgia, sans-serif;
	vertical-align: middle;
}
#content .list .title span a {
	font-size: 11px;
	color: #777;
}
#content .list .title span strong {
	font-size: 11px;
	color: #a0a0a0;
}
#content .list .title .titleBox {
	position: relative;
	background: url(image/title.back.gif) repeat-x bottom;
	width: 735px;
	padding: 5px;
	margin-left: 11px;
	color: #ccc;
}
#content .list .title .titleBox span {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
}
/* Content - post list - tags */
#content .list .tag {
	color: #999;
	margin: 20px 0 10px 0;
}
#content .list .tag a {
	color: #999;
	font-family: Dotum, 돋움, sans-serif;
	font-size: 11px;
}
#content .list .directReply {
	text-align: right;
	padding-bottom: 10px;
}
#content .list .directReply span {
	cursor: pointer;
	color: #2074bb;
	font-size: 11px;
}
/* Content - post list - trackback title/contents/bottom */
#content .list .t_title {
	font-size: 12px;
	color: #911e1e;
	padding: 10px;
	border-top: #eee 1px dotted;
	background-color: #fafafa;
	margin-left: 15px;
	width: 720px;
}
#content .list .t_content {
	background-color: #fafafa;
	line-height: 170%;
	padding: 0 10px 10px 10px;
	margin-left: 15px;
	width: 720px;
}
#content .list .t_bottom {
	padding: 10px;
	text-align: right;
	border-bottom: #eee 1px dotted;
	background-color: #fafafa;
	margin-left: 15px;
	width: 720px;
}
#content .trackbackURL {
	width: 743px;
	margin: 10px 0 10px 12px;
	padding: 10px 0 10px 0;
	text-align: center;
	color: #aaa;
	border-top: #eee 1px solid;
	border-bottom: #eee 1px solid;
	background-color: #fcfcfc;
}
/* Content - post list - comment contents/reply */
#content .list .co_content {
	padding: 10px;
	color: #777;
	line-height: 170%;
	margin-left: 15px;
}
#content .list .co_content_reply {
	margin: 0 15px 0 120px;
	background-color: #f7f7f7;
	padding: 5px;
	color: #666;
	border-top: #fff 1px solid;
	line-height: 170%;
}
/* Content - post list - article(post) contexts */
#content .list .content {
	line-height: 170%;
	width: 710px;
	margin-left: 11px;
	padding: 15px 10px 0 15px;
	color: #666;
}
/* Content - post list - bottom style/reply */
#content .list .bottom {
	padding: 5px 0 0 0;
	text-align: right;
	color: #999;
	font-size: 11px;
}
#content .list .bottom .reply {
	border: #eee 1px solid;
	width: 100px;
	height: 30px;
	font-weight: bold;
	background-color: #f7f7f7;
}
#content .list .bottom_reply {
	padding-top: 5px;
	text-align: right;
	margin: 0 0 0 70px;
}
/* Content - view page - bottoms/reply/trackback bottoms */
#content .list .view_bottom {
	padding: 5px;
	text-align: right;
	color: #888;
	margin: 0 15px 0 15px;
	border-bottom: #eee 1px solid;
}
#content .list .view_bottom a,
#content .list .view_bottom_reply a {
	font-size: 12px;
	font-family: Gulim, sans-serif;
	letter-spacing: -1px;
	color: #5380a6;
}
#content .list .view_bottom_reply {
	padding: 5px;
	text-align: right;
	margin: 0 15px 0 120px;
	background-color: #f7f7f7;
	color: #888;
	border-bottom: #eee 1px solid;
}
#content .list .view_t_bottom {
	background-color: #fafafa;
	padding: 5px;
	text-align: right;
}
/* delete reply style */
#content .replyDelete {
	font-size: 12px;
	font-family: Gulim, sans-serif;
	letter-spacing: -1px;
	cursor: pointer;
	color: #5380a6;
}

/* 
 * BOTTOM COMMENT WRITE 
 */
#bottomBack {
	clear: left;
	background: url(image/content.bottom.back.gif) no-repeat left;
	width: 768px;
	height: 31px;
	margin-left: -3px;
}
#bottomPane .t {
	margin-top: 10px;
	color: #ccc;
	text-align: center;
	padding: 8px;
	font-size: 12px;
	font-family: verdana, sans-serif;
	border-bottom: #e1e1e1 2px solid;
	text-transform: lowercase;
}
#paging, 
#guestbook .paging {
	margin: 5px 230px 0 0;
	padding: 5px;
	text-align: right;
}
#paging a, 
#guestbook .paging a {
	color: #666;
	font-size: 10px;
	font-family: verdana, sans-serif;
	background-color: #424242;
	padding: 5px;
}
#paging a:hover, 
#guestbook .paging a:hover {
	background-color: #2f2f2f;
	text-decoration: none;
}
#setting {
	padding: 20px 10px 20px 20px;
}
.write {
	margin: 50px 0 0 20px;
}
.write div.c {
	padding-top: 5px;
	vertical-align: middle;
}
.write div.alreadyOpenid {
	margin: 5px;
	border: #ddd 1px dotted;
	padding: 5px;
}
.write textarea {
	width: 95%;
	border: #ddd 1px solid;
	background-color: #f7f7f7;
	padding: 5px;
}
.write textarea:focus {
	border: #aaa 1px solid;
	background-color: #fff;
}
.write input.t {
	border: #ddd 1px solid;
	width: 200px;
	height: 19px;
	background-color: #f1f6fb;
}
.write input.openID {
	border: #ddd 1px solid;
	width: 180px;
	height: 19px;
	background-color: #f1f6fb;
	padding-left: 20px;
	background: url(openid.gif) no-repeat left;
}
.write input.t:focus {
	border: #ddd 1px solid;
	background-color: #fff;
}
.write input.s {
	padding: 10px;
	background: url(submit_btn_back.gif) repeat-x top;
	color: #fff;
	border: 0 none;
}
div.enterPass {
	position: relative;
	width: 300px;
	padding: 20px;
	border: #aaa 5px solid;
	background-color: #fff;
	text-align: center;
}
div.enterPass .i { 
	border: #ddd 1px solid;
	background-color: #fff;
}
div.enterPass .i:focus {
	border: green 1px solid;
}
div.enterPass .s {
	background-color: #666;
	color: #fff;
	border: 0 none;
}
#prevNextPost {
	padding: 20px 0 0 0;
	background: url(image/content.back.gif) repeat-y;
	width: 768px;
}
#prevNextPost img {
	vertical-align: middle;
}
#prevNextPost .prev {
	float: left;
	width: 49%;
	text-align: left;
	padding: 10px 0 10px 0;
}
#prevNextPost .next {
	float: left;
	width: 50%;
	text-align: right;
	padding: 10px 0 10px 0;
}
#prevNextPost a {
	color: #999;
}
#prevNextPost span {
	color: #999;
}
/* 
 * Bottom - copyright 
 */
#foot {
	font-size: 11px;
	color: #ddd;
	padding: 5px;
}
#foot a { 
	color: #ddd;
	font-size: 10px;
}
#panels {
	text-align: left;
	margin: auto;
}
#panels .t {
	color: #aaa;
	text-align: center;
	padding: 5px 0 10px 0;
	font-size: 11pt;
	font-weight: bold;
	background: url(a1.gif) no-repeat;
}
#panels .list {
	padding: 0px 0px 5px 5px;
	text-align: left;
}

/* 
 * SIDEBAR or ETC TAG / Style 
 */
a.lv0 { color: #666; }
a.lv1 { color: #888; }
a.lv2 { color: #aaa; }
a.lv3 { color: #ddd; }
a.lv4 { color: #ddd; font-weight: bold; }
a.lv5 { color: #fff; font-size: 14px; }
a.lv6 { color: #ccc; background-color: #414141; font-size: 16px; }
a.lv7 { font-weight: bold; background-color: #4c4c4c; font-size: 18px; }
a.lv8 { font-weight: bold; font-size: 20px; background-color: #535353; }
a.lv9 { font-weight: bold; font-size: 22px; background-color: #5a5a5a; }
a.lv10 { font-weight: bold; font-size: 24px; background-color: #616161; }
a.lv11 { font-weight: bold; font-size: 28px; background-color: #6d6d6d; }
a.lv12 { font-weight: bold; font-size: 32px; background-color: #737373; }
a.lv13 { font-weight: bold; font-size: 36px; background-color: #7c7c7c; }
a.lv14 { font-weight: bold; font-size: 40px; background-color: #848484; }
a.lv14 { font-weight: bold; font-size: 45px; background-color: #8f8f8f; }
a.lv15 { font-weight: bold; font-size: 52px; background-color: #999; }
a.readAll { background-color: #f5f5f5; letter-spacing: -1px; }
span.findMe { background-color: yellow; color: red; }
div.trackback { text-align: right; position: absolute; right: 0; }
div.clr { clear: both; }
div.alert { text-align: center; font-family: Dotum, 돋움, sans-serif; font-size: 12pt; font-weight: bold; padding-top: 100px; }
img.gravatar { margin: 0 8px 8px 0; }
img.preview { margin: 0 8px 8px 0; border: #eee 4px solid; }

/* 
 * Tag Clouds 
 */
#tagClouds {
	padding: 20px;
	line-height: 190%;
}