body {
	background: #555 url(img/body-bg_black.png) repeat;
	color: #383838;
}
img {
	border: 0 none;
	background: none;
}
hr {
	color: #fff;
	border: none;
	border-top: 1px dotted #D3D3D3;
}
blockquote{
	background: url(img/quote.gif) no-repeat;
	color: #666666;
	}

a {color: #606060;}
h1 {	color: #333;	}
h1 a:hover, h3 a:hover {color: #bb0505;}
h2 {	color: #000;}
h2 a:hover {	color: #000;	}
#sidebar h2 {color: #777;}
h6 {	color: #000;}

#header { background:url(img/headerbg_black.png) repeat-x;}
#header-in .title a {color: #ddd;}
#header-in .title a:hover {color: #fff;}
#header-in .description {color: #777;}

.subscribe {background:url(img/subscribebg_black.png) bottom left no-repeat;}	
.subscribeform p { color:#fff; }	
.subscribeform .input{
	 background:url(img/sinputbg.png) no-repeat;
	 border:none;} 
.sbutton {
	background:url(img/b_subscribebg_black.png) no-repeat;
	border:none;
	color:#fff;
}

/*Search box Rounded Corner start */
#xsnazzy {background: transparent; }
.xtop, .xbottom { background:transparent; }
.xb2, .xb3, .xb4 {background:#777; border-left:1px solid #9b9b9b; border-right:1px solid #9b9b9b;}
.xb1 {background:#9b9b9b;}
.xb2 {border-width:0 2px;}
.xboxcontent {display:block; background:#777; border:0 solid #9b9b9b; padding:5px; border-width:0 1px;}

/*Search box Rounded Corner End */
#searchform .s {
	background: #fff;
	color: #333;
	border:1px solid #443b34;
}  
.searchform .s {
	border: none;
	background: #fff;
	color: #333;
	border:1px solid #443b34;
}
#nav li {background: url(img/nav_black.png) top left no-repeat;}
#nav ul li:hover, #nav ul li.hover, #nav ul li.current_page_item {
	background: url(img/nav-active_black.png) top left no-repeat;
	}
#nav ul li:hover a, #nav ul li.hover a, #nav ul li.current_page_item a {
	color: #2f2717;	
	background: url(img/nav-active_black.png) top right no-repeat;
	}
#nav ul li a {
	color: #fff;
	background: url(img/nav_black.png) top right no-repeat;
	}
#nav ul li a:hover {
	color: #bb0505;
	background: url(img/nav-active_black.png) top right no-repeat;
	}

#container { background:#fff url(img/container-cbg_black.gif) top repeat-y;	}
.container-top {background:url(img/container-bg_black.gif) top left no-repeat;}
.container-bottom {background: url(img/container-bottom_black.gif) no-repeat;}

#content p img{border: none;}
#content .post-meta-top {color: #8E8F91;}
#content .post-bottom {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	color: #777;
	line-height: 160%;
}
.post-bottom a { color: #535353;}
.comm {background:url(img/comment_black.png) no-repeat;}
.auth span {background: url(img/i_author.png) 0px 1px no-repeat;}
.nav-next	{ background:url(img/arrow-right.gif) no-repeat right;}
.nav-previous { background:url(img/arrow-left.gif) no-repeat left;}
.textarea { border:1px solid #ababab;}
.Cbutton { 
	border:none; 
	background:#434343;
	color:#fff;
	}

/*	Comments	*/
.comment-timestamp { font-size: 11px; color: #aaa; }
.comment-body {
	background:url(img/quote.png) no-repeat left top;
	background-position:0 0px;
}
.comment-metadata {
	background: url(img/comment-title-back.gif) repeat-x top;
}
.comment-metadata,
.comment-metadata_reply {
	position: relative;
	padding: 5px 10px 5px 10px;
	border: #eee 1px solid;
	border-bottom: 0 none;
}
.comment-metadata a,
.comment-metadata_reply a { font-size: 11px; color: #aaa; }
.comment-metadata a:hover,
.comment-metadata_reply a:hover {color: #ff8800;}

.comment-metadata_reply,
.comment-body_reply {
	margin-left: 100px;
	background-color: #fafafa;
}
.comment-body_reply {
	margin-bottom: 25px;
	padding: 10px;
	border: #eee 1px solid;
	border-top: 0 none;
}

.comment-author,
.comment-author a { font-family: "Malgun Gothic", sans-serif; font-size: 14pt; color: #888; }
.comment-side { position: absolute; right: 5px; }

.authorcomment {border-bottom: 1px solid #ababab;}
.authorcomment .comment-body {border: none;	}
.authorcomment .comment-metadata {
	background: #fff;
	color: #333;
}
.authorcomment .comment-metadata a {color: #bb0505;}
.authorcomment .comment-metadata a:hover {color: #333;}
#sidebar .advertise img {	border:none;}

#l_sidebar ul li ul {	border-top: 1px solid #5e5e5e;}
#l_sidebar ul li ul li {border-bottom: 1px solid #3a3a3a; line-height: 130%;}
#l_sidebar ul li ul li:hover { background-color: #3f3f3f; }
#l_sidebar ul li ul li a:hover {color:#999;}
#l_sidebar ul li ul li ul li {
	border-bottom: 1px solid #EAF4FF; /*IE Bug Fix */
	border-top: 1px solid #424242;
	background: none;
}
#l_sidebar ul li ul li ul {border: none;}
#r_sidebar ul li ul {border-top: 1px solid #5e5e5e;}
#r_sidebar ul li ul li {border-bottom: 1px solid #3a3a3a; line-height: 130%;}
#r_sidebar ul li ul li:hover { background-color: #3f3f3f; }
#r_sidebar ul li ul li a:hover {color: #999;}
#r_sidebar ul li ul li ul li {
	border-bottom: 1px solid #EAF4FF; /*IE Bug Fix */
	border-top: 1px dotted #9c9c9c;
	background: none;
}
#r_sidebar ul li ul li ul {border: none;}
#r_sidebar ul li ul li ul li a:hover {color: #777;}

#footer { 	color: #787878;	}

.copyright a 	{ color: #787878; }
.copyright a:hover {color: #fff; }

ul#nav-footer li a 			{ color: #fff; }
ul#nav-footer li a:hover 	{ color: #777;   } 