/* Common Element */
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #606060;
	text-align: center;
}

img {
	vertical-align: middle;
	border: 0 none;
}

a {
	color: #195d89;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

#cashField h2 {
	font-size: 16pt;
	font-family: Malgun Gothic, sans-serif;
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	font-weight: normal;
	border-bottom: #ddd 1px solid;
	color: #666;
	text-align: left;
}

#cashField table {
	width: 100%;
	table-layout: fixed;
}

#cashField th {
	text-align: center;
	height: 36px;
	background: url(mv_top.gif) repeat-x;
}

#cashField td {
	border-bottom: #eee 1px solid;
	padding: 5px;
	line-height: 165%;
	text-align: center;
}

#cashField td input {
	border: #ddd 1px solid;
	font-size: 12px;
}

#cashField td input:hover {
	border: #aaa 1px solid;
}

#cashField td input:focus {
	border: #aaa 2px solid;
}

#cashField td input.lock {
	background-color: #f0f0f0;
}

/* Order Skin Class Style */
#cashField .infoBox {
	border: #ccc 1px dotted;
	background-color: #f7f7f7;
	line-height: 165%;
	padding: 10px;
	text-align: left;
	margin: 0 0 15px 0;
}

#cashField td.done {
	background-color: #f3f7fd;
}

#cashField td.cancel {
	background-color: #fdf3f3;
}

#cashField td.opt { 
	border: #ddd 1px solid; 
	background-color: #f9f6ec; 
	text-align: center; 
	border-bottom: 0 none; 
}

#cashField td.var { 
	border: #ddd 1px solid; 
	border-left: 0 none; 
	border-bottom: 0 none; 
	padding-left: 5px; 
	text-align: left;
}

#cashField td.productImg { 
	border: #eee 1px solid; 
	border-right: 0 none; 
	text-align: center; 
	padding: 10px 0 10px 0; 
}

#cashField .space {
	height: 20px;
}

#cashField .checkAgain {
	margin: 20px 0 20px 0;
	padding: 10px;
	border: #aaa 1px dotted;
	background-color: #ffffe5;
	line-height: 165%;
	text-align: left;
	display: none;
}

#cashField .sendMoneyConfirm {
	font-size: 12pt;
	color: #2e83ff;
	letter-spacing: 3px;
	font-weight: bold;
}

#chooseBuyType {
	margin: 20px 0 10px 0;
	border: #aaa 1px dotted;
	background-color: #f5fbff;
	padding: 10px;
}

#chooseBuyType label:hover {
	font-weight: bold;
}

#buyCardMsg,
#buyCashMsg {
	display: none;
}