/* NHN ws team (http://html.nhndesign.com/) author : ±eCoAo, 1RAo?O*/

/* °oAe */
body{margin:0 0 15px 0; font-family:±?，2, Gulim, AppleGothic, sans-serif; background:#fff;}
div, ul, ol, dl, p, td, th, input, textarea, select{font-family:±?，2, Gulim, AppleGothic, sans-serif; font-size:13px; color:#333;}
div, ul, ol, li, dl, dt, dd, p, input, textarea, select, h1, h2, h3, h4, em, address, fieldset, form, iframe, object{margin:0; padding:0;}
img, fieldset, iframe{border:none;}
li{list-style-type:none;}
em, address{font-style:normal;}
input{padding-right:1px;}
legend, hr{display:none;}
a{color:#0c2d7b; text-decoration:none;}
a:hover{text-decoration:underline;}

/* ・1AI?A?o */
#fix_wrap{min-width:690px; margin:0 auto; _margin-left:690px; background-color:#fff; text-align:center;}
#fix_conts{position:relative; _margin-left:-690px;}
/*\*/
* html #fix_wrap, * html #fix_conts{height:1px;}
/*/
.fix_wrap, .fix_conts{display: inline-block;}
/**/

/* search */
#search{position:relative; width:695px; margin:0 auto; padding:115px 0 15px 0; _padding-bottom:5px; text-align:left;}
h1{margin:0 8px 15px 0; text-align:center; font-size:0;}
h1 img{vertical-align:top; margin-right:-2px;}
.window{display:inline; position:relative; float:left; margin-left:165px; width:356px; _width:360px; height:29px; _height:33px; padding:4px 0 0 4px; _padding-top:3px; background-color:#51af10;}
.box_window{width:325px; height:25px; padding:4px 0 0 8px; border:1px solid #51af10; font:bold 14px/1.3em μ，?o,Dotum, AppleGothic, sans-serif; vertical-align:top;}
.btn_window{margin:0 0 0 -5px; _margin-top:1px; vertical-align:top;}
.btn_kbd{display:inline; float:left; margin:14px 0 0 9px; color:#d5d5d5;}
.btn_kbd *{float:left; display:block;}
.btn_kbd img{vertical-align:top;}
.btn_kbd span{margin:2px 4px 0 4px; _margin:2px 1px 0 1px; font:11px/1.3em μ，?o,Dotum;}
.btn_kbd a{padding:3px;}

/* gnb */
#gnb{position:absolute; right:0; top:0;}
#gnb #account{float:left; margin-right:-4px; padding:8px 0 0 24px;}
#gnb #account strong{font-weight:normal; margin-right:3px; color:#444; font-size:12px; font-family:μ，?o, Dotum, AppleGothic, sans-serif; line-height:16px;}
#gnb #account img{_margin:-1px 0 1px; vertical-align:top;}
#gnb #account a, #gnb #account a:hover{color:#444 !important;}
#gnb ul{float:left; margin:6px 25px 0 0; font-size:12px; font-family:μ，?o,Dotum,AppleGothic, sans-serif;}
#gnb li{position:relative; _display:inline; float:left; margin:0 0 0 8px; padding:3px 0px 0 9px; background:url(http://sstatic.naver.com/search/images11/bg_bar01.gif) left 3px no-repeat; letter-spacing:-1px;}
#gnb li a{color:#444;}
#gnb .first{background:none;}
#gnb .more_menu img{margin:-1px 0 0 2px; vertical-align:top;}
#gnb .service_list{overflow:hidden; position:absolute; right:-26px; top:13px; width:179px; _width:202px; padding:9px 5px 0 13px; _padding-bottom:6px; margin-left:-6px; border:2px solid #777; background-color:#fff; text-align:left;}
#gnb .service_list li{background:none; width:31px; margin:0 0 7px 0; padding:0; white-space:nowrap;}
#gnb .service_list li.wd01{width:41px;}
#gnb .service_list li.all_view{margin:2px 0 0 -14px;}
#gnb .service_list li a{color:#454545 !important;}
#gnb .service_list .all_view a{display:block; color:#008B00 !important; font-size:11px !important; padding-left:4px; background:url(http://sstatic.naver.com/search/images11/ico_arw01.gif) 0 3px no-repeat;}

/* footer */
#footer{clear:both; margin-top:94px; padding-top:78px; _padding-top:0; text-align:center; font-size:12px;}
#footer address, #footer p{display:inline; font-size:11px; font-family:Tahoma;}
#footer address{margin-right:7px; color:#666;}
#footer strong a{color:#00535d;}
#footer p{color:#d5d5d5; font-family:μ，?o,Dotum;}
#footer p a{margin:0 3px; color:#0c2d7b; text-decoration:underline;}
#footer .cs_link{font-family:μ，?o,Dotum;letter-spacing:-1px;}

/* CN/?μ AO・A±a */
.ke_kbd{position:absolute; left:50%; top:198px; z-index:100; width:260px; _width:267px; height:168px; margin-left:192px; padding-left:7px; background:#f5f5f5 url(http://sstatic.naver.com/search/images12/bg_kekbd.gif) no-repeat 0 0;text-align:left;}
.ke_kbd .lang{margin:9px 0 5px 4px; color:#d4d4d4; font:11px/1.3em μ，?o,Dotum;}
.ke_kbd .lang a{color:#555; letter-spacing:-1px;}
.ke_kbd .lang strong{text-decoration:underline;}
.kbd{float:left; margin:0 0 6px 0; padding-bottom:1px; border:1px solid #fefefe; background:#5e5e5e url(http://sstatic.naver.com/search/images12/btn_kbd.gif) repeat 1px 1px;}
.kbd input{display:inline; float:left; width:24px; height:20px; margin:1px 0 0 1px; border:1px solid #6f6f6f; border-top-color:#828282; border-left-color:#828282; background-color:#757575; color:#fff; text-indent:1px; font:12px/1.4em μ，?o,Dotum; cursor:pointer; cursor:hand;}
.kbd input.on{border:1px solid #5e5e5e; border-top-color:#3a3a3a; border-left-color:#3a3a3a; background-color:#5e5e5e;}
.kbd .kor_vowel input{border:1px solid #5c5c5c; border-top-color:#6f6f6f; border-left-color:#6f6f6f; background-color:#626262;}
.kbd .kor_vowel input.on{border:1px solid #4e4e4e; border-top-color:#373737; border-left-color:#373737; background-color:#4e4e4e;}
.kbd .num input{font:12px/1.6em ±?，2,Gulim;}
.kbd .kor{float:left; width:150px;}
.kbd .kor_vowel{float:left; width:101px; margin-bottom:-1px; padding-bottom:1px; background:#4b4b4b url(http://sstatic.naver.com/search/images12/btn_kbd2.gif) repeat 1px 1px;}
.kbd .eng{overflow:hidden; clear:both; width:251px; margin-bottom:21px;}
.kbd .num{clear:both; width:251px;}
.ke_kbd .action{clear:both; _width:100%; margin:0 8px 0 0; text-align:right;}
.ke_kbd .btn_close{position:absolute; right:7px; top:8px;}

.se_info{clear:both; padding-top:20px; _padding-top:0; color:#999; text-align:center; font-size:12px; font-family:μ，?o,Dotum;}
.se_info em{display:block; margin-top:6px;}
.se_info em a{color:#777; text-decoration:underline;}
