@charset "Shift-JIS";
<?php header("Content-type: text/css");?>
* {
	margin:0;
	padding:0;
}
* {
	margin:0;
	padding:0;
}
img, div {behavior: url(js/iepngfix.htc)}
.menu  {
behavior: expression(
	this.onmouseover = new Function("this.className += ' menuOver';"),
	this.onmouseout = new Function("this.className = this.className.replace(' menuOver', '');"),
	this.style.behavior = null
);
}
.nav {
	position:relative;
	width:900px;
	height:67px;
	margin:0 auto;
}
.nav a {
	position:absolute;
	display:block;
	top:0;
	height:49px;
}
.nav .policy {
	left:4px;
	width:118px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -100px -73px no-repeat;
}
.nav .about {
	left:122px;
	width:95px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -218px -73px no-repeat;
}
.nav .clan {
	left:217px;
	width:132px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -313px -73px no-repeat;
}
.nav .guide {
	left:555px;
	width:132px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -651px -73px no-repeat;
}
.nav .download {
	left:687px;
	width:95px;
	background:url(http://image.mgame.jp/new_rpg/op7new//bg_nav.png) -783px -73px no-repeat;
}
.nav .faq {
	left:782px;
	width:117px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_nav.png) -878px -73px no-repeat;
}
.nav .policy:hover {
	width:118px;
	height:49px;
}
.nav .home {
	width:206px;
	height:75px;
}
.inner {
	position:absolute;
	top:-180px;
	left:50%;
	width:920px;
	height:270px;
	margin:0 0 0 -495px !important;
	padding:0;
}
.inner_bg {
	position:absolute;
	width:920px;
	height:270px;
	margin:0;
	padding:0;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_innermenu.png) 0 0 no-repeat;
}
.close {
	position:absolute;
	display:block;
	top:225px;
	left:440px;
	width:40px;
	height:20px;
	z-index:100;
}
.inner_text {
	position:relative;
	width:840px;
	height:160px;
	padding:20px 30px 0;
}
.inner ul {
	position:relative;
	float:left;
	text-align:center;
	width:90px;
	height:180px;
	overflow:hidden;
}
.inner .policy,.inner .about,.inner .clan {
	float:left;
	margin:0 10px 0 0;
	filter:alpha(opacity=50);
}
.inner .guide,.inner .download,.inner .faq {
	float:right;
	margin:0 0 0 10px;
	filter:alpha(opacity=50);
}
.inner ul li {
	height:16px;
}
.inner ul li a {
	width:90px;
	height:16px;
}
.inner ul li:hover,
.inner ul li.menuOver {
	background: url(http://image.mgame.jp/new_rpg/op7new/bg_navli.gif) top left no-repeat;
}
/*#index .contents {
	height:560px;
}
#index .contents .common .gamestart{
	margin:0 0 10px;
	background: url(http://image.mgame.jp/new_rpg/op7new/bg_start.gif) 0 0 no-repeat;
}
#index .contents .common .gamestart a {
	position:relative;
	float:left;
	display:block;
	width:230px;
	height:90px;
	background: url(http://image.mgame.jp/new_rpg/op7new/bg_start.gif) 0 0 no-repeat;
}
#index .contents .common .gamestart a:hover {
	background: url(http://image.mgame.jp/new_rpg/op7new/bg_start.gif) 0 -90px no-repeat;
}
#index .contents .common .log {
	position:relative;
	float:left;
	width:230px;
	height:105px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_login.gif) 0 0 no-repeat;
}
#index .contents .common .log .enc {
	position:absolute;
	top:75px;
	left:15px;
}
#index .contents .common .logged .welcome {
	color:#fff;
	background:#000 url(http://image.mgame.jp/new_rpg/op7new/bg_logged.gif) left top no-repeat;
}
#index .contents .common .logged .welcome p span {
	color:#f80;
}
#index .contents .main {
	margin:0 0 10px 5px;
}
#index .contents .main .emergency {
	margin:10px 10px 10px 5px;
}

#index .contents .main .premium {
	margin:15px 0 10px 5px;
}
#index .contents .main .information {
	margin:5px 10px 0 5px;
}
#index .contents .main .news {
	margin:5px 5px 0 2px;
}
#index .contents .aside {
	float:right;
}
#index .contents .aside .ranking,
#index .contents .aside .banners,
#index .contents .aside a.gmblog  {
	margin:5px 0 0 2px;
}
#index .contents .aside .ranking {
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_ranking.gif) left bottom no-repeat;
}
#index .contents .aside .ranking ul li a.crew {
	position:relative;
	display:block;
	float:left;
	width:95px;
	height:42px;
}
#index .contents .aside .ranking ul li a.clan {
	position:relative;
	display:block;
	float:right;
	width:95px;
	height:42px;
}
#index .contents .aside .ranking ul li a.crew:hover {
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_ranking.gif) 0 0 no-repeat;
}
#index .contents .aside .ranking ul li a.clan:hover {
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_ranking.gif) -95px 0 no-repeat;
}
#index .contents .aside .banners {
	height:166px;
}
#index .contents .aside a.gmblog {
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_gmblog.gif) left bottom no-repeat;
}
#index .contents .aside a.gmblog:hover {
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_gmblog.gif) left top no-repeat;
}*/