@charset "Shift-JIS";
<?php header("Content-type: text/css");?>
* {
	margin:0;
	padding:0;
}
* {
	margin:0;
	padding:0;
}
#sub .innerp .search {
	position:relative;
	float:left;
	width:560px;
	height:50px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_faq_search.jpg) left top no-repeat;
}
#sub .innerp .search input {
	position:absolute;
	top:17px;
	left:50px;
	width:350px;
	height:20px;
}
#sub .innerp .search a {
	position:absolute;
	top:-30px;
	right:30px;
	width:80px;
	height:30px;
}
#sub .innerp .tables .question {
	margin:0 0 10px;
	padding:0 0 0 50px;
	background:url(http://image.mgame.jp/new_rpg/op7new/ico_q.jpg) left top no-repeat;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
}
#sub .innerp .tables .question a.open2,
#sub .innerp .tables .ask a.close2 {
	display:inline;
	width:auto;
	height:auto;
	margin:0;
	padding:0;
}
#sub .innerp .tables .question a.open2 {
	position:relative;
}
#sub .innerp .tables .ask {
	position:relative;
	float:right;
	width:430px;
	margin:10px 0 0;
	padding:10px 10px 0 60px;
	height:0px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_faq_ask.gif) left top no-repeat;
	overflow:hidden;
	font-size:12px;
	font-weight:normal;
}
#sub .innerp .tables .ask a.close2 {
	position:relative;
	float:right;
	width:500px;
	height:30px;
	margin:0 -10px 0 0;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_faq_ask.gif) left bottom no-repeat;
}
#sub .innerp .faqbtn {
	margin:20px 0 0 -30px;
}
#sub .sub_inner .sitemap_category {
	float:left;
	width:170px;
	margin:0 20px;
}
#sub .sub_inner .sitemap_category ul {
	margin:0 0 40px;
}
#sub .sub_inner .sitemap_category ul p {
	width:180px;
	height:23px;
	padding:7px 0 0 10px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_sitemap.gif) left top no-repeat;
	color:#7f0;
	font-size:14px;
	font-weight:bold;
}
#sub .sub_inner .sitemap_category ul li {
	margin:5px 0 10px;
}
#sub .sub_inner .sitemap_category ul li ul {
	margin:5px 0 15px;
}
#sub .sub_inner .sitemap_category ul li ul li {
	margin:0;
	padding:0 0 0 10px;
	background:url(http://image.mgame.jp/new_rpg/op7new/ico_sitemap2.gif) 10px center no-repeat;
}
#sub .sub_inner .fps-keys {
	position:relative;
	float:left;
	width:620px;
	padding:10px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_fps_keys.gif) left top no-repeat;
}
#sub .sub_inner .key {
	display:block;
	float:left;
	width:30px;
	height:30px;
	margin:0 5px 5px 0;
	padding:0;
	opacity:0.4;
}
#sub .sub_inner .key:hover,
#sub .sub_inner .key.active {
	opacity:1;
}
#sub .sub_inner .keys-japanese {
	float:left;
	width:360px;
}
#sub .sub_inner .keys-english {
	float:right;
	width:210px;
}
#sub .sub_inner .aj {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-aj.gif) left top no-repeat;
}
#sub .sub_inner .ka {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ka.gif) left top no-repeat;
}
#sub .sub_inner .sa {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-sa.gif) left top no-repeat;
}
#sub .sub_inner .ta {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ta.gif) left top no-repeat;
}
#sub .sub_inner .na {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-na.gif) left top no-repeat;
}
#sub .sub_inner .ha {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ha.gif) left top no-repeat;
}
#sub .sub_inner .ma {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ma.gif) left top no-repeat;
}
#sub .sub_inner .ya {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ya.gif) left top no-repeat;
}
#sub .sub_inner .ra {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ra.gif) left top no-repeat;
}
#sub .sub_inner .wa {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-wa.gif) left top no-repeat;
}
#sub .sub_inner .ij {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ij.gif) left top no-repeat;
}
#sub .sub_inner .ki {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ki.gif) left top no-repeat;
}
#sub .sub_inner .si {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-si.gif) left top no-repeat;
}
#sub .sub_inner .ti {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ti.gif) left top no-repeat;
}
#sub .sub_inner .ni {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ni.gif) left top no-repeat;
}
#sub .sub_inner .hi {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-hi.gif) left top no-repeat;
}
#sub .sub_inner .mi {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-mi.gif) left top no-repeat;
}
#sub .sub_inner .ri {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ri.gif) left top no-repeat;
}
#sub .sub_inner .uj {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-uj.gif) left top no-repeat;
}
#sub .sub_inner .ku {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ku.gif) left top no-repeat;
}
#sub .sub_inner .su {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-su.gif) left top no-repeat;
}
#sub .sub_inner .tu {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-tu.gif) left top no-repeat;
}
#sub .sub_inner .nu {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-nu.gif) left top no-repeat;
}
#sub .sub_inner .hu {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-hu.gif) left top no-repeat;
}
#sub .sub_inner .mu {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-mu.gif) left top no-repeat;
}
#sub .sub_inner .yu {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-yu.gif) left top no-repeat;
}
#sub .sub_inner .ru {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ru.gif) left top no-repeat;
}
#sub .sub_inner .wo {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-wo.gif) left top no-repeat;
}
#sub .sub_inner .ej {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ej.gif) left top no-repeat;
}
#sub .sub_inner .ke {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ke.gif) left top no-repeat;
}
#sub .sub_inner .se {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-se.gif) left top no-repeat;
}
#sub .sub_inner .te {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-te.gif) left top no-repeat;
}
#sub .sub_inner .ne {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ne.gif) left top no-repeat;
}
#sub .sub_inner .he {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-he.gif) left top no-repeat;
}
#sub .sub_inner .me {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-me.gif) left top no-repeat;
}
#sub .sub_inner .re {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-re.gif) left top no-repeat;
}
#sub .sub_inner .oj {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-oj.gif) left top no-repeat;
}
#sub .sub_inner .ko {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ko.gif) left top no-repeat;
}
#sub .sub_inner .so {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-so.gif) left top no-repeat;
}
#sub .sub_inner .to {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-to.gif) left top no-repeat;
}
#sub .sub_inner .no {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-no.gif) left top no-repeat;
}
#sub .sub_inner .ho {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ho.gif) left top no-repeat;
}
#sub .sub_inner .mo {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-mo.gif) left top no-repeat;
}
#sub .sub_inner .yo {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-yo.gif) left top no-repeat;
}
#sub .sub_inner .ro {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-ro.gif) left top no-repeat;
}
#sub .sub_inner .nn {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-nj.gif) left top no-repeat;
}
#sub .sub_inner .a {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-a.gif) left top no-repeat;
}
#sub .sub_inner .b {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-b.gif) left top no-repeat;
}
#sub .sub_inner .c {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-c.gif) left top no-repeat;
}
#sub .sub_inner .d {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-d.gif) left top no-repeat;
}
#sub .sub_inner .e {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-e.gif) left top no-repeat;
}
#sub .sub_inner .f {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-f.gif) left top no-repeat;
}
#sub .sub_inner .g {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-g.gif) left top no-repeat;
}
#sub .sub_inner .h {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-h.gif) left top no-repeat;
}
#sub .sub_inner .i {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-i.gif) left top no-repeat;
}
#sub .sub_inner .j {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-j.gif) left top no-repeat;
}
#sub .sub_inner .k {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-k.gif) left top no-repeat;
}
#sub .sub_inner .l {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-l.gif) left top no-repeat;
}
#sub .sub_inner .m {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-m.gif) left top no-repeat;
}
#sub .sub_inner .n {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-n.gif) left top no-repeat;
}
#sub .sub_inner .o {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-o.gif) left top no-repeat;
}
#sub .sub_inner .p {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-p.gif) left top no-repeat;
}
#sub .sub_inner .q {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-q.gif) left top no-repeat;
}
#sub .sub_inner .r {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-r.gif) left top no-repeat;
}
#sub .sub_inner .s {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-s.gif) left top no-repeat;
}
#sub .sub_inner .t {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-t.gif) left top no-repeat;
}
#sub .sub_inner .u {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-u.gif) left top no-repeat;
}
#sub .sub_inner .v {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-v.gif) left top no-repeat;
}
#sub .sub_inner .w {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-w.gif) left top no-repeat;
}
#sub .sub_inner .x {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-x.gif) left top no-repeat;
}
#sub .sub_inner .y {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-y.gif) left top no-repeat;
}
#sub .sub_inner .z {
	background:url(http://image.mgame.jp/new_rpg/op7new/keys/key-z.gif) left top no-repeat;
}