@charset "Shift-JIS";
<?php header("Content-type: text/css");?>
* {
	margin:0;
	padding:0;
}
* {
	margin:0;
	padding:0;
}
#sub {
	position:relative;
	float:right;
	width:640px;
	padding:10px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_contents.png) left top no-repeat;
}
#category {
	position:relative;
	float:left;
	margin:0 0 10px;
}
#category h2 {
	width:230px;
	height:40px;
}
/* h2 category variation */
	#category h2.news {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/bg_news.gif) left top no-repeat;
	}
	#category h2.game {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/bg_game.gif) left top no-repeat;
	}
	#category h2.play {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/bg_play.gif) left top no-repeat;
	}
	#category h2.system {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/bg_system.gif) left top no-repeat;
	}
	#category h2.support {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/bg_support.gif) left top no-repeat;
	}
#category ul li {
	font-size:0px;
}
#category ul li a {
	position:relative;
	float:left;
	display:block;
	width:224px;
	height:29px;
	margin:0 3px;
	background-position:0 -58px;
	background-repeat:no-repeat;
}
/* category 1depth variation */
	#category ul li a.news-osirase {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_news-news.gif);
	}
	#category ul li a.news-event {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_news-event.gif);
	}
	#category ul li a.news-maintenance {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_news-maintenance.gif);
	}
	#category ul li a.game-intro {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_game-intro.gif);
	}
	#category ul li a.game-story {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_game-story.gif);
	}
	#category ul li a.game-movie {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_game-movie.gif);
	}
	#category ul li a.play-ready {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-ready.gif);
	}
	#category ul li a.play-beginner {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-beginner.gif);
	}
	#category ul li a.play-start {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-start.gif);
	}
	#category ul li a.play-system {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-system.gif);
	}
	#category ul li a.play-premium {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-premium.gif);
	}
	#category ul li a.system-control {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-control.gif);
	}
	#category ul li a.system-screen {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-screen.gif);
	}
	#category ul li a.system-mode {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-mode.gif);
	}
	#category ul li a.system-map {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-map.gif);
	}
	#category ul li a.system-class {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-class.gif);
	}
	#category ul li a.system-weapon {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-weapon.gif);
	}
	#category ul li a.support-policy {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_support-policy.gif);
	}
	#category ul li a.support-faq {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_support-faq.gif);
	}
	#category ul li a.support-ask {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_support-ask.gif);
	}
	#category ul li a.support-sitemap {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_support-sitemap.gif);
	}
	#category ul li a.support-fps {
		background-image:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_support-fps.gif);
	}
#category ul li a.active {
	background-position:0 -29px;
}
#category ul li a:hover {
	background-position:0 0;
}
#category ul li ul {
	position:relative;
	float:left;
	clear:both;
	width:230px;
	background: url(http://image.mgame.jp/new_rpg/op7new/bg_sub_leftline.gif) 5px bottom no-repeat;
}
#category ul li ul li a {
	display:block;
	float:right;
	width:195px;
	height:24px;
	background-repeat:no-repeat;
}
/* category 2depth variation */
	#category ul li ul li a.play-ready-free {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-ready-free.gif) 0 -24px;
	}
	#category ul li ul li a.play-ready-download {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-ready-download.gif) 0 -24px;
	}
	#category ul li ul li a.play-ready-install {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-ready-install.gif) 0 -24px;
	}
	#category ul li ul li a.play-ready-start {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-ready-start.gif) 0 -24px;
	}
	#category ul li ul li a.play-beginner-first {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-beginner-first.gif) 0 -24px;
	}
	#category ul li ul li a.play-beginner-character {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-beginner-character.gif) 0 -24px;
	}
	#category ul li ul li a.play-beginner-instruct {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-beginner-instruct.gif) 0 -24px;
	}
	#category ul li ul li a.play-beginner-shooting {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-beginner-shooting.gif) 0 -24px;
	}
	#category ul li ul li a.play-beginner-premium {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_play-beginner-premium.gif) 0 -24px;
	}
	#category ul li ul li a.system-screen-channel {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-screen-channel.gif) 0 -24px;
	}
	#category ul li ul li a.system-screen-lobby {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-screen-lobby.gif) 0 -24px;
	}
	#category ul li ul li a.system-screen-room {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-screen-room.gif) 0 -24px;
	}
	#category ul li ul li a.system-screen-wait {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-screen-wait.gif) 0 -24px;
	}
	#category ul li ul li a.system-screen-game {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-screen-game.gif) 0 -24px;
	}
	#category ul li ul li a.system-screen-buy {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-screen-buy.gif) 0 -24px;
	}
	#category ul li ul li a.system-weapon-ar {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-weapon-ar.gif) 0 -24px;
	}
	#category ul li ul li a.system-weapon-sub {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-weapon-sub.gif) 0 -24px;
	}
	#category ul li ul li a.system-weapon-sr {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-weapon-sr.gif) 0 -24px;
	}
	#category ul li ul li a.system-weapon-lmg {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-weapon-lmg.gif) 0 -24px;
	}
	#category ul li ul li a.system-weapon-sg {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_system-weapon-sg.gif) 0 -24px;
	}
	#category ul li ul li a.support-policy-rule {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_support-policy-rule.gif) 0 -24px;
	}
	#category ul li ul li a.support-policy-judge {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_support-policy-judge.gif) 0 -24px;
	}
	#category ul li ul li a.support-policy-local {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_support-policy-local.gif) 0 -24px;
	}
	#category ul li ul li a.support-policy-security {
		background:url(http://image.mgame.jp/new_rpg/op7new/sub/btn_support-policy-security.gif) 0 -24px;
	}
#category ul li ul li a.active,
#category ul li ul li a:hover {
	background-position:0 0;
}
#sub h2 {
	width:640px;
	height:70px;
	margin:0 0 20px;
}
/* h2 sub variation */
	#sub h2.underconstruction {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2underconstruction.gif) left top no-repeat;
	}
	#sub h2.news_osirase {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2news.gif) left top no-repeat;
	}
	#sub h2.news_event {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2event.gif) left top no-repeat;
	}
	#sub h2.news_maintenance {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2maintenance.gif) left top no-repeat;
	}
	#sub h2.game_intro {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2gameintro.gif) left top no-repeat;
	}
	#sub h2.game_story {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2gamestory.gif) left top no-repeat;
	}
	#sub h2.game_movie {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2gamemovie.gif) left top no-repeat;
	}
	#sub h2.play_guide {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2playguide.gif) left top no-repeat;
	}
	#sub h2.play_beginner {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2playbeginner.gif) left top no-repeat;
	}
	#sub h2.system_control {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2systemcontrol.gif) left top no-repeat;
	}
	#sub h2.system_screen {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2systemscreen.gif) left top no-repeat;
	}
	#sub h2.system_mode {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2systemmode.gif) left top no-repeat;
	}
	#sub h2.system_map {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2systemmap.gif) left top no-repeat;
	}
	#sub h2.system_class {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2systemclass.gif) left top no-repeat;
	}
	#sub h2.system_weapon {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2systemweapon.gif) left top no-repeat;
	}
	#sub h2.support_policy {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2supportpolicy.gif) left top no-repeat;
	}
	#sub h2.support_faq {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2supportfaq.gif) left top no-repeat;
	}
	#sub h2.support_ask {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2supportask.gif) left top no-repeat;
	}
	#sub h2.support_sitemap {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2supportsitemap.gif) left top no-repeat;
	}
	#sub h2.support_fps {
		background:url(http://image.mgame.jp/new_rpg/op7new/h2/bg_h2supportfps.gif) left top no-repeat;
	}
#sub .sub_inner .tab1,
#sub .sub_inner .tab2,
#sub .sub_inner .tab3 {
	position:relative;
	float:left;
	width:630px;
	height:40px;
	margin:0 0 20px;
}
#sub .sub_inner .tab1 a,
#sub .sub_inner .tab2 a,
#sub .sub_inner .tab3 a {
	display:block;
	height:40px;
	margin:0 0 0 12px;
	background-repeat:no-repeat;
}
#sub .sub_inner .tab1 a {
	width:145px;
}
#sub .sub_inner .tab2 a {
	width:114px;
}
#sub .sub_inner .tab3 a {
	width:94px;
	margin:0 0 0 11px;
}
/* tab variation */
#sub .sub_inner .tab1 .free {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_play-ready-free.gif) 0 -40px;
}
#sub .sub_inner .tab1 .download {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_play-ready-download.gif) 0 -40px;
}
#sub .sub_inner .tab1 .install {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_play-ready-install.gif) 0 -40px;
}
#sub .sub_inner .tab1 .start {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_play-ready-start.gif) 0 -40px;
}
#sub .sub_inner .tab1 .rule {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_support-policy-rule.gif) 0 -40px;
}
#sub .sub_inner .tab1 .judge {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_support-policy-judge.gif) 0 -40px;
}
#sub .sub_inner .tab1 .local {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_support-policy-local.gif) 0 -40px;
}
#sub .sub_inner .tab1 .security {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_support-policy-security.gif) 0 -40px;
}
#sub .sub_inner .tab2 .first {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_play-beginner-first.gif) 0 -40px;
}
#sub .sub_inner .tab2 .character {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_play-beginner-character.gif) 0 -40px;
}
#sub .sub_inner .tab2 .instruct {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_play-beginner-instruct.gif) 0 -40px;
}
#sub .sub_inner .tab2 .shooting {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_play-beginner-shooting.gif) 0 -40px;
}
#sub .sub_inner .tab2 .premium {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_play-beginner-premium.gif) 0 -40px;
}
#sub .sub_inner .tab2 .ar {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-weapon-ar.gif) 0 -40px;
}
#sub .sub_inner .tab2 .sub {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-weapon-sub.gif) 0 -40px;
}
#sub .sub_inner .tab2 .sr {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-weapon-sr.gif) 0 -40px;
}
#sub .sub_inner .tab2 .lmg {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-weapon-lmg.gif) 0 -40px;
}
#sub .sub_inner .tab2 .sg {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-weapon-sg.gif) 0 -40px;
}
#sub .sub_inner .tab3 .channel {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-screen-channel.gif) 0 -40px;
}
#sub .sub_inner .tab3 .lobby {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-screen-lobby.gif) 0 -40px;
}
#sub .sub_inner .tab3 .room {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-screen-room.gif) 0 -40px;
}
#sub .sub_inner .tab3 .wait {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-screen-wait.gif) 0 -40px;
}
#sub .sub_inner .tab3 .game {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-screen-game.gif) 0 -40px;
}
#sub .sub_inner .tab3 .buy {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_system-screen-buy.gif) 0 -40px;
}
#sub .sub_inner .tab1 a:hover,
#sub .sub_inner .tab2 a:hover,
#sub .sub_inner .tab3 a:hover,
#sub .sub_inner .tab1 a.active,
#sub .sub_inner .tab2 a.active,
#sub .sub_inner .tab3 a.active {
	background-position:0 0;
}
#sub .breadcrumbs {
	position:absolute;
	top:55px;
	left:30px;
}
#sub table {
	width:638px;
	border:1px #444 solid;
	padding:1px;
	border-collapse:separate;
}
#sub table th,
#sub table td {
	padding:3px 0 3px;
}
#sub table th {
	padding:2px 5px;
	background:#213300 url(http://image.mgame.jp/new_rpg/op7new/bg_th.gif) top left repeat-x;
}
#sub table td {
	border-top:1px #444 solid;
	margin:0 0 1px;
}
#sub table .no {
	width:80px;
	text-align:center;
}
#sub table .title {
	width:480px;
	text-indent:10px;
}
#sub table .date {
	width:100px;
	text-align:center;
}
#sub table td.view {
	padding:20px;
}
#sub .pagecontrol {
	clear:both;
	margin:30px auto 0;
	padding:10px 0 0;
	border-top:1px #444 solid;
	text-align:center;
}
#sub .pagecontrol a {
	display:inline !important;
	margin:0 !important;
	padding:0 !important;
	width:0 !important;
}
#sub .pagecontrol a.active {
	color:#678;
	font-weight:bold;
}
#sub h3 {
	position:relative;
	float:left;
	width:620px;
	height:21px;
	margin:0px 0 30px;
	padding:3px 0 0 20px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_h3.gif) left top no-repeat;
	font-size:14px;
	font-weight:bold;
}
#sub .sub_inner .btn_bottom {
	position:relative;
	float:left;
	width:610px;
	height:100px;
	margin:0px 0 30px;
	background-position:left bottom;
}
/* bottom buttons */
#sub .sub_inner .play-ready-free,
#sub .sub_inner .play-ready-free a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_play-ready-free.jpg);
}
#sub .sub_inner .play-ready-download,
#sub .sub_inner .play-ready-download a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_play-ready-download.jpg);
}
#sub .sub_inner .play-ready-install,
#sub .sub_inner .play-ready-install a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_play-ready-install.jpg);
}
#sub .sub_inner .play-ready-start,
#sub .sub_inner .play-ready-start a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_play-ready-start.jpg);
}
#sub .sub_inner .play-beginner-first,
#sub .sub_inner .play-beginner-first a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_play-beginner-first.jpg);
}
#sub .sub_inner .play-beginner-character,
#sub .sub_inner .play-beginner-character a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_play-beginner-character.jpg);
}
#sub .sub_inner .play-beginner-instruct,
#sub .sub_inner .play-beginner-instruct a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_play-beginner-instruct.jpg);
}
#sub .sub_inner .play-beginner-shooting,
#sub .sub_inner .play-beginner-shooting a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_play-beginner-shooting.jpg);
}
#sub .sub_inner .play-beginner-premium,
#sub .sub_inner .play-beginner-premium a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_play-beginner-premium.jpg);
}
#sub .sub_inner .system-screen-channel,
#sub .sub_inner .system-screen-channel a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-screen-channel.jpg);
}
#sub .sub_inner .system-screen-lobby,
#sub .sub_inner .system-screen-lobby a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-screen-lobby.jpg);
}
#sub .sub_inner .system-screen-room,
#sub .sub_inner .system-screen-room a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-screen-room.jpg);
}
#sub .sub_inner .system-screen-wait,
#sub .sub_inner .system-screen-wait a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-screen-wait.jpg);
}
#sub .sub_inner .system-screen-game,
#sub .sub_inner .system-screen-game a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-screen-game.jpg);
}
#sub .sub_inner .system-screen-buy,
#sub .sub_inner .system-screen-buy a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-screen-buy.jpg);
}
#sub .sub_inner .system-weapon-ar,
#sub .sub_inner .system-weapon-ar a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-weapon-ar.jpg);
}
#sub .sub_inner .system-weapon-sub,
#sub .sub_inner .system-weapon-sub a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-weapon-sub.jpg);
}
#sub .sub_inner .system-weapon-sr,
#sub .sub_inner .system-weapon-sr a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-weapon-sr.jpg);
}
#sub .sub_inner .system-weapon-lmg,
#sub .sub_inner .system-weapon-lmg a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-weapon-lmg.jpg);
}
#sub .sub_inner .system-weapon-sg,
#sub .sub_inner .system-weapon-sg a {
	background-image:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_bottom_system-weapon-sg.jpg);
}
#sub .sub_inner .btn_bottom a {
	position:absolute;
	display:block;
	position:absolute;
	display:block;
	width:170px;
	height:100px;
}
#sub .sub_inner .btn_bottom a.left {
	top:-40px;
	left:-20px;
	background-position:left bottom;
}
#sub .sub_inner .btn_bottom a.left:hover {
	background-position:left top;
}
#sub .sub_inner .btn_bottom a.right {
	top:-40px;
	right:-20px;
	background-position:right bottom;
}
#sub .sub_inner .btn_bottom a.right:hover {
	background-position:right top;
}
#sub .sub_inner {
	width:640px;
}
#sub .sub_inner p {
	text-align:justify;
}






/* parts */


#sub .sub_inner a {
	display:block;
	width:610px;
	height:100px;
	margin:40px 20px;
}
#sub .sub_inner a.noblock {
	display:inline;
	width:auto;
	height:auto;
	margin:0 10px;
}
#sub .sub_inner a.freejoin {
	background:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_join.jpg) left bottom no-repeat;
}
#sub .sub_inner a.download {
	background:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_download.jpg) left bottom no-repeat;
}
#sub .sub_inner a.buymint {
	background:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_buymint.jpg) left bottom no-repeat;
}
#sub .sub_inner a.buyitem {
	background:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_buyitem.jpg) left bottom no-repeat;
}
#sub .sub_inner a.faqbtn {
	background:url(http://image.mgame.jp/new_rpg/op7new/btn/btn_gofaq.jpg) left bottom no-repeat;
}
#sub .sub_inner a:hover {
	background-position:left top;
}
#sub .innerp {
	position:relative;
	float:left;
	width:610px;
	margin:0px 20px 30px;
	background:url(http://image.mgame.jp/new_rpg/op7new/bg_innerp.jpg) left top no-repeat;
}
#sub .innerp .wide {
	float:right;
	width:560px;
	margin:20px 40px 20px 0;
}
#sub .innerp-no {
	position:relative;
	float:left;
	width:610px;
	margin:0px 20px 30px;
}
#sub .innerp .title {
	padding:10px 0 10px 40px;
	font-size:14px;
	font-weight:bold;
}
#sub .innerp .left {
	position:relative;
	float:left;
	width:260px;
	margin:20px;
}
#sub .innerp .right {
	float:right;
	width:260px;
	margin:20px 40px 0 0;
}
#sub .innerp-no .wide {
	float:left;
	margin:0 30px 40px;
}
#sub table.innertable {
	margin:0 0 50px;
}
#sub table.innertable2 {
	float:left;
	width:560px;
	margin:20px 0 50px;
}
#sub table.innertable td,
#sub table.innertable2 td {
	padding:5px 0;
	text-align:center;
	border-right:1px #444 solid;
}
#sub td.no_line_top {
	border-top:0;
}
#sub table.innertable td.no_line_right,
#sub table.innertable2 td.no_line_right {
	border-right:0;
}
#sub .notice {
	font-weight:bold;
	color:#fe0;
}
#sub .notice2 {
	color:#666;
}
#sub .innerp #tabs {
	position:relative;
	float:left;
	width:510px;
	margin:0 0 0 25px;
}
#sub .innerp .menu a.move {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:170px;
	height:50px;
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_tutorial.gif) 0 0 no-repeat;
}
#sub .innerp .menu a.move:hover {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_tutorial.gif) 0 -50px no-repeat;
}
#sub .innerp .menu a.attack {
	position:absolute;
	top:0;
	left:170px;
	display:block;
	width:170px;
	height:50px;
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_tutorial.gif) -170px 0 no-repeat;
}
#sub .innerp .menu a.attack:hover {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_tutorial.gif) -170px -50px no-repeat;
}
#sub .innerp .menu a.etc {
	position:absolute;
	top:0;
	left:340px;
	display:block;
	width:170px;
	height:50px;
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_tutorial.gif) -340px 0 no-repeat;
}
#sub .innerp .menu a.etc:hover {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_tutorial.gif) -340px -50px no-repeat;
}
#sub .innerp #tabs div {
	position:relative;
	float:left;
	width:510px;
	margin:100px 0 0 20px;
}
#sub .innerp div table {
	position:relative;
	float:left;
	width:510px;
	margin:20px 0;
}
#sub .innerp div table img {
	margin:5px auto;
}
#sub .innerp div table td {
	text-align:center;
}
#sub .innerp .tabs {
	position:relative;
	float:left;
	width:564px;
	height:50px;
	margin:30px 0 0;
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_faq.gif) left top no-repeat;
}
#sub .innerp .tabs a {
	position:relative;
	float:left;
	width:94px;
	height:50px;
	margin:0;
	padding:0;
}
#sub .innerp .tabs a.all:hover,
#sub .innerp .tabs a.all.active {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_faq.gif) 0 -50px no-repeat;
}
#sub .innerp .tabs a.service:hover,
#sub .innerp .tabs a.service.active {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_faq.gif) -94px -50px no-repeat;
}
#sub .innerp .tabs a.join:hover,
#sub .innerp .tabs a.join.active {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_faq.gif) -188px -50px no-repeat;
}
#sub .innerp .tabs a.content:hover,
#sub .innerp .tabs a.content.active {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_faq.gif) -282px -50px no-repeat;
}
#sub .innerp .tabs a.trouble:hover,
#sub .innerp .tabs a.trouble.active {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_faq.gif) -376px -50px no-repeat;
}
#sub .innerp .tabs a.etc:hover,
#sub .innerp .tabs a.etc.active {
	background:url(http://image.mgame.jp/new_rpg/op7new/sub/tab_faq.gif) -470px -50px no-repeat;
}
#sub .innerp .tables {
	position:relative;
	float:left;
	width:540px;
	margin:10px 0 0;
	padding:10px;
}
#sub .sub_inner .clear {
	cursor:default;
}