/* CSS Document */
/*{margin:0;padding:0;}*/
body {margin:0; text-align:center;}
table {border:0;}
img {border:0;}
form {margin:0;}
iframe {margin:0;}
div {margin:0;}

body,table,th,tr,td {font-family:dotum, verdana, arial; font-size:12px; color:#666666; line-height:1.4; }
a {font-family:dotum, verdana, arial; text-decoration:none;}
a:link {font-family:dotum, verdana, arial; text-decoration:none;}
a:visied {font-family:dotum,  verdana, arial; text-decoration:none;}
a:hover {font-family:dotum, verdana, arial; text-decoration:underline;}

input{border:0px;}
.input{border:solid #cccccc  1px; color:#999999; height:20px; font-size:11px; font-family:dotum}
.input1{border:solid #d5d5d5  1px; color:#999999; height:20px; font-size:11px; font-family:dotum}



select { border:solid #999999  1px; height:20px; color:#666666;	}

iframe {font-family:dotum, verdana, arial; font-size:12px; color:#666666;}



/*font-size*/

.b {font-weight:bold;} /* 굵게 */
.s {font-size:11px; font-family:돋움; color:#777777} /* 작게 */
.ss {font-size:9px; font-family:'verdana';} /* 더작게 */
.sb {font-size:11px; font-family:돋움; color:#666666; font-weight:bold} /* 작고굵게 */

/*******************************************************************************************************************************************************************/


/*탑메뉴 */
.gnb         {color:#999999; text-decoration:none; font-size:11px;}
.gnb:link    {color:#999999; text-decoration:none; font-size:11px;}
.gnb:visited {color:#999999; text-decoration:none; font-size:11px;}
.gnb:hover   {color:#666666; text-decoration:none; font-size:11px}


/*다른지역보기 */
.area         {color:#cccccc; text-decoration:none; font-size:11px; font-weight:bold}
.area:link    {color:#cccccc; text-decoration:none; font-size:11px; font-weight:bold}
.area:visited {color:#cccccc; text-decoration:none; font-size:11px; font-weight:bold}
.area:hover   {color:#cccccc; text-decoration:none; font-size:11px; font-weight:bold}
/*******************************************************************************************************************************************************************/


/* 폰트/컬러종류 */
.green_11B {font-family:dotum; color:#619d02; font-weight:bold; font-size:11px}
.green_12B {font-family:dotum; color:#619d02; font-weight:bold}
.black_12B {font-family:dotum; color:#333333; font-weight:bold}
.gray_11 {font-family:dotum; color:#cccccc; font-weight:bold; font-size:11px}

/*******************************************************************************************************************************************************************/


/* 박스 배경 */
.img_box {border-left-color:#cccccc; border-left-style:solid; border-left-width:1px;}
/*******************************************************************************************************************************************************************/


/* 간격 */

.smt1 {margin-top:1px;}
.smt2 {margin-top:2px;}
.smt3 {margin-top:3px;}
.smt4 {margin-top:4px;}
.smt5 {margin-top:5px;}
.smt6 {margin-top:6px;}
.smt7 {margin-top:7px;}
.smt8 {margin-top:8px;}
.smt9 {margin-top:9px;}

.smt10 {margin-top:10px;}
.smt11 {margin-top:11px;}
.smt13 {margin-top:13px;}
.smt15 {margin-top:15px;}
.smt18 {margin-top:18px;}
.smt20 {margin-top:20px;}
.smt22 {margin-top:22px;}
.smt25 {margin-top:25px;}
.smt30 {margin-top:30px;}
.smt35 {margin-top:35px;}
.smt40 {margin-top:40px;}
.smt45 {margin-top:45px;}
.smt50 {margin-top:50px;}
.smt55 {margin-top:55px;}
.smt60 {margin-top:60px;}
.smt95 {margin-top:95px;}

.smr1 {margin-right:1px;}
.smr2 {margin-right:2px;}
.smr3 {margin-right:3px;}
.smr4 {margin-right:4px;}
.smr5 {margin-right:5px;}
.smr8 {margin-right:8px;}
.smr9 {margin-right:9px;}

.smr10 {margin-right:10px;}
.smr14 {margin-right:14px;}
.smr15 {margin-right:15px;}
.smr20 {margin-right:20px;}
.smr25 {margin-right:25px;}
.smr30 {margin-right:30px;}
.smr35 {margin-right:35px;}
.smr40 {margin-right:40px;}
.smr45 {margin-right:45px;}
.smr50 {margin-right:50px;}


.smb3 {margin-bottom:3px;}
.smb2 {margin-bottom:2px;} /* AUAºAI¹IAo¿e */
.smb-1 {margin-bottom:-1px;}
.smb-2 {margin-bottom:-2px;} /* ¶oμð¿A¹oÆ°¿e */
.smb-3 {margin-bottom:-3px;}

.smb5 {margin-bottom:5px;}
.smb7 {margin-bottom:7px;}
.smb8 {margin-bottom:8px;}
.smb10 {margin-bottom:10px;}
.smb15 {margin-bottom:15px;}
.smb20 {margin-bottom:20px;}
.smb25 {margin-bottom:25px;}
.smb30 {margin-bottom:30px;}
.smb35 {margin-bottom:35px;}
.smb40 {margin-bottom:40px;}
.smb45 {margin-bottom:45px;}
.smb47 {margin-bottom:47px;}
.smb50 {margin-bottom:50px;}

.smtmb5 {margin-top:5px; margin-bottom:5px;}
.smtmb10 {margin-top:10px; margin-bottom:10px;}
.smtmb20 {margin-top:20px; margin-bottom:20px;}
.smtmb1030 {margin-top:10px; margin-bottom:30px;}


.sml1 {margin-left:1px;}
.sml2 {margin-left:2px;}
.sml3 {margin-left:3px;}
.sml4 {margin-left:4px;}
.sml5 {margin-left:5px;}
.sml7 {margin-left:7px;}
.sml8 {margin-left:8px;}
.sml10 {margin-left:10px;}
.sml12 {margin-left:12px;}
.sml13 {margin-left:13px;}
.sml15 {margin-left:15px;}
.sml20 {margin-left:20px;}
.sml25 {margin-left:25px;}
.sml30 {margin-left:30px;}
.sml35 {margin-left:35px;}
.sml40 {margin-left:40px;}
.sml45 {margin-left:45px;}
.sml50 {margin-left:50px;}
.sml75 {margin-left:75px;}
.sml100 {margin-left:100px;}
.sml120 {margin-left:120px;}
.sml150 {margin-left:150px;}
.sml200 {margin-left:200px;}
.sml220 {margin-left:220px;}
.sml230 {margin-left:230px;}
.sml310 {margin-left:310px;}
.sml360 {margin-left:360px;}
.sml405 {margin-left:405px;}
.sml600 {margin-left:600px;}

/* ¸¶Aø_f */


/* ÆÐμu */

.sp3 {padding:3px;}
.sp5 {padding:5px;}
.sp10 {padding:10px;}
.sp15 {padding:15px;}
.sp20 {padding:20px;}
.sp25 {padding:25px;}
.sp30 {padding:30px;}
.sp35 {padding:35px;}
.sp40 {padding:40px;}
.sp45 {padding:45px;}
.sp50 {padding:50px;}


.splr1 {padding-left:1px; padding-right:1px;}
.splr2 {padding-left:2px; padding-right:2px;}
.splr3 {padding-left:3px; padding-right:3px;}
.splr4 {padding-left:4px; padding-right:4px;}
.splr5 {padding-left:5px; padding-right:5px;}
.splr6 {padding-left:6px; padding-right:6px;}
.splr7 {padding-left:7px; padding-right:7px;}
.splr8 {padding-left:8px; padding-right:8px;}
.splr9 {padding-left:9px; padding-right:9px;}
.splr10 {padding-left:10px; padding-right:10px;}
.splr11 {padding-left:11px; padding-right:11px;}
.splr12 {padding-left:12px; padding-right:12px;}
.splr13 {padding-left:13px; padding-right:13px;}
.splr14 {padding-left:14px; padding-right:14px;}
.splr15 {padding-left:15px; padding-right:15px;}
.splr16 {padding-left:16px; padding-right:16px;}
.splr17 {padding-left:17px; padding-right:17px;}
.splr18 {padding-left:18px; padding-right:18px;}
.splr20 {padding-left:20px; padding-right:20px;}
.splr23 {padding-left:23px; padding-right:23px;}
.splr25 {padding-left:25px; padding-right:25px;}
.splr30 {padding-left:30px; padding-right:30px;}
.splr35 {padding-left:35px; padding-right:35px;}
.splr40 {padding-left:40px; padding-right:40px;}
.splr45 {padding-left:45px; padding-right:45px;}
.splr50 {padding-left:50px; padding-right:50px;}

.splr52 {padding-left:5px; padding-right:2px;}


.splb157 {padding-left:15px; padding-bottom:7px;}
.splb257 {padding-left:25px; padding-bottom:7px;}


.spt1 {padding-top:1px;}
.spt2 {padding-top:2px;}
.spt3 {padding-top:3px;} /* °O½AÆC¿e */
.spt4 {padding-top:4px;}
.spt5 {padding-top:5px;}
.spt6 {padding-top:6px;}
.spt7 {padding-top:7px;}
.spt8 {padding-top:8px;}
.spt9 {padding-top:9px;}
.spt10 {padding-top:10px;}
.spt11 {padding-top:11px;}
.spt12 {padding-top:12px;}

.spt13 {padding-top:13px;}
.spt14 {padding-top:14px;}
.spt15 {padding-top:15px;}
.spt16 {padding-top:16px;}
.spt17 {padding-top:17px;}
.spt18 {padding-top:18px;}
.spt19 {padding-top:19px;}
.spt20 {padding-top:20px;}
.spt21 {padding-top:21px;}
.spt22 {padding-top:22px;}
.spt23 {padding-top:23px;}
.spt24 {padding-top:24px;}
.spt25 {padding-top:25px;}
.spt26 {padding-top:26px;}
.spt28 {padding-top:28px;}
.spt30 {padding-top:30px;}
.spt33 {padding-top:33px;}
.spt35 {padding-top:35px;}
.spt40 {padding-top:40px;}
.spt45 {padding-top:45px;}
.spt50 {padding-top:50px;}
.spt54 {padding-top:54px;}
.spt55 {padding-top:55px;}
.spt60 {padding-top:60px;}
.spt66 {padding-top:66px;}
.spt149 {padding-top:149px;}

.sptb5  {padding-top:5px; padding-bottom:5px;}
.sptb10 {padding-top:10px; padding-bottom:10px;}
.sptb20  {padding-top:20px; padding-bottom:20px;}
.sptb21 {padding-top:20px; padding-bottom:10px;}
.sptb30  {padding-top:20px; padding-bottom:30px;}


.spr1 {padding-right:1px;}
.spr2 {padding-right:2px;}
.spr3 {padding-right:3px;}
.spr4 {padding-right:4px;}
.spr5 {padding-right:5px;}
.spr6 {padding-right:6px;}
.spr7 {padding-right:7px;}
.spr8 {padding-right:8px;}
.spr9 {padding-right:9px;}
.spr10 {padding-right:10px;}
.spr11 {padding-right:11px;}
.spr12 {padding-right:12px;}
.spr13 {padding-right:13px;}
.spr14 {padding-right:14px;}
.spr30 {padding-right:30px;}

.spr15 {padding-right:15px;}
.spr18 {padding-right:18px;}
.spr20 {padding-right:20px;}
.spr21 {padding-right:21px;}
.spr23 {padding-right:23px;}
.spr25 {padding-right:25px;}
.spr27 {padding-right:27px;}
.spr30 {padding-right:30px;}
.spr35 {padding-right:35px;}
.spr40 {padding-right:40px;}
.spr41 {padding-right:41px;}
.spr45 {padding-right:45px;}
.spr50 {padding-right:50px;}
.spr65 {padding-right:65px;}


.spb1 {padding-bottom:1px;}
.spb2 {padding-bottom:2px;}
.spb3 {padding-bottom:3px;}
.spb4 {padding-bottom:4px;}
.spb5 {padding-bottom:5px;}
.spb6 {padding-bottom:6px;}
.spb7 {padding-bottom:7px;}
.spb8 {padding-bottom:8px;}
.spb9 {padding-bottom:9px;}
.spb10 {padding-bottom:10px;}
.spb11 {padding-bottom:11px;}
.spb12 {padding-bottom:12px;}

.spb15 {padding-bottom:15px;}
.spb17 {padding-bottom:17px;}
.spb19 {padding-bottom:19px;}
.spb20 {padding-bottom:20px;}
.spb25 {padding-bottom:25px;}
.spb30 {padding-bottom:30px;}
.spb35 {padding-bottom:35px;}
.spb40 {padding-bottom:40px;}
.spb45 {padding-bottom:45px;}
.spb50 {padding-bottom:50px;}
.spb120 {padding-bottom:120px;}



.spl1 {padding-left:1px;}
.spl2 {padding-left:2px;}
.spl3 {padding-left:3px;}
.spl4 {padding-left:4px;}
.spl5 {padding-left:5px;}
.spl6 {padding-left:6px;}
.spl7 {padding-left:7px;}
.spl8 {padding-left:8px;}
.spl9 {padding-left:9px;}
.spl10 {padding-left:10px;}
.spl11 {padding-left:11px;}
.spl12 {padding-left:12px;}
.spl13 {padding-left:13px;}
.spl14 {padding-left:14px;}

.spl15 {padding-left:15px;}
.spl16 {padding-left:16px;}
.spl17 {padding-left:17px;}
.spl20 {padding-left:20px;}
.spl21 {padding-left:21px;}
.spl22 {padding-left:22px;}
.spl23 {padding-left:23px;}
.spl24 {padding-left:24px;}
.spl25 {padding-left:25px;}
.spl27 {padding-left:27px;}
.spl28 {padding-left:28px;}
.spl30 {padding-left:26px;}
.spl32 {padding-left:32px;}
.spl37 {padding-left:37px;}
.spl35 {padding-left:35px;}
.spl40 {padding-left:40px;}
.spl42 {padding-left:42px;}
.spl45 {padding-left:45px;}
.spl50 {padding-left:50px;}
.spl60 {padding-left:60px;}
.spl70 {padding-left:70px;}
.spl80 {padding-left:80px;}
.spl90 {padding-left:90px;}
.spl100 {padding-left:100px;}

.splb25 {padding-left:25px; padding-bottom:35px}
.splb30 {padding-left:30px; padding-bottom:30px}
.splb28 {padding-left:28px; padding-bottom:30px}



.gray {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; LINE-HEIGHT: 120%; BACKGROUND-COLOR: #ffffff; WIDTH: 105px; HEIGHT: 17px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_2 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; LINE-HEIGHT: 120%; BACKGROUND-COLOR: #ffffff; WIDTH: 145px; HEIGHT: 17px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_3 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 130px; HEIGHT: 18px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}

.gray_4 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 58px; HEIGHT: 18px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_5 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 450px; HEIGHT: 18px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_6 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 180px; HEIGHT: 18px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_7 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 420px; HEIGHT: 18px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_8 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 117px; HEIGHT: 19px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.border {
	height:25px; BORDER-BOTTOM: #b9b9b9 1px solid; BORDER-LEFT: #b9b9b9 1px solid; BACKGROUND-COLOR: #ffffff; FONT-FAMILY: "돋움"; COLOR: #3b3b3b; FONT-SIZE: 9pt; BORDER-TOP: #b9b9b9 1px solid; BORDER-RIGHT: #b9b9b9 1px solid
}
.personrecordtextarea {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 130%; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 685px; PADDING-RIGHT: 5px; FONT-FAMILY: '굴림'; HEIGHT: 230px; FONT-SIZE: 12px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid; PADDING-TOP: 5px
}

/* ÆÐμu_f */

/*

BODY {
	SCROLLBAR-ARROW-COLOR: #717171; SCROLLBAR-FACE-COLOR: #dddddd; MARGIN: 0px; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #6e6e6e; FONT-SIZE: 12px; SCROLLBAR-TRACK-COLOR: #f0f0f0; SCROLLBAR-3DLIGHT-COLOR: #dbdbdb
}
TD {
	LINE-HEIGHT: 140%; FONT-FAMILY: 돋움; COLOR: #4d4d4d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
TEXTAREA {
	FONT-FAMILY: 돋움; FONT-SIZE: 12px
}
A {
	COLOR: #4d4d4d; TEXT-DECORATION: none
}
A:hover {
	COLOR: #999999; TEXT-DECORATION: none
}
.notice {
	FONT-FAMILY: "돋움"; LETTER-SPACING: -0.05em; COLOR: #747474; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.notice A {
	FONT-FAMILY: "돋움"; LETTER-SPACING: -0.05em; COLOR: #747474; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.notice A:link {
	COLOR: #747474; TEXT-DECORATION: none
}
.notice A:hover {
	COLOR: #222222; TEXT-DECORATION: none
}
.border {
	BORDER-BOTTOM: #b9b9b9 1px solid; BORDER-LEFT: #b9b9b9 1px solid; BACKGROUND-COLOR: #ffffff; FONT-FAMILY: "돋움"; COLOR: #3b3b3b; FONT-SIZE: 9pt; BORDER-TOP: #b9b9b9 1px solid; BORDER-RIGHT: #b9b9b9 1px solid
}
.locat {
	LINE-HEIGHT: 130%; LETTER-SPACING: -0.05em; COLOR: #757575; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.locat A {
	LINE-HEIGHT: 130%; LETTER-SPACING: -0.05em; COLOR: #4d4d4d; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.locat A:link {
	LINE-HEIGHT: 130%; COLOR: #4d4d4d; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.locat A:hover {
	LINE-HEIGHT: 130%; COLOR: #e97c00; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.border {
	BORDER-BOTTOM: #b9b9b9 1px solid; BORDER-LEFT: #b9b9b9 1px solid; BACKGROUND-COLOR: #ffffff; COLOR: #3b3b3b; FONT-SIZE: 9pt; BORDER-TOP: #b9b9b9 1px solid; BORDER-RIGHT: #b9b9b9 1px solid
}
SELECT {
	COLOR: #696969; FONT-SIZE: 9pt
}
.pro_best {
	LINE-HEIGHT: 120%; FONT-FAMILY: "돋움"; COLOR: #626262; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.pro_best_2 {
	LINE-HEIGHT: 120%; FONT-FAMILY: "돋움"; COLOR: #555555; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.pro_best A {
	LINE-HEIGHT: 120%; FONT-FAMILY: "돋움"; COLOR: #626262; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.pro_best A:link {
	LINE-HEIGHT: 120%; COLOR: #404040; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.pro_best A:hover {
	LINE-HEIGHT: 120%; COLOR: #8d8d8d; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.pro_01 {
	LINE-HEIGHT: 120%; FONT-FAMILY: "돋움"; COLOR: #626262; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.pro_01 A {
	LINE-HEIGHT: 120%; FONT-FAMILY: "돋움"; COLOR: #626262; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.pro_01 A:link {
	LINE-HEIGHT: 120%; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.pro_01 A:hover {
	LINE-HEIGHT: 120%; COLOR: #8d8d8d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.num {
	LINE-HEIGHT: 130%; FONT-FAMILY: "Arial"; COLOR: #4d4d4d; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.num A {
	LINE-HEIGHT: 130%; COLOR: #000000; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.num A:link {
	LINE-HEIGHT: 130%; COLOR: #000000; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.num A:hover {
	LINE-HEIGHT: 130%; COLOR: #e97c00; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.title {
	LINE-HEIGHT: 130%; COLOR: #3e3e3e; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.consumer {
	COLOR: #4d4d4d; FONT-SIZE: 12px; TEXT-DECORATION: line-through
}
.cate {
	LINE-HEIGHT: 130%; LETTER-SPACING: -0.05em; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.cate A {
	LINE-HEIGHT: 130%; LETTER-SPACING: -0.05em; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.cate A:link {
	LINE-HEIGHT: 130%; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.cate A:hover {
	LINE-HEIGHT: 130%; COLOR: #f27112; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.ltitle {
	LINE-HEIGHT: 150%; LETTER-SPACING: -0.05em; COLOR: #1e2436; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.imgborder {
	BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid
}
.blue {
	LINE-HEIGHT: 120%; COLOR: #505050; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.blue A {
	LINE-HEIGHT: 140%; COLOR: #316eae; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.blue A:link {
	LINE-HEIGHT: 140%; COLOR: #316eae; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.blue A:hover {
	LINE-HEIGHT: 140%; COLOR: #49ab01; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.gray {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; LINE-HEIGHT: 120%; BACKGROUND-COLOR: #ffffff; WIDTH: 105px; HEIGHT: 17px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_2 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; LINE-HEIGHT: 120%; BACKGROUND-COLOR: #ffffff; WIDTH: 145px; HEIGHT: 17px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_select {
	BACKGROUND-COLOR: #929292; FONT-FAMILY: "돋움"; COLOR: #ffffff; FONT-SIZE: 9pt
}
.chatStyle {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 130%; OVERFLOW-X: hidden; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 5px; WIDTH: 424px; PADDING-RIGHT: 5px; FONT-FAMILY: 돋움; HEIGHT: 214px; FONT-SIZE: 12px; OVERFLOW: scroll; PADDING-TOP: 5px
}
.chatStyle2 {
	SCROLLBAR-ARROW-COLOR: #cccccc; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: ffffff 1px solid; SCROLLBAR-FACE-COLOR: #ffffff; PADDING-BOTTOM: 5px; LINE-HEIGHT: 130%; OVERFLOW-X: hidden; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 5px; WIDTH: 385px; PADDING-RIGHT: 5px; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; FONT-FAMILY: 돋움; HEIGHT: 200px; SCROLLBAR-HIGHLIGHT-COLOR: #d7d7d7; SCROLLBAR-SHADOW-COLOR: #eeeeee; FONT-SIZE: 12px; OVERFLOW: scroll; BORDER-TOP: #ffffff 1px solid; SCROLLBAR-TRACK-COLOR: #ffffff; BORDER-RIGHT: #FFFFFF 1px solid; SCROLLBAR-3DLIGHT-COLOR: #ffffff; PADDING-TOP: 5px
}
.chatBox {
	SCROLLBAR-ARROW-COLOR: #717171; BORDER-BOTTOM: #1a1a1a 1px solid; BORDER-LEFT: #1a1a1a 1px solid; SCROLLBAR-FACE-COLOR: #0e0e0e; BACKGROUND-COLOR: #303030; WIDTH: 331px; SCROLLBAR-DARKSHADOW-COLOR: #303030; FONT-FAMILY: 돋움; HEIGHT: 59px; SCROLLBAR-HIGHLIGHT-COLOR: #303030; COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #000000; FONT-SIZE: 12px; BORDER-TOP: #1a1a1a 1px solid; SCROLLBAR-TRACK-COLOR: #212121; BORDER-RIGHT: #1a1a1a 1px solid; SCROLLBAR-3DLIGHT-COLOR: #0c0c0c
}
.chatBox2 {
	SCROLLBAR-ARROW-COLOR: #ffffff; BORDER-BOTTOM: #ffffff 0px solid; BORDER-LEFT: #ffffff 0px solid; SCROLLBAR-FACE-COLOR: #ffffff; BACKGROUND-COLOR: #ffffff; WIDTH: 260px; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; FONT-FAMILY: 돋움; HEIGHT: 60px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; COLOR: #333333; SCROLLBAR-SHADOW-COLOR: #ffffff; FONT-SIZE: 12px; BORDER-TOP: #ffffff 0px solid; SCROLLBAR-TRACK-COLOR: #ffffff; BORDER-RIGHT: #ffffff 0px solid; SCROLLBAR-3DLIGHT-COLOR: #ffffff
}
.menuh {
	BORDER-BOTTOM-COLOR: #ffff99; BORDER-LEFT: #ffff99; BACKGROUND-COLOR: #ffff99; PADDING-LEFT: 1px; BORDER-RIGHT-COLOR: #ffff99; FONT-SIZE: 12px; BORDER-TOP: #ffff99; CURSOR: hand; PADDING-TOP: 1px
}
.menu {
	BACKGROUND-COLOR: white; FONT-SIZE: 12px
}
.home {
	CURSOR: hand
}
.menulinks {
	TEXT-DECORATION: none
}
.unnamed1 {
	FONT-FAMILY: "돋움"; COLOR: #ff3399; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.unnamed1:unknown {
	FONT-FAMILY: "돋움"; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.unnamed1:unknown hover {
	FONT-FAMILY: "돋움"; FONT-SIZE: 11px; TEXT-DECORATION: none; font-color: #f02d7b
}
.main_poll A {
	FONT-FAMILY: 돋움; FONT-SIZE: 11px
}
.main_notice A {
	FONT-FAMILY: 돋움; FONT-SIZE: 11px
}
.pro_best_text {
	LINE-HEIGHT: 120%; FONT-FAMILY: "돋움"; COLOR: #5a5a5a; FONT-SIZE: 12px; TEXT-DECORATION: none
}

.personrecordtextarea {
	BORDER-BOTTOM: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 130%; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 685px; PADDING-RIGHT: 5px; FONT-FAMILY: '굴림'; HEIGHT: 230px; FONT-SIZE: 12px; BORDER-TOP: #d3d3d3 1px solid; BORDER-RIGHT: #d3d3d3 1px solid; PADDING-TOP: 5px
}
.gray_3 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 130px; HEIGHT: 18px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_4 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 58px; HEIGHT: 18px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_5 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 450px; HEIGHT: 18px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_6 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 180px; HEIGHT: 18px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.gray_7 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 420px; HEIGHT: 18px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.style1 {
	COLOR: #000000; FONT-WEIGHT: bold
}
.gray_8 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 117px; HEIGHT: 19px; COLOR: #686868; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.personrecordtextarea_2 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; LINE-HEIGHT: 130%; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; WIDTH: 420px; FONT-FAMILY: '굴림'; HEIGHT: 90px; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.personrecordtextarea_3 {
	BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; LINE-HEIGHT: 130%; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; WIDTH: 450px; FONT-FAMILY: '굴림'; HEIGHT: 50px; FONT-SIZE: 12px; BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid
}
.price {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; FONT-FAMILY: Impact; COLOR: #444444; FONT-SIZE: 39px; 
}
.unnamed2 {
	FONT-FAMILY: "돋움"; COLOR: #343434; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.price2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; FONT-FAMILY: Impact; COLOR: #686868; FONT-SIZE: 20px; 
}
.unnamed3 {
	FONT-FAMILY: "돋움"; COLOR: #888888; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.unnamed4 {
	FONT-FAMILY: "돋움"; COLOR: #ff7200; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold
}
.unnamed5 {
	FONT-FAMILY: "돋움"; COLOR: #c67130; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold
}
.unnamed6 {
	FONT-FAMILY: "돋움"; COLOR: #6a92d8; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold
}
.unnamed7 {
	FONT-FAMILY: "돋움"; COLOR: #9fc800; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold
}
.unnamed8 {
	FONT-FAMILY: "돋움"; COLOR: #359965; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold
}
.unnamed9 {
	FONT-FAMILY: "돋움"; COLOR: #7173a2; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold
}
.product_title {
	color:000000;
	font-size:20px;
	font-family:돋움;
	font-weight:bold;
	padding:15px 0 0 15px;
	LETTER-SPACING: -0.1em;
}
.year01 {color: #FFFFFF}
.year01 A {color: #FFFFFF;text-decoration:none;font-weight:bold}

.year02 {color: #FFFFFF}
.year02 A {color: #FFFFFF;text-decoration:none;font-weight:bold}

.year03 {color: #FFFFFF}
.year03 A {color: #FFFFFF;text-decoration:none;font-weight:bold}
*/