@charset "UTF-8";
* {
  font-family: 'Helvetica Neue', Helvetica, 'Meiryo', 'Malgun Gothic', sans-serif;
  line-height: 1.5;
  color:#444;
  font-size: 1rem;
}

body {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  border: none;
}
a{
	text-decoration: none;
}
h1 a{
	float: left;
	color: #333;
	font-size: 1.5rem;
	font-weight: 300;
}
nav{
	padding-top: 9px;
}
nav a{
	float: right;
	margin-left: 1rem;
	font-weight: 300;
}
h1 img{
	border-radius: 3px;
}
.wrap{
	position: relative;
	margin: 0 auto;
	width: auto;
	max-width: 768px;
	height: 100%;
}
header.wrap{
	margin: 0.95rem auto 4rem !important;
	overflow: hidden;
}
#line{
	margin-bottom: 4rem;
	background: url(../img/ico_line.jpg) center left repeat-y;
	background-size:50px;
}
#line article{
	margin-left: 60px;
}
#line section{
	position: relative;
	min-height: 60px;
	clear: both;
}
.content b{
	color:#333;
	opacity: 0.88;
	font-size: 1.2rem;
	font-weight: 400;
	font-size: 1.75rem;
	line-height: 3.5rem;
}
#line article span{
	color: #7a7a7a;
	font-size: 1rem;
	font-style: italic;
	line-height: 2.25rem;
}
#line article p{
	font-size: 0.9rem;
	padding-left:1rem;
	text-indent: -0.5rem;
}
#line article em,
#line article em br{
	font-size: 0.75rem;
	line-height: 1px;
	color:#bbb;
}
#line .now{
	background: url(../img/ico_now.jpg) top left no-repeat;
	background-size:50px;
}
#line .in{
	background: url(../img/ico_in.jpg) bottom left no-repeat;
	background-size:50px;
}
#line .out{
	background: url(../img/ico_out.jpg) bottom left no-repeat;
	background-size:50px;
	min-height: 60px;
}
#line .start{
	background: url(../img/ico_start.jpg) bottom left no-repeat;
	background-size:50px;
}
#line div{
	width: auto;
	margin-bottom: 20px;
}
#line div em{
	line-height: 1;
	height: 12px;
	display: inline-block;
	padding: 2px 5px;
	margin-left: 0.5rem;
	background-color: #efefef;
	border-radius: 6px;
}
footer{
	margin-top: 20px;
	color: #7a7a7a;
	background-color: #fafafa;
	font-weight: 300;
	clear: both;
	border-top: thin solid #f3f3f3;
	padding: 2rem;
	text-align: center;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.content {
	background: #fff;
	color: #373737;
	clear: both;
}
.content > div {
	display: none;
	xxpadding: 20px 25px 5px;
}

input[name="tabs"] {
	display: none;
}
label {
	display: block;
	padding: 0 0 15px;
	text-align: center;
	float: left;
	margin-bottom: 15px;
	width: 33.3%
}
input:checked + label {
	border-bottom: 2px #ddd solid;
}

#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4 {
	display: block;
}

@media screen and (max-width: 48em) {
	h1{
		margin-left:1.5rem;
	}
	nav{
		margin-right:1.5rem;
	}
	div.wrap{
		margin: 0 3.5rem;
	}
}

@media screen and (min-width: 48em) and (max-width: 64em) {
	h1{
		margin-left:1.5rem;
	}
	nav{
		margin-right:1.5rem;
	}
	div.wrap{
		margin: 0 5rem;
	}
}