@charset "utf-8";
/* 

File Name : style.css
Author : Park Hyunmyung
Date : 2009.03.01.

 */

h1,h2,hr,.profile {
display:none;
}
ol {
margin:100px 0 0 53px;
padding:0;
list-style:none;
}
li {
text-indent:-9999px;
overflow:hidden;
}
#all {
width:710px;
height:100%;
margin:0 auto;
padding:0;
background:url(images/bg-all.jpg) top center no-repeat;
overflow:auto;
}
.gallery {
width:406px;
}
a.btn1,a.btn2,a.btn3,a.btn4,a.btn5,a.btn6,a.btn7,a.btn8,a.btn9,a.btn10,a.btn11,a.btn12,a.btn13 {
display:block;
width:346px;
height:46px;
background:top left no-repeat;
}
a.btn1 {
background:url(images/btn01.jpg);
}
a.btn2 {
background:url(images/btn02.jpg);
}
a.btn3 {
background:url(images/btn03.jpg);
}
a.btn4 {
background:url(images/btn04.jpg);
}
a.btn5 {
background:url(images/btn05.jpg);
}
a.btn6 {
background:url(images/btn06.jpg);
}
a.btn7 {
background:url(images/btn07.jpg);
}
a.btn8 {
background:url(images/btn08.jpg);
}
a.btn9 {
background:url(images/btn09.jpg);
}
a.btn10 {
background:url(images/btn10.jpg);
}
a.btn11 {
background:url(images/btn11.jpg);
}
a.btn12 {
background:url(images/btn12.jpg);
}
a.btn13 {
background:url(images/btn13.jpg);
}