@charset "utf-8";

/* 
------------------------------------------------------------
file name: google.css
Author: H.Park
last updated: 2007.08.15

======================= INDEX ===========================

   1: Style Changing Setting
   2: Browser-style reset
   3: aid for non-CSS-compliant Browser
   4: Background & Layout
   5: Entry
   6: Side Navigation
      Common
	  Search
	  Category/Archive
   7: Calendar
   8: Footer

============================================================
*/


/* 2: Browser-style reset
------------------------------------------------------------ */
* {margin: 0; padding: 0; font-size: 100%;}
body {
	color: #000;
	font: normal 75% arial, Helvetica, sans-serif;
	line-height: 1.4;
	/*\*/
	letter-spacing: 0.1em;
	/**/
	}
html:first-child body {font-size: 80%;}
img, fieldset {border: none;}
a {color: #000;}
a:link {color: #00f;}

/* 3: aid for non-CSS-compliant Browser
------------------------------------------------------------ */
.aid {position: absolute; left: -9999px; overflow: hidden; width: 0;}

/* 1: Style Changing Setting
------------------------------------------------------------ */
#styleSwitch {
	position: absolute;
	top: 20px;
	right: 16px;
	width: 200px;
	text-align: center;
	}
#styleSwitch h2 {
	font-weight: normal;
	font-family: "Segoe UI", "Helvetica", sans-serif;
	}
#styleSwitch li {
	display: inline;
	padding-right: 2px !important;
	padding /**/: 0;
	}
	
/* 4: Background & Layout
------------------------------------------------------------ */

body {
	background: #fff repeat-x top left;
	text-align: center;
	}
#container {
	position: relative;
	width: 820px;
	margin: 0 auto;
	text-align: left;
	}
#banner_header {
	position: absolute;
	top: 35px;
	left: 50%;
	width: 500px;
	height: 100px;
	margin: 0 0 0 -250px;
	background: url(../images/google/logo.jpg) no-repeat top left;
	}
#banner_header a {
	display: block;
	overflow: hidden;
	height: 50px;
	margin: 0 auto;
	padding-top: 50px;
	text-indent: -9999px;
	}
#pagebody {
	position: absolute;
	top: 180px;
	width: 100%;
	}
#contents, #menu {
	position: relative;
	padding: 0 0 20px 0;	
	}
#contents {
	float: left;
	width: 70%;
	}
#menu {
	float: right;
	width: 30%;
	}

/* 5: Entry
------------------------------------------------------------ */
.date_header {
	position: relative;
	font-size: 90%;
	font-weight: normal;
	}
.entry {
	position: relative;
	background: none;
	width: 100%;
	}
.entry_header {
	font-size: 116%;
	padding: 3px 10px;
	border-top: 1px solid #36c;
	background: #e5ecf9;
	}
.entry_body p {
	margin: 1em;
	}
.entry_body blockquote {
	margin: 1em;
	padding-left: 10px;
	border-left: 1px solid #666;
	color: #666;
	}
.entry_body p.entry_footer {
	padding: 1em 1em 2em;
	font-size: 90%;
	}
.entry_body p.entry_footer a {
	color: #008000;
	}

/* 6: Side Navigation
------------------------------------------------------------ */

	/* Common
	---------------------------------------------*/
	.module_header {
		margin: 5px;
		padding: 0 10px;
		font-size: 90%;
		}
	.module_content {
		padding: 0 30px;
		font-size: 90%;
		}
	.module {
		margin: 0 0 5px 5px;
		border: 1px solid #36c;
		}

	/* Search
	---------------------------------------------*/
	.module_search {
		position: absolute;
		top: -40px;
		left: -380px;
		border: none;
		}
	.module_search .module_header {
		display: none;
		}
	.module_search .module_content input {
		vertical-align: middle;
		}
	.module_search .module_content #search {
		width: 200px;
		border: #a7a6aa 1px solid;
		background: none;
		}
	
	/* Category/Archive
	---------------------------------------------*/
	.module_list_item {
		list-style: none;
		margin: 0 0 0.5em;
		}
	ol li {
		list-style-type: decimal;
		margin: 0.5em 1em 0.5em 4em;
		overflow: visible;
		}
	
/* 7: Calendar
------------------------------------------------------------ */
#calendar {
	margin: 0 0 5px;
	text-align: center;
	}
#calendar table {
	width: 95%;
	margin: 0 auto;
	font-size: 90%;
	}
#calendar th, #calendar td {
	padding: 1px;
	text-align: center;
	}
#calendar th {
	font-size: 0.75em;
	background: #ddd;
	}

/* 8: Footer
------------------------------------------------------------ */
#footer {
	position: relative;
	clear: both;
	bottom: 0;
	float: left;
	width: 100%;
	height: 65px;
	padding: 0;
	text-align: center;
	}
#footer .module {
	position: relative;
	float: left;
	margin: 10px 0 -15px;
	padding: 0;
	border: none;
	}
.copyright {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	}