@charset "UTF-8";
<?php header("Content-type: text/css");?>
/*
Title : Style sheet for the effect related on tooltip.
Author : Cody Lindley 
Modified & Optimized : Park Hyunmyung
*/
/* Prevent from Error */
* {
	padding:0;
	margin:0;
}
/* Selector */
#JT_close_left {
	font-size:10px;
}
#JT_copy p, #JT_copy ul {
	font-size:10px;
}
/* Base */
#contentPad {
	margin:20px;
}
/* Tooltip */
#JT_arrow_left{
	position:absolute;
    top:-3px;
	left:-12px;
	width:10px;
	height:23px;
	background:url(../images/arrow_left.gif) top left no-repeat;
	z-index:101;
}
#JT {
	position:absolute;
	background-color:#fff;
	z-index:100;
}
#JT_copy {
	position:absolute;
	bottom:20px;
	width:232px;
	padding:5px 10px;
	border:2px #ccc solid;
	background:#fff;
	color:#333;
}
.JT_loader {
	width:100%;
	height:12px;
	background-image:url(../images/loader.gif) center center no-repeat;
}
#JT_close_left {
	width:250px;
	margin:-2px 0 0 -2px;
	padding:2px 0 5px 8px;
	background:#ccc;
	color:#444;
	text-align:left;
	font-weight:bold;
}
#JT_copy p {
margin:3px 0;
}