html {
 margin: 0px;
 padding: 0px;
 background-color: #000;
}

body {
 background-color: #000;
 color: #fff;
 font: 20px/20px Helvetica, sans-serif;
 text-shadow: #000 2px 2px 3px;
 padding: 0px;
 margin: 0px;
}

a, a:visited, a:hover, a:link {
 text-decoration: none;
 color: #eee;
}

#main {
	width: 320px;
	height: 500px;
}

#canvas {
}

/* toolbar */

#toolbar {
	width: 320px;
	background: black url('../apps/images/bg/gloss1.png') repeat-x;
	height: 54px;
}
#toolbarCont {
	padding: 10px 10px;
}

#title, #title2 {
	font-weight: bold;
	color: #888;
}
#title {
	position: absolute;
	margin: 0px 105px;
	top: 17px;
	left: 0px;
	text-align: center;
	font-size: 16px;
	width: 110px;
}
#title2 {
	text-align: center;
	float: left;
	clear: none;
	padding-top: 7px;
	margin-left: 15px;
	font-size: 14px;
}
#title a, #title2 a {
	color: #888;
}

/* buttons */

.btn, .back {
	float: left;
	clear: none;
	background: url('../apps/images/controls/btn-right-gray.png') no-repeat scroll top right;
    height: 32px;
    font-size: 13px;
    line-height: 16px;
    white-space: nowrap;
}
.btn div, .back div {
    background: url('../apps/images/controls/btn-left-gray.png') no-repeat;
    height: 16px;
    padding: 8px 0px 8px 10px;
    margin-right: 10px;
    float: left;
}
.btn:active, .back:active {
    background-position: bottom right;
    color: #ddd;
}

.btn:active div {
    background-position: bottom left;
    padding: 9px 0px 7px 10px; /* push text down 1px */
}

#btnAdd {
	float: right !important;
	clear: none;
	display: block;
	width: 40px;
	height: 32px;
	margin-left: 8px;
}
#btnEditSaved, #btnEditingSaved {
	float: right !important;
	clear: none;
}
#btnAdd img {
	margin: 0px 3px;
}

#btnEdit {
	margin-right: 0px;
}

#btnEditing, #btnEditingSaved {
	background: transparent url('../apps/images/controls/btn-right-blue.png') no-repeat scroll top right !important;
}
#btnEditing div, #btnEditingSaved div {
	background: transparent url('../apps/images/controls/btn-left-blue.png') no-repeat !important;
}

.back div {
	background: transparent url('../apps/images/controls/btn-back-gray.png') no-repeat !important;
	padding-left: 15px;
	float: left;
}
.back:active {
	background-position: bottom right !important;
}
.back:active div {
	padding: 9px 0px 7px 15px !important; /* push text down 1px */
	background-position: bottom left !important;
}

/* Items */

#list {
	width: 100%;
}

.item {
	float: left;
	clear: both;
	background: url('../apps/images/bg/bg-white-to-black.png') repeat-x scroll top right;
	width: 320px;
}

.actionCont {
	float: left;
	clear: none;
	padding: 7px 8px 6px 9px;
}
.action {
	float: left;
	clear: none;
	width: 0px;
	height: 0px;
}

.arrowCont {
	float: left;
	clear: none;
}
.more .arrowCont {
	background: url('../apps/images/actions/arrow3.png') right 6px no-repeat;
}
.add .arrowCont {
	background: url('../apps/images/actions/add.png') right 9px no-repeat;
}
.x .arrowCont {
	background: url('../apps/images/actions/x.png') right 9px no-repeat;
}
.added .arrowCont {
	background: url('../apps/images/actions/added.png') right 7px no-repeat !important;
}

.item a {
	display: block;
	float: left;
	clear: none;
	width: 303px;
	padding: 5px 0px;
}

.added, .checked  {
	background-color: black !important;
}
.added a, .checked a {
	color: #888;
}

.checked {
	background-color: transparent !important;
	color: #666;
}
.actionable a {
	width: 275px;
}
.actionable .actionCont {
	background: url('../apps/images/actions/check1.png') 8px 10px no-repeat;
}
.actionable .actionCont .action {
	width: 20px;
	height: 30px;
	padding-right: 8px;
}
.checked .actionCont {
	background-image: url('../apps/images/actions/check2.png') !important;
}
.del .actionCont {
	background: url('../apps/images/actions/del.png') 11px 13px no-repeat !important;
}

.cat {
	float: left;
	clear: both;
	width: 320px;
}

.infoText {
	padding: 20px 20px 15px 20px;
	text-align: center;
	background: transparent url('../apps/images/bg/bg-top-white.png') repeat-x;
}
.infoText span {
	font-size: 16px;
	color: #888;
}
.infoText div {
	line-height: 24px;
}
.infoText span a  {
	color: #aaa;
}

/* form */

form {
	padding: 0px;
	margin: 0px;
}
input {
	text-shadow: none;
}

#enter {
	text-align: center;
	padding: 7px 15px;
	background: transparent url('../apps/images/bg/bg-top-white.png') repeat-x;
}
#entered {
	width: 93%; /* layout bug in safari if input is 100% */
	font: 20px/20px Helvetica, sans-serif;
}

#enterNote {
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
	margin-top: 0px;
	color: #888;
	font-size: 16px;
	padding-bottom: 10px;
}
#enterNote span {
	color: #bbb;
}
#editSavedNote {
	float: left;
	clear: both;
	text-align: center;
	margin: 15px 20px;
	color: #888;
	font-size: 14px;
	line-height: 16px;
}
#btnAddEntered {
	margin-top: 7px;
}

#btnClear {
	margin-left: 15px;
}

.arrow {

}

.agray  { background-color: #217878; }
.byellow{ background-color: #c06800; }
.cgreen { background-color: #2a771d; }
.dorange{ background-color: #8a5517; }
.eteal  { background-color: #124043; }
.fblue  { background-color: #214180; }
.gpurple{ background-color: #842d85; }
.hrose  { background-color: #52595d; }
.ired   { background-color: #a6240f; }
.zgold  { background-color: #969415; }

.clear  { background-color: #111111; }

.dim { color: #888; }

#dump {
	color:black;
}

a img {
	border: 0px;
}

#ad {
	background: url(../apps/images/bg/bg-top-white-small.png) repeat-x;
	padding: 30px 0px 20px 40px;
	width: 280px;
	float: left;
	clear: both;
}